[2017-08-10 01:18] jordanh opened #1234 "Removing GitHub integration can leave stray repos"
## Issue - Bug

Reproduction steps:

1. Add GH integration
2. Add 2-3 repos
3. Click "Remove Integration"

Watch:

![gif](http://g.recordit.co/JacMT60MwO.gif)

Note: this failure is intermittent.

- **OS:** OSX
- **Browser:** Chrome
- **Estimated effort:** 11 points

### Acceptance criteria
A user can:
 - Remove the integration and have all repos reliably removed

[2017-08-10 03:34] mattkrick commented on #1198
ah, so if the activeElement is not the body, then disable the button press

[2017-08-10 13:33] mattkrick commented on #1234
how did you start out with a repo with no members?

[2017-08-10 13:34] mattkrick commented on #1233
what's the desired flow here? let them in settings or disable the button?

[2017-08-10 14:04] mattkrick opened #1235 "GitHub Integrated Card: Assignee Problems"
Few questions that need to be answered before moving forward. High priority because these answers are blocking progress on the current sprint. Answers can be long-term goals (for example, we could make assignees "subscribers", but then again, issues already let you subscribe...)

Creating on github:
- What happens when an issue is created on GitHub with no assignees? What will we do with it?
- Wha

[2017-08-10 14:54] jordanh commented on #1234
Good eye! This was because I repro'd this bug twice. By adding 2-3 repos and then removing the integration, it can leave a repo with no members. When I then made the gif, that repo was already there...

[2017-08-10 14:55] jordanh commented on #1233
I think it's probably "disable the button." But, I'm not sure. I think we can safely let this bug sit awhile until we collect more data.

[2017-08-10 15:20] jordanh opened #1236 "GitHub UX – add org third-party access tip"
## Issue - Enhancement

When I created a new org on GitHub to test integrating a team with a repo, I couldn't get the repo to list. @mattkrick informed me I needed to acccess my GitHub organization's "Third-party access" settings and change the policy to `No restrictions`:

![image](https://user-images.githubusercontent.com/103000/29177805-889195c2-7da4-11e7-9941-ca3376dcefe4.png)

Without making

[2017-08-10 15:56] mattkrick commented on #1236
i was thinking about this last night & i think it'd be good info for a help modal, but then again:
- setting up webhooks only works if they are the admin for the github org
- if they have integrated any other 3rd party apps, they've already done this
- these webhooks are more of a convenience than a necessity

for those reasons, i don't think it's critical that we make them follow a list of steps.

[2017-08-10 15:58] jordanh commented on #1236
I think there is a good chance that as an org admin they are setting up their first 3rd party app and could get stuck. For data, I cite myself 👅

What do you think about starting with a link to external documentation? I can get that setup quickly and we can evolve from there...

[2017-08-10 16:17] mattkrick commented on #1236
i absolutely hate external documentation. it goes back to windows 95 when you have a problem, hit F1 & you're given a book & you double click the chapter, you read all about it and after the whole thing you still didn't get resolution, so you click the index button, type in every possible keyword, still nothing. then sites copied that model & put a half assed "still have questions? contact us" at

[2017-08-10 17:06] jordanh commented on #1236
I like this. Ok, let's then prioritize this for two-way sync since it'll be related. Sound good?

[2017-08-10 17:06] jordanh commented on #1236
Err – one-way sync (currently Epic 9)

[2017-08-11 00:11] jordanh opened #1237 "GitHub org user removed webhook server exception"
## Issue - Bug

Reproduction steps:

1. Add test repo belonging to a GitHub org to a Parabol team with linked user Jordan
2. Create new issue assigned to Jordan from Parabol team dashboard
3. Remove Jordan from GitHub org on GitHub
4. Expect that Jordan is unlinked from repo (and that card is archived)

Observed:

[code]

[2017-08-11 18:02] mattkrick commented on #1237
fixed

[2017-08-11 18:02] #1237 closed

[2017-08-11 22:56] mattkrick commented on #1235
@jordanh please review:

Creating on github:
- What happens when an issue is created on GitHub with no assignees? What will we do with it?
  - We ignore it. it doesn't exist to us.
- What happens when an issue is created on GitHub with > 1 assignee?
  - choose the first integrated assignee. ignore the rest
- What happens when an issue is created on GitHub with an assignee that isn't integrated?

[2017-08-11 23:13] jordanh commented on #1235
My thoughts below:

Note for below 'near' may mean 'first when we can', not now. 'far' means maybe sometime in the future.

Creating on github:
- What happens when an issue is created on GitHub with no assignees? What will we do with it?
   - near: we ignore, far: we make it configurable to assign to a specific fallback person (we're a bot!)
- What happens when an issue is created on GitHub with >

[2017-08-12 00:58] jordanh opened #1238 "GitHub user added/removed from org hook enhancement"
## Issue - Enhancement

This is part bug, part enhancement.

### The bug part

Currently, when the Parabol server receives a GitHub hook notifying us that a user has joined or left a GitHub the logic that handles this doesn't link or unlink the user from the repos integrated with us.

### The enhancement part

When a user becomes unlinked from a repo, I want the Project Cards owned by this user to

[2017-08-12 01:36] #1231 closed

[2017-08-12 15:22] jordanh opened #1239 "Octocat styling regression"
## Issue - Bug

I don't know how I missed this until now, but it looks like our Octocat watermark styling regressed. Here's a GitHub linked issue card from `staging`:

![image](https://user-images.githubusercontent.com/103000/29241874-5dffe342-7f37-11e7-9029-6e974ebe704f.png)

- **OS:** OSX
- **Browser:** Chrome
- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc

[2017-08-12 22:51] mattkrick opened #1240 "Remove Team Member: send to pubsub"
leaving a team should send a message to the pubsub listing out the repos that should be unjoined. we don't do this yet because i want to refactor it to follow the rule that all pubsub calls should be called directly from the mutation because nesting those in helpers can get confusing & cause double messages

[2017-08-12 23:49] mattkrick opened #1241 "remove dupes in db project tags"
i'm seeing multiple "archive" tags in the db. that's no good. we should make sure there's on ever 1.

[2017-08-13 00:28] mattkrick commented on #1235
@jordanh

there's no swaps, only add & remove. to perform a swap in github, you either add a new assignee & then remove the old one, or remove the old one, then assign the new. this makes it challenging because if you assign the new one first, then we will ignore that call. then, when you remove the old one, we need to call github again to see if there assignees left to become the owner.

alternat

[2017-08-13 00:38] mattkrick commented on #1235
another consideration: bringing a card from out of the archive isn't always what they want. For example, let's say i finished a project. then, someone goes back to that closed issue & adds an assignee. sure, we should change the owner in parabol. but should we take the #archive tag off of it? the thing was already finished. Maybe a good-enough heuristic is to bring it back from the archive if the

[2017-08-13 16:09] jordanh commented on #1235
These are good points. Ok, so:

My thoughts below:

Note for below 'near' may mean 'first when we can', not now. 'far' means maybe sometime in the future.

Creating on github:
- What happens when an issue is created on GitHub with no assignees? What will we do with it?
   - near: we ignore, far: we make it configurable to assign to a specific fallback person (we're a bot!)
- What happens when an i

[2017-08-13 16:43] jordanh commented on #1235
We should most definitely write up a high-level document that shows the mapping of our states to GitHub states and vice-versa. Ideally, it would be a pair of tables (CRUDs Parabol -> GitHub, CRUDs GitHub -> Parabol) we could reuse for many kinds of integrations.

Yeah, I was just plain wrong here.

Thinking about cases, I think we could get ourselves into a lot of trouble mapping our two states (D

[2017-08-14 20:03] mattkrick opened #1242 "create GH issue: assignees"
it's possible for an assignment to fail if the repo is public & the person creating the issue is not in the org. For example, parabolmatt can create an issue on a public repo, but cannot assign himself because he's not an admin.
Per GH docs:

The above isn't entirely accurate because the GitHub website allows you to additionally assign contributors (not only collaborators), to personal repos if th

[2017-08-14 21:44] tayamueller opened #1243 "Facilitator tethering issue"
## Issue - Bug

When conducting 2nd session with a user group:
1) Facilitator advanced to 2nd teammate during 1st teammate's Social Check-In. (forgot we were all tethered to him)
2) Facilitator returned to 1st teammate but the other users had all become untethered
3) Facilitator attempted to return to beginning of meeting.
4) Other teammates hit refresh
5) Facilitator was kicked off of Facilitator

[2017-08-14 22:12] mattkrick commented on #1243
3. what does beginning of meeting mean? they facilitator was already on the 1st teammate of the checkin round, where did he go from there?

5. did the facilitator hit refresh? the facilitator should not lose control unless he does

6. can you define subsequent meeting? this whole thing occurred during the 2nd meeting, right? any details on what changed & when?

[2017-08-14 22:15] jordanh commented on #1243
The resulting bug state is _way_ interesting. Here's the view of the user:

![image](https://user-images.githubusercontent.com/103000/29293770-1fe6ed64-8101-11e7-9219-1ed6312d12ea.png)

Now, when the go to join the meeting:

![image](https://user-images.githubusercontent.com/103000/29293784-2d695670-8101-11e7-8f97-ec2e38cc650e.png)

(more notes coming)

[2017-08-14 22:19] jordanh opened #1244 "Switching from My Dashboard to Team causes blank render"
## Issue - Bug

1. Log in as oliver@hirevisor.com
2. Navigate from My Dashboard to his team
3. Observe:

![gif](http://g.recordit.co/ci7T6UxKJh.gif)

This smells like a router issue to me...

Thank you @oliver-zhou for reporting this!

- **OS:** OSX
- **Browser:** Chrome (Chrome Version 60.0.3112.90 (Official Build) (64-bit))
- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.c

[2017-08-14 22:27] jordanh opened #1245 "Project disappears when dragged to Done column"
## Issue - Bug

Only on My Dashboard, when the user drags a project from Active->Stuck or Active->Future it works fine. However, when the drag the project from Active->Done the card disappears (although the Done column counter indicates the card is in that column). Observe:

![gif](http://g.recordit.co/o9etggIYYV.gif)

Note also that when the navigate to their team board, the dragged Project card

[2017-08-14 22:37] jordanh commented on #1245
This exception may also be related: https://sentry.io/parabol/action-production/issues/328403328/

[2017-08-15 02:32] mattkrick opened #1248 "remove unlink for adminUserId"
the adminUserId for a github repo should probably not be allowed to unlink from a repo.
There's nothing wrong if they do, but we'll occasionally use their token to do things for that repo, which isn't great.

[2017-08-15 03:57] #1228 closed

[2017-08-15 03:57] #1243 closed

[2017-08-15 04:24] jordanh opened #1249 "TypeError: Cannot read property 'ownerDocument' of null"
https://sentry.io/parabol/action-staging/issues/328541210/

[code]

[2017-08-15 04:25] jordanh commented on #1249
This is low priority bug.

Repro steps:

1. Create a project card with empty content
2. Focus away
3. If the database is slow to propagate the `remove` event, you'll have time to drag the card to another column. Do so.
4. Observe above exception

NBD

[2017-08-15 04:36] jordanh commented on #1239
Fixed in `v0.20.2`

[2017-08-15 04:36] #1239 closed

[2017-08-15 15:28] jordanh opened #1251 "Rejoin Facilitator button z-index incorrect (unable to click when over Project card)"

[2017-08-15 15:30] jordanh commented on #1251
![image](https://user-images.githubusercontent.com/103000/29322881-f9c74cbc-8193-11e7-80f9-e927f58c1bc1.png)

[2017-08-15 15:33] mattkrick opened #1252 "fix several are editing bug"

[2017-08-15 15:40] jordanh commented on #1252
I imagine this'll be a hotfix 🌶

[2017-08-15 15:49] #1159 closed

[2017-08-15 15:59] #1225 closed

[2017-08-15 16:01] #1222 closed

[2017-08-15 16:32] mattkrick commented on #1210
duplicate of #1069

[2017-08-15 16:32] #1210 closed

[2017-08-15 16:32] mattkrick commented on #1069
final copy: What's changed since our last meeting?

[2017-08-15 16:38] mattkrick commented on #964
start from a random place in the index. & then just go from there.

[2017-08-15 16:57] #1165 closed

[2017-08-15 17:55] oliver-zhou commented on #1245
Looks good to me now

[2017-08-15 17:56] oliver-zhou commented on #1244
Looks good now too

[2017-08-15 18:49] mattkrick opened #1253 "regression on clicking card menus"
so by adding the menus, we encounter another regression where you can no longer change the owner/status until you type something first. this thing keeps creeping up on every change, so i want to make this more robust.

When we want to trigger an update:
- The editor state loses focus (the #private example, typing private & then clicking the owner should set it to yellow)
- the card state loses foc

[2017-08-15 18:53] jordanh commented on #1245
Thank goodness! Thank you again _so_ much @oliver-zhou for helping us out here. Feel free to open issues for _anything_ (even features you'd like to see).

[2017-08-15 18:53] jordanh commented on #1244
💃 🕺

[2017-08-15 18:53] #1244 closed

[2017-08-15 18:54] #1245 closed

[2017-08-15 19:09] jordanh commented on #1220
Here's a starting proposal:

   1. When we discover the token needs a refresh (e.g. due to a failed request), we send the Team Leader a notification that the connection to Slack needs to be refreshed and direct them via some helpful copy to re-add the integration.

   1. _Optional:_ we add some error state to the Slack integration page stating the same or similar

   1. We keep the configuration,

[2017-08-15 19:21] mattkrick commented on #1253
so this is really 2 problems:
- when to update
- when to delete

deleting is easy, the logic is we want to delete if `!cardHasFocus && !cardHasOpenMenu && !cardHasContent`. (how we get that is another story...)

updating is difficult because currently, we send off 2 updates when we only need to send 1.
It's possible to blur the editor state w/o blurring the card. so, since we've got 2 events comin

[2017-08-15 21:31] #684 closed

[2017-08-15 21:39] mattkrick opened #1255 "Shudder when clicking link urls"
Repro:
- Create 2 cards
- Add a link to each
- Click the first link, then the 2nd one, then the first, etc.
- Sometimes you'll notice a shudder, where the whole dashboard flashes maybe 20 pixels to the left & then back to normal real quick

[2017-08-15 22:07] totally-not-dan opened #1258 "Outcome Card editing state turns off when the link modal is open"
## Issue - Bug

- **OS:** Linux (I know, I know...)
- **Browser:** Chrome and FF Nightly
- **Node version:** v7.10.1
- **NPM version:** 5.3.0
- **RethinkDB version:** rethinkdb 2.3.6~0zesty (GCC 5.4.1)
- **Estimated effort:** 13 points perhaps given my familiarity with the app

To reproduce:

- Pick an outcome card
- Note the header displays "Created X minutes ago"
- Now select/edit that card
- No

[2017-08-15 22:10] mattkrick commented on #1258
I'll let @jordanh confirm point values, but i think this a great little batting practice.

[2017-08-16 00:49] jordanh commented on #1258
13 points, confirmed! @totally-not-dan it's yours.

I'd recommend submitting a PR early and pushing to that branch. It's helped folks get feedback as they go along...

[2017-08-16 01:59] #1252 closed

[2017-08-16 01:59] #1253 closed

[2017-08-16 02:24] #1242 closed

[2017-08-16 05:23] jordanh opened #1260 "My Dashboard OutcomeCard missing Team name"
## Issue - Bug

I just deployed v0.20.3 and logged into production. I kept thinking to myself _something_ looks funny about my dashboard post the GitHub epic. And then I figured it out: I was looking at a bunch of avatar photos of myself and no team name!

Observe:

![image](https://user-images.githubusercontent.com/103000/29348413-4e179988-8208-11e7-9b15-bbace56375ef.png)

Let's fix this while we

[2017-08-16 14:22] totally-not-dan commented on #1258
Sounds good! Will ping as soon as I do so.

[2017-08-16 19:44] #1260 closed

[2017-08-16 20:07] oliver-zhou opened #1264 "Automatic URL / link detection doesn't handle websites without a subdomain"
## Issue - Enhancement
I've noticed that URLs/domains/links are automagically detected, which is nice.
However, it doesn't handle domains that do not have a subdomain. i.e., api.hirevisor.com, www.hirevisor.com are detected and handled properly, but it seems that hirevisor.com isn't detected. As a regression, I tested this against Trello - which properly handles all 3 url formats.

I think if the

[2017-08-16 20:08] oliver-zhou commented on #1264
Interesting note - I guess github only handles www.*.com urls

[2017-08-16 20:11] mattkrick commented on #1264
oh this is a fun one! i'll fix that up today & get it in the next release

[2017-08-16 20:13] mattkrick commented on #1264
@oliver-zhou just for my own sanity, can you assure me that you hit space after `hirevisor.com`? just tried it out & it happens if you hit space, but you're absolutely right that it does _not_ happen when you finish editing

[2017-08-16 21:48] mattkrick commented on #1238
assigning to terry for the UI flow. couple thoughts:

currently, card errors are not persisted, which means either the error only shows to folks who are currently online, or we have to persist those errors.
if someone gets kicked out of a GH org, they're probably gonna get kicked off the team soon enough. can we just wait till then?

[2017-08-16 21:52] mattkrick commented on #1183
Assigning to @ackernaut cause this sounds like a healthy amount of squarespace stuff

[2017-08-16 22:29] oliver-zhou opened #1266 "Viewing Team Archived Projects causes all cards to disappear when returning to the Team Page."
## Issue - Bug

Same issue as #1244, except its triggered via hitting "See Archived Projects" in the Team Page.
Sometimes takes more than one full cycle of "See Archived Projects" -> "Back to Team Projects" to trigger.

On URL https://action.parabol.co/team/HkZ_gKAyb
![image](https://user-images.githubusercontent.com/906828/29387957-79c1e450-8297-11e7-8981-6cb3c4974dce.png)

Then - click "See Arch

[2017-08-16 23:08] oliver-zhou opened #1269 "URL / URI Reference to Project"
## Issue - Enhancement

Would also love a URI / URL method of referencing any specific project. i.e.,

Hey, Oliver, have you had a chance to take a look at "https://action.parabol.co/team/HkZ_gKAyb/project/#1000"? I made some comments about a better way to do this item.

Then, clicking the link would open Parabol to the exact specific Project referred to here.

- **Estimated effort:** 13 Points

[2017-08-16 23:12] oliver-zhou opened #1270 "Archived Projects do not show up for https://action.parabol.co/team/HkZ_gKAyb"
## Issue - Bug

For our team, old items do not show up in the "Show Archived Projects"

https://action.parabol.co/team/HkZ_gKAyb

I don't see things from previous weeks or even test/example projects that I created to see if I could get Archived projects to show up.

- **OS:** macOS 10.12.6 (16G29)
- **Browser:** Chrome  60.0.3112.101 (Official Build) (64-bit)
- **Estimated effort:** 13 points

[2017-08-16 23:14] oliver-zhou commented on #1270
Possibly related to the issue where our Team was stuck in "Meeting Mode" that @jordanh manually fixed for us. (Unsure if there was a github issue tracking that)

[2017-08-16 23:24] oliver-zhou commented on #1264
@mattkrick you're right - this seems to happen regardless of URL type if there is no trailing space.

[2017-08-17 00:13] oliver-zhou commented on #1270
I archived a card called "asdf"

[2017-08-17 00:19] mattkrick commented on #1264
oh cool, i'll close as working as intended. as cool as it'd be to linkify the url when you finish editing, i could see that getting really annoying if you didn't want it linkified

[2017-08-17 02:44] oliver-zhou commented on #1264
@mattkrick I'd still prefer it to match other tools I'm familiar with - and by that I mostly mean Trello, which can generates a link without require a space after the URL if typed

[2017-08-17 02:59] mattkrick commented on #1269
i cannot _wait_ to build this! we've got some designs already planned out with the future a single card including a way to subscribe to updates, comments, due dates, "stuck-behind", all that good stuff. If you've got any must-haves don't be shy!

[2017-08-17 05:05] mattkrick commented on #1264
@oliver-zhou

[2017-08-17 17:40] oliver-zhou commented on #1264
Obviously this boils down to your tastes. However, I think the right way is to default to link creation, since almost all my other tools do this on a regular basis, so that becomes my new expectation. The fully baked out method would be to allow something like "Right Click" -> "Remove Link" or something similar.

Gmail is another example - if I merely type hello.com or www.hello.com with a line br

[2017-08-17 19:12] mattkrick opened #1274 "Caret bug in draft-js in firefox"
Currently, clicking into a card & navigating the caret is a pain in FF:
https://github.com/facebook/draft-js/issues/1055

Digging into this would be a huge time sink, so i'll ignore for now.

[2017-08-17 21:00] jordanh opened #1275 "Project Card placeholder text"
## Issue - Enhancement

Let's make a project card have some placeholder text. My suggestion, _"describe what done looks like..."_

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-18 04:42] #1229 closed

[2017-08-18 04:42] #1248 closed

[2017-08-18 04:42] #1255 closed

[2017-08-18 04:42] #1275 closed

[2017-08-18 05:00] mattkrick commented on #1270
thanks for the heads up @oliver-zhou!
@jordanh may be worthwhile either cherrypicking this commit into a hotfix or just merging what we have of epic 6.5 to prod to fix this regression (pushin to prod on a friiiiiday).

[2017-08-18 05:16] #1241 closed

[2017-08-18 05:16] #1270 closed

[2017-08-18 05:18] mattkrick commented on #1224
keeping a blacklist seems like unnecessary state. i think it'd be easiest to:
- detect if it's a refresh
- if it is, then don't try to auto-join the repos

[2017-08-18 05:25] mattkrick opened #1276 "refactor emoji list to be async loaded"
suggestions don't need to be loaded until a trigger like #, @, or : is hit.
we need to refactor the EditorSuggestions to lazy load those. that way, we don't have to load a huge list of emojis when the page first loads.

[2017-08-18 17:02] ackernaut opened #1277 "Team trial modal backdrop blocks side nav"
## Bug

When somebody is on a team where the trial/sub has expired and said person is not the team lead they get a modal and the backdrop (set to not close when tapping) blocks the side nav.

Steps to reproduce:

- Be on a team where the trial expired
- Tap on the team with the ⚠️
- Try tapping “My Dashboard” or another team

In the meanwhile a user can try going back in the browser or manually ty

[2017-08-18 22:51] tayamueller opened #1278 "Onboarding: first Dashboard view enhancements"
## Issue - Enhancement

When a Team Leader OR a new teammate first joins Parabol, the pre-populated Team Dashboard should be a light guide for the FAQ we've observed over the last 6mos:

![onboarding revision](https://user-images.githubusercontent.com/14892189/29480256-f7199f34-8444-11e7-8ad0-19a255c4c9d7.jpeg)

Are there any other ideas for the Future column? [today+21d], [today+28d], etc.?

If p

[2017-08-19 17:07] jordanh opened #1279 "TypeError: Cannot read property 'includes' of undefined"
https://sentry.io/parabol/action-production/issues/331524599/

[code]

[2017-08-19 17:10] jordanh opened #1280 "TypeError: Cannot read property 'getBlockMap' of undefined (archive broken?)"
https://sentry.io/parabol/action-production/issues/329603473/

[code]

[2017-08-19 17:20] jordanh commented on #1279
Adam P hit this one after adding the GitHub integration. His steps:

1) Linked a private repo (I was also on the Parabol Team)
2) He created a card
3) He clicked the Octocat
4) He saw this exception on the console

[2017-08-19 17:27] jordanh opened #1281 "Meeting summary not sent? [v0.20.5]"
## Issue - Bug

Opening this one to track. After Adam P concluded his first team meeting, no summary email was sent.

I went into Mailgun and logged at the logs, it looks like the email was never submitted for delivery.

I looked on the server and went looking for exceptions, I didn't see anything obvious.

We should watch out for this one, in case there has been a regression.

[2017-08-19 17:28] jordanh commented on #1280
Adam P ran into this one

1. After archiving a bunch of cards on his team board
2. Navigated to the archive, so no archived cards
3. Observed this exception

Team id: `BJN5Fk8u-`

[2017-08-19 17:30] jordanh opened #1282 "Copy edit: Reduce "Create Project or Task" to just "Create Project""
## Issue - Enhancement

From user onboarding with Adam P, "what's the difference between a Project and a Task? How do I create a Task?"

The copy seems likes two possible kinds of things can be created, when in fact it's just the one.

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-19 17:32] jordanh opened #1283 "Move summary "Quick stats" above the fold..."
## Issue - Enhancement

Feedback from Adam P – the Meeting Summary quick stats should _always_ be above the fold – even above your "good job for first meeting!" and "schedule meeting" messages.

I agree with him, I think it entices folks to begin an eyeball scan downward.

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#poin

[2017-08-19 17:33] jordanh opened #1284 "Add segment events when folks integrate"
## Issue - Enhancement

Let's add some server-side segment events for when folks add an integration. It'd be great to know the usage stats.

- **Estimated effort:** 13 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-19 17:35] jordanh opened #1285 "GitLab integration"
## Issue - Enhancement

One user wrote in after our Friday Ship requesting an integration to GitLab. Opening this to track how many requests we get...

[2017-08-20 21:41] mattkrick commented on #1280
dupe of #1270. let's get what we already got of this PR merged on monday.

[2017-08-20 21:41] #1280 closed

[2017-08-20 22:21] mattkrick commented on #1279
oh this is a fun one. i can't reproduce it following those steps, but i can reproduce it as follows:
1. go to team dash
2. click the octocat
3. go to team settings > integrations > github
4. add a repo

it happens because the octocat button on the card cares about userIds, but when you add a repo, it only cares about teamMembers. userIds is a field that is sent lazily.
GitHubRepoListMenu is gettin

[2017-08-21 15:23] ackernaut commented on #1284
Duplicate of #1176

[2017-08-21 15:36] ackernaut commented on #1278
I like where you’re headed with this…

…does a user or team lead only get this for their first team opposed to every team?
…do we allow them to choose between a blank board or self-guided board (with these pre-populated cards) when they first complete the welcome steps?

My thoughts are “maybe yes” and “probably no” respectively.

[2017-08-21 17:51] tayamueller commented on #1278
Good Qs:

-I'd love for every user to get this view the first 5 times they join or start a team, then go 'way b/c it should be ingrained by then

-Maybe the Team Leader should get ALL the cards, and the other Teammates should only get the private cards?

-Nope. Fixed. I think the research has clearly shown that our users need more guidance to stick. Plus, it's super easy to "clear the board" if th

[2017-08-21 19:05] mattkrick commented on #1279
oh this was a _good_ one.
apparently `unmountComponentAtNode` can trigger a rerender up the react tree, and if the portal rerenders itself, then it can reopen a portal because we haven't gotten rid of `this.node` yet.
kinda surprised this happens in sync, i thought that rendering would be async. it'll be interesting to see how react 16 handles this.

[2017-08-21 19:06] #1279 closed

[2017-08-21 20:47] mattkrick opened #1286 "optimistically include avatar for adding a repo"
looks like i'm not getting the avatar picture optimistically. this should be stored in the store under the global User:userId or TeamMember:teamMemberId.

[2017-08-21 20:54] #1224 closed

[2017-08-21 21:25] #1206 closed

[2017-08-21 22:22] mattkrick commented on #1193
github does _not_ nullify old access tokens, which is great.
currently, we create 1 Provider per TeamMember, so no hard migrations needed.
the main benefit is the speed up for the client, since we don't need to contact parabol to see if they have a provider on another team that can be used.
the benefit for me is that i don't have to iterate over an array of 1 all the time.

[2017-08-22 00:26] #1193 closed

[2017-08-22 00:33] #1179 closed

[2017-08-22 01:20] tayamueller opened #1287 "Option for Stuck items to "Move to Agenda""
## Issue - Enhancement

Sometimes, a Stuck item needs to be escalated to a Team Agenda Queue.

Currently the steps are:
-(original card is in Stuck)
-related Agenda item is typed in Queue
-Agenda item is processed in Meeting
-(no access to original card) new card is typed
-redundant cards now exist

Would be nice to be able to simply "Move to Agenda" from inside the bottom right menu options:
-(or

[2017-08-22 06:45] mattkrick commented on #1177
hey @jordanh
what's the shape of the object you wanna send to segment?
most of the time, teamId is a peer to userId.
For endMeeting though, it's a peer but also lives under properties:
https://github.com/ParabolInc/action/blob/master/src/server/graphql/models/Team/endMeeting/endMeeting.js#L108-L117

Is this required? I feel like we only need it once, but if we need it twice here, I'd like to put i

[2017-08-22 15:52] jordanh opened #1288 "Project card reassignment lag"
When I reassign a Project card, there is some lag that we hadn't had in the past.

[2017-08-22 16:15] ackernaut commented on #1287
Duplicate of #1083

[2017-08-22 16:51] ackernaut opened #1289 "Invalid token error on sign-out"
## Bug

There is an issue with JWT upon signing out of the app locally or in production.

![screenshot 2017-08-22 11 49 54](https://user-images.githubusercontent.com/307286/29577220-45a2c52a-8730-11e7-8553-4c09afd35102.png)

**Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-22 17:08] mattkrick commented on #1289
fixed on my personal branch... i'm gonna go ahead & get that thing ready for merging

[2017-08-22 17:08] #1289 closed

[2017-08-22 17:09] mattkrick commented on #1288
moving to epic 8. the right way to do this is to make it an optimistic action. we'll do this when cards are fed by relay.

[2017-08-22 17:10] ackernaut commented on #1288
👍

[2017-08-22 17:24] mattkrick commented on #1177
hey @jordanh i see we're tracking stripe errors with segment. why use segment over sentry? feels like we should be calling raven instead of segment...

[2017-08-22 21:19] ackernaut commented on #1199
@mattkrick taking a look at how you handle `up` and `down` arrows in [withSuggestions.js](https://github.com/ParabolInc/action/blob/master/src/universal/components/ProjectEditor/withSuggestions.js). I want to see if I can use a similar pattern to select menu options once the menu opens. I’m curious where the `<ComposedComponent/>` comes from? Taking a 👀

[2017-08-23 01:59] burin commented on #854
I had to do some reading to build up some context to understand what "Segment integration to MailChimp" meant for me. I knew what each piece was on its own, but was unclear how they all would play together.

Here's what I learned! It might help someone else understand too.

#### Basic Context

- Parabol uses Segment to track events.

- Segment is a service that lets you push events/info to, and fr

[2017-08-23 02:56] mattkrick commented on #854
Hey Burin, looks like your understanding is spot on!
The best example I can think of is we add a sweet new feature and we wanna tell all our users about it.
To do that today, we'd have to query our DB, grab all the active users, go into mailchimp, make a new list, copy n paste, bleh.

It'd be so much easier to simply:
- copy all that stuff from our data into a new mailchimp list
- add to that list

[2017-08-23 03:36] mattkrick opened #1291 "Failed post-meeting email"
When wrapping up the meeting, i get this in the server console:
[code]

this is true on the prod server, as well as on dev & local.

The reason is because the SummaryEmail.js component was artfully crafted by Terry to avoid using aphrodite in able to ensure that it can be processed on the server & looks good in the email.
when we switched to draftjs, it looks like a dependency that uses aphrodite

[2017-08-23 03:41] mattkrick commented on #1291
well that was easy. the problem is, in this instance, with Hashtag.js, which is the component that styles our beautiful components like `#private`.

So, we've got 2 choices:
- Rewrite all decorators to use inline styles
- Write a 2nd set of decorators that use inline styles & use those for crafting the email.

So, do we go for a minor performance hit, or a major duplication of efforts?
For now, I'

[2017-08-23 03:48] #1291 closed

[2017-08-23 16:07] ackernaut commented on #1221
via recordit

![gif](http://g.recordit.co/m2kLX81yrG.gif)

[2017-08-23 17:54] jordanh commented on #854
Re-reading my own issue, I'm not sure if it the main idea was clear. This _isn't_ an issue to integrated Segment.io with MailChimp, it's to integrate our server backend directly with MailChimp's API.

The core issue is we _don't_ want to have to pay Segment, yet ;)

[2017-08-23 18:40] jordanh opened #1292 "extendedTrial doesn't remove old stripe subscription"
## Issue - Bug

When a user's trial is extended, the current implementation of the `extendedTrial` mutation does not remove the old Stripe subscription. This is a real bummer for users who's trial has elapsed as any subscriptions which have become active will invoice and charge the customer unexpectedly.

To fix this, we'll need to remove any active sub_ records from the customer on stripe before

[2017-08-23 21:26] ackernaut commented on #1283
see #1056 and #735

[2017-08-23 21:39] ackernaut commented on #1283
My proposal:

Currently we have…

- header (team name, date, go to dashboard link)
- message (way to go! **or** first time schedule recurring prompt **or** no agenda items?)
- quick stats
- map over teammates with new projects
- map over teammates with no new projects
- general appeal to ask us for help, give us feedback

I think we try A or B. Either can help with #1056:

A) We move the message a

[2017-08-23 21:41] ackernaut commented on #1283
we can wordsmith, too!

[2017-08-24 01:40] #1177 closed

[2017-08-24 01:57] #964 closed

[2017-08-24 02:22] mattkrick commented on #1151
This is not session-based so I'm gonna rule out toasts. So let's use notifications.
From the team settings, a user ("inviter") invites an email address ("invitee").
- The inviter could be an Org billing leader, or not
- The invitee could be on parabol, or not
- If in parabol, the invitee could be in the org, or not
- If in the org, the invitee could have previously been on the team, or not.

Combi

[2017-08-24 13:41] jordanh commented on #1129
Some "duh" notes:

* We should delete the last 4 and expiration from our own DB, and
* remove the payment info from the customer record

[2017-08-24 14:04] jordanh commented on #1000
@mattkrick had some suggestions for how to improve the overall experience by only showing this text when it is truly useful.

It:
- [ ] shows the text only after on-boarding
- [ ] once just after the meeting has ended

For this scope creep, we'll offer this Issue up for **18 points** in total. Ok @colinmatthews?

@mattkrick how do you suggest this state be stored? Something to store in redux?

[2017-08-24 16:17] jordanh opened #1297 "New project placeholder text styling assistance [epic6.5]"
## Issue - Bug

@mattkrick / @ackernaut, we should probably make this placeholder text a smaller font...

![image](https://user-images.githubusercontent.com/103000/29676484-36ff6e6e-88c6-11e7-8481-8288b545c7e0.png)

[2017-08-24 16:23] jordanh opened #1298 "Cannot read property 'emit' of null [epic6.5]"
## Issue - Bug

Repro steps:

1. Authenticate with github (that is to say, log into github.com)
1. On `action-staging` try to add the GitHub integration
1. Observe error

![image](https://user-images.githubusercontent.com/103000/29676763-f05838aa-88c6-11e7-9984-0496c7074c17.png)

[2017-08-24 16:31] jordanh opened #1299 "Rejoin facilitator corner case"
## Issue - Bug

Not a critical bug fix, but want to note. Repro steps:

1. Open two browser windows, log in as two users
2. Start a meeting
3. Navigate the Facilitator to First Call
4. Navigate the Participant back to Updates or Check-In
5. Note the absence of a "Rejoin Facilitator" button

- **OS:** macOS
- **Browser:** Chrome
- **Estimated effort:** 13 points ([see CONTRIBUTING.md](https://githu

[2017-08-24 18:31] mattkrick commented on #1292
dupe of #1119, which is on deck for 6.5

[2017-08-24 18:31] #1292 closed

[2017-08-24 18:32] mattkrick commented on #1297
could we just make the card taller? it'd feel weird if the placeholder was a different size than the actually text, right?

[2017-08-24 18:33] mattkrick commented on #1297
oh ignore me, i see terry did it!

[2017-08-24 18:55] mattkrick commented on #1298
golly, this is a tricky one.
i got to repro this the very first time i tried, but i couldn't do it again.
Checking out the logs, I see:
[code]

so, i fixed that bug & we'll see if that was what caused it.

[2017-08-24 19:39] #1233 closed

[2017-08-24 19:39] #1297 closed

[2017-08-24 19:48] #1299 closed

[2017-08-24 22:06] mattkrick commented on #1158
the query that would cause this is here:
[code]
closing since I can't reproduce this.
if it happens again, grab the Team doc from the DB & any server logs.
In the meantime, I'll naively assume that switching to events subs will fix this.

[2017-08-24 22:06] #1158 closed

[2017-08-24 22:14] #1157 closed

[2017-08-24 22:22] mattkrick commented on #1156
how is it possible that you got past item # 1 without completing it? The rest of the stuff is expected, per the business logic, you must complete items in order. therefore, the next item you complete _must_ be the following.

same as #1158 there's not too much i can do without seeing the Team doc from the DB or maybe any server logs. Until then, i'll assume moving to relay will fix this because by

[2017-08-24 22:22] #1156 closed

[2017-08-24 22:26] mattkrick commented on #1132
i think the right way to do this is to explicitly validate on submit, because that will give us normalized data too. This logic will have to be revisited as we move from cashay to relay, and we can fix both problems in 1 swoop.

[2017-08-24 22:49] mattkrick commented on #1292
ok, here's the assumed business loigc:

User signs up on day 0.
User Adds CC on day 15
User is billed on day 61 for days 61 - 90 ($5)
We extend trial on day 75
We charge for 15 days ($2.50)

User signs up on day 0.
User Adds CC on day 15
User is billed on day 61 for days 61 - 90 ($5)
User adds a new member on day 62
We extend trial on day 75
We charge for for 15 days ($2.50) ***and ignore the adju

[2017-08-24 23:07] #1119 closed

[2017-08-25 00:01] #1058 closed

[2017-08-25 00:41] mattkrick commented on #560
Assumed logic (if i'm wrong lemme know now @ackernaut @jordanh):
- Click an avatar will always cause a menu to appear
- If the localPhase is on Check-in or updates, it will always have the option: "Go to User"
- If the user is not the facilitator & clicks the facilitator, the option will exist "Request facilitator". Clicking that will cause a toast to appear on the facilitator's screen with a butt

[2017-08-25 16:16] burin commented on #854
@jordanh it's all coming together now!

So really this is `Parabol -> MailChimp`, but using the Segment integration feature set as inspiration.

Another question on the integration:

What's your philosophy on bringing in API wrappers? There are a couple node.js MailChimp API wrappers we could use to validate the overall approach real quick, then if we don't want to bring in more dependencies, we c

[2017-08-25 21:10] mattkrick opened #1303 "ctrl+k needs hotfix asap"
we got an inf loop in prod & need a patch today.
couldn't see too much, but i did catch this:
[code]

[2017-08-25 21:46] mattkrick commented on #854
hey @burin go for the wrapper. As long as they're popular & make the code cleaner, I'm all for it.

[2017-08-27 20:50] #1303 closed

[2017-08-27 21:04] mattkrick commented on #560
request to facilitator is probably the perfect place to test our switch from the socketCluster exhange to redis.

1. we'll keep the channel `USER_MEMO/userId` the same.
2. we'll subscribe using relay on the socket route
3. on the server, we can publish to the redis channel instead of the exchange
4. we'll keep both subscriptions to USER_MEMO active during the awkward transition phase. doing so mea

[2017-08-28 00:05] #560 closed

[2017-08-29 19:00] jordanh commented on #1082
Let's leave out the "will you accept this project?" logic for now, and push forward on the notification itself

[2017-08-29 19:20] jordanh commented on #1211
From SPA V, this one sounds like a sort column at the top. It may also auto-assign a date when a card is moved up and down the column. Deferring for now until we add dates.

[2017-08-29 19:24] jordanh commented on #612
Deferring these deeper design enhancements (coloring, progress, location) behind adding the calendar control and integrating cards created in the last meeting in their date order

[2017-08-29 19:28] jordanh commented on #1212
We'll use DD-MMM (25-Jul) dates and later provide customization later.

[2017-08-29 19:29] jordanh commented on #1212
Striking:

~AND: our software auto-sorts all cards in each column by due date, instantly~
~AND: if a user re-orders cards with the same due date, the software honors that order until/unless a due date is changed~

[2017-08-29 19:32] jordanh opened #1306 "new cards w/dates in meetings get date-influenced sortOrder"
## Issue - Enhancement

When a card is created in a meeting, its `sortOrder` is set by its date.

This one needs to be scoped.

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-29 19:38] jordanh commented on #1083
Let's scope this down only to add a link to the email generated for stuck items so that a stuck item can be added to next week's meeting agenda.

[2017-08-29 19:39] jordanh commented on #1182
Deferring. We will assume a weekly cadence for now.

[2017-08-29 19:45] jordanh commented on #1078
This would be done around the same time we think about adding team settings to make a team private, and requiring that a user be a paying user in order to enjoy these rich features.

[2017-08-29 19:47] jordanh commented on #845
Scope this down to a report email on

- [ ] what's got done
- [ ] what's stuck

And perhaps surface some cleaver (simple) insights such as:

- [ ] what project has been open the longest (suggest: "break this into a smaller next step?")
- [ ] what's been stuck the longest (suggest: "add an agenda item?")
- [ ] statistical insights (project stats this week / last week / active users meybe?)

etc.

[2017-08-29 19:56] jordanh commented on #1034
Closely related to #845

Experiment for us to consider is including Done items in End of Meeting Summary instead of sending two communications.

Trade offs, trade offs. Re-engagement vs. having information that does not pertain to the meeting.

[2017-08-29 19:57] jordanh commented on #1215
This is a good idea

[2017-08-29 20:00] jordanh opened #1307 "Slackbot Agenda Items Designed"
## Issue - Enhancement

When I am in a Slack channel and a need arises in a conversation, I want to agenda item so that I don't need to leave the slack window & lose focus but feel as though my need will get taken care of

- **Estimated effort:** 13 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-08-29 20:04] jordanh opened #1308 "Current billing model unimplemented"
## Issue - Enhancement

When moving to freemium. We got a bunch of trialing stuff to yank. Let's make a list here and scope it.

**UI views**:
- [ ] Scrub Org > Billing view (panels)
- [ ] Scrub Dashboard side navigation (isPaid)
- [ ] Scrub Active Trial Alert Bar on Dashboard
- [ ] Scrub Expired Trial Alert Bar on Dashboard
- [ ] Scrub Team Dashboard Unpaid Team Modal
- [ ] Scrub New Team form (n

[2017-08-29 20:05] jordanh opened #1309 "Freemium Archive nag"
## Issue - Enhancement

When I am a freemium user and I browse my team's archive, I will only be able to see ~1 month's worth~ _a limited amount_ of archived items and see some designed elements which will prompt me to convert.

**The details**:
- [ ] Users on the Personal plan can see projects that have been in the archive **14 days**.
- [ ] On day 15 the card can no longer be seen or unarchived.

[2017-08-29 20:06] jordanh opened #1310 "Check-in questions freemium nag"
## Issue - Enhancement

When I am a youngster and I reject being told what to do, I want to edit my own check-in question – however when I am a freemium user I will be prompted to convert.

**The details**:

- [x] Any Personal™ user on the team can see a pencil icon on the standard Check-In questions. Upon clicking the button they get a tooltip letting them know that they can upgrade to customize

[2017-08-29 20:06] jordanh commented on #1310
Related to #870

[2017-08-29 20:07] #870 closed

[2017-08-29 20:11] jordanh opened #1311 "On New Team, Validate invitation emails before hitting submit"
## Issue - Enhancement

When I am creating a new team and my trial has expired _or_ I am a paying customer and I want to invite a person who does not belong to my organization, I want to know that they are going to have to be approved before I hit submit, so that I am not surprised that I will have to wait and that I'll have an opportunity to nag them.

N.B. this will also reduce friction when fol

[2017-08-30 15:27] jordanh opened #1312 "TypeError: Cannot read property 'getLength' of undefined"
https://sentry.io/parabol/action-production/issues/339304805/

[code]

[2017-08-30 15:28] jordanh commented on #1312
Context of bug:

- @tayamueller and me created a number of cards during our meeting
- I believe this occurred while ending the meeting

[2017-08-31 03:29] mattkrick commented on #1312
Oh this is really, really good.
Converting a card to plaintext adds in line breaks, so the character count is greater than it would be if you loop through each block & count the characters. the magical thing is that you stumbled upon this with a card with the perfect number of characters where that made a difference.

[2017-08-31 19:53] mattkrick opened #1314 "Paginated Subscriptions"
We need paginated subscriptions. Meteor achieved this via intense oplog tailing, which didn't scale. IIRC facebook subs to things you like, or have a vested interest in (ie friends like it) or it's a livestream, etc. I don't think they worry about popping new stories at the top of your feed anymore, but i don't use facebook much anymore so I'm not certain. In our world, we want to subscribe to eve

[2017-08-31 22:07] mattkrick opened #1316 "Try moving end-to-end tests to cypress.io"
The new hotness that is supposedly replacing selenium is cypress. A dead-simple example is here: https://dashbouquet.com/blog/frontend-development/cypressio-and-docker-the-ultimate-e2e-stack-part-1

I love the API. It looks a LOT like my MockDB that i made for testing server functions. When we get time, I'd like to try to move our manual e2e tests to it & see how it works.

[2017-09-01 03:41] jordanh opened #1317 "TypeError: Cannot read property 'getIn' of undefined"
https://sentry.io/parabol/action-production/issues/340877351/

[code]

[2017-09-01 03:43] jordanh commented on #1317
From user:

My response:

Her response:

Is this us, or draftjs?

[2017-09-01 03:47] #1312 closed

[2017-09-01 14:48] mattkrick opened #1318 "add #private tag to seed proj"
the private seed proj should get a #private tag, too, not just the hashtag.

[2017-09-01 15:30] mattkrick commented on #1317
oh i'm glad we got backstory on this one, i was checking it out when sentry sent it and was totally confused.
It could be related to https://github.com/facebook/draft-js/issues/473
it came from /me, i tried reproducing with 1 team and many teams, i can't reproduce on production or local.
The problem is likely not ours, my hunch is that it's draft getting caught in a weird render cycle with react w

[2017-09-01 15:49] jordanh opened #1319 "Manual synchronization tension..."
## Issue - Enhancement

We're getting fairly strong signal on a user need, and I'm not quite sure what to do about it. Adam and Larry have both written in asking to be able to add projects _either_ during a meeting's Check-In or Updates phase. Here's an synthesis from their feedback on the job to be done:

When an Action meeting has started and a user uses an outside tool to track their tasks (Eve

[2017-09-01 16:04] ackernaut commented on #1319
It was AP that noted:

It is not clear that this is negative but I take it that it is.

I think, per user feedback (folks are unsure what to do, who is doing what), we have been giving more ability to navigate to the facilitator, where the team can’t move forward. We have to solve for changing facilitators, making sure the team doesn’t get stuck, etc.

Part of me wants to swing back toward an open

[2017-09-01 16:24] #883 closed

[2017-09-01 16:24] #1069 closed

[2017-09-01 16:24] #1181 closed

[2017-09-01 16:24] #1195 closed

[2017-09-01 16:24] #1219 closed

[2017-09-01 16:24] #1251 closed

[2017-09-01 16:24] #1277 closed

[2017-09-01 17:30] wonko9 commented on #1319
It was more about the Update phase than the Check-in phase.

[2017-09-01 17:32] jordanh commented on #1319
@wonko9 one thing we'd like to discourage is folks using the Updates phase for anything other than Quick Updates...perhaps an incremental improvement is to allow only the team member giving the updates the ability to create new projects? Do you suppose that would be a good next step forward?

[2017-09-01 17:58] jordanh opened #1320 "sendSegmentEvent exception, TypeError: Object.values is not a function"
## Issue - Bug

This is why our meeting events aren't being sent. Also of note, it looks like sentry isn't getting exceptions...

[code]

- **Estimated effort:** 13 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-01 18:27] mattkrick commented on #1320
is our node version that old in production!?!

[2017-09-01 18:29] mattkrick commented on #1320
oh holy cow, 6.11.2. we need to bump that ASAP

[2017-09-01 18:29] jordanh commented on #1320
Yes, let's do it today. I think that's controlled in dokku by a `package.json` key... Let me look into it.

[2017-09-01 18:37] jordanh commented on #1317
Turns out that this is happening with the Safari browser. Reproducible on mobile and on OSX desktop.

[2017-09-01 18:46] ackernaut commented on #1317
@jordanh good find, we should probably start doing the UI walkthrough in Chrome, Safari and Firefox (a bit better than just looking at Chrome, right?).

[2017-09-01 19:16] jordanh commented on #1320
It looks like updating to v0.8.4 isn't going to be a gimme.

[code]

Something is going on here that's causing our theme json not to be created. I can reproduce this locally too. I'm going to have a deeper look into it when I get back from lunch.

[2017-09-01 20:04] mattkrick commented on #1317
here's the issue in draft, verified that it's the parent drag container that's borking the whole thing: https://github.com/facebook/draft-js/issues/1326

i could try to tackle this one, or we could let the facebook folks + community go after it. the issue has been open for 3 weeks

[2017-09-01 20:33] jordanh commented on #1317
What do we say to let this hang out for another week or so and see if they tackle it?

[2017-09-01 20:44] mattkrick commented on #1317
Sounds good to me

On Sep 1, 2017 1:33 PM, "Jordan Husney" <notifications@github.com> wrote:

[2017-09-01 21:03] ackernaut commented on #1183
@jordanh I’m moving forward on design here, as our current model will not change until the [Freemium Epic](https://github.com/ParabolInc/action/milestone/24). I’ll share designs internally before implementing.

[2017-09-01 21:41] mattkrick commented on #1317
Curiosity got the best of me. 🙈
See https://github.com/facebook/draft-js/pull/1356
I'll change our dep to my branch & we can push to prod today.

[2017-09-03 03:52] #1317 closed

[2017-09-03 04:09] #1320 closed

[2017-09-03 04:16] jordanh opened #1325 "appTheme.json build race condition"
## Issue - Bug

So there is [still](https://circleci.com/gh/ParabolInc/action/3340) a rather annoying race condition in our build process that intermittently causes builds to fail.

The root cause of this is, if unlucky, appTheme.json can be deleted just as one of `build:server` or `build:client` is opening it.

To fix this, I believe we should:

- [ ] create yet another npm run command, this time

[2017-09-03 19:30] mattkrick commented on #1325
i think that's a good idea!
another thing we should do is remove tinycolor2 from our client files. the original intent was to replace the 15000 character package with a 5000 character JSON, but right now we serve both, which is no good.
alternatively, we could just use the dev strategy in prod & not even have an appTheme.json.

[2017-09-05 00:52] mattkrick commented on #128
moving to evented subs. closing

[2017-09-05 00:52] #128 closed

[2017-09-05 00:53] mattkrick commented on #148
implemented in our own custom QueryRenderer in relay.

[2017-09-05 00:53] #148 closed

[2017-09-05 00:55] mattkrick commented on #18
Closing because this is an epic.

[2017-09-05 00:55] #18 closed

[2017-09-05 00:56] mattkrick commented on #19
closing in favor of end to end tests see #1316

[2017-09-05 00:56] #19 closed

[2017-09-05 00:58] #115 closed

[2017-09-05 00:59] mattkrick commented on #116
will revise during a payload size reduction sprint.

[2017-09-05 00:59] #116 closed

[2017-09-05 00:59] #152 closed

[2017-09-05 01:02] #166 closed

[2017-09-05 01:11] mattkrick commented on #236
@jordanh any thoughts on this? if we implement this, we should do it now while we're fixing up the invite logic.

[2017-09-05 01:11] #232 closed

[2017-09-05 01:14] mattkrick commented on #246
bumping this as a funnel improvement, @ackernaut feel free to deprioritize if running short on time for the epic

[2017-09-05 01:16] mattkrick commented on #256
this is fixed by storing the userId in the draft-js entity

[2017-09-05 01:16] #256 closed

[2017-09-05 01:17] mattkrick commented on #272
Setting this as freemium since we'll need a tooltip to tell people to upgrade it they want custom check-in questions

[2017-09-05 01:19] mattkrick commented on #296
closing in favor of #1000

[2017-09-05 14:59] mattkrick opened #1326 "README updated (with some tactics around recruiting)"
- [ ] Node version updated to match `package.json`

[2017-09-06 01:13] jordanh commented on #1183
Sounds great!

[2017-09-06 13:43] ackernaut opened #1327 "Unit test for summary email generated when meeting ends"
## Enhancement

Looking for opportunities to increase unit test coverage on some of our essential email functionality.

With 2 votes (so far), we could test that the summery email is generated when a meeting ends.

Runner up ideas, testing that:

- The format of the email is correct (recipient, subject, body, etc.)
- The recipients have valid email addresses
- The "first meeting summary email" mat

[2017-09-06 13:47] #788 closed

[2017-09-06 13:47] #1056 closed

[2017-09-06 13:47] #1283 closed

[2017-09-06 14:42] jordanh commented on #1325
Right now the only thing that 5,000 character JSON buys us is savings of some CPU cycles when generating the theme file. @ackernaut computes a fairly extensive palette :)

Removing tinycolor altogether might be difficult. Consider code like this:

[code]

@ackernaut is computing the component's button color dynamically. It's pretty slick, but not easy for us to precompute unless we redesign the co

[2017-09-06 16:50] ackernaut commented on #1325
I can take a stab an minimizing what we are doing with the palette and how we are customizing the button…but if that can wait, and this is a good step forward, I’d say we capture an issue to simplify color usage and then iterate after this merges.

[2017-09-07 02:38] mattkrick commented on #713
pasting the below for posterity. all in all, i still can't find a better method than our team-specific channel
currently, we have a presence channel per teamId
we also use this to annouce when someone joined/rejoined a team
this is bad because we join all the team presence channels at once
instead, we can have 1 channel per org and filter by team
or, we can have many individual user activity chann

[2017-09-07 17:13] ackernaut commented on #1194
@mattkrick so this is my thinking on how to solve this, but I’m a little slow in this neck of the woods.

We have `createGitHubIssue.js`. Here we can check the project content for an empty first line by looking at the content blocks. If the first line is empty, we could call a mutation to update the project. I’m unsure how to get the content state, remove the first block, then pass the new content

[2017-09-07 18:59] mattkrick commented on #1194
ah i was looking for this issue!
i can't see a good reason for ever having a blank first line, so i think whenever we update a card on the server, we should check for that & always remove it, github integration or not.
In case you're curious, all the more bespoke draft-js helpers are stored in universal/utils/draft. we don't have one for this purpose, but those will show you how to grab the conten

[2017-09-07 19:00] ackernaut commented on #1194
Yeah, I was wondering if we should just always trim the content.

In that case, I’ll take a look at those more general Draft helpers and see if I can get started.

Thanks @mattkrick !

[2017-09-07 19:35] mattkrick commented on #1194
for sure! a good place to get started would be just looking at the `content` stored in the DB. once you JSON.parse(content) you'll get a raw content object that'll have an array of blocks. then, you just need to see if the first block has any non-space character. if it doesn't then remove & send the new one back to the DB.

[2017-09-07 22:05] ackernaut commented on #1194
Ok @mattkrick not sure my effort is very productive…I can see the blocks but not sure how to merge  new blocks (sans first line, whitespace) into the content for the DB. Feel free to pick this up and hopefully I can be more productive elsewhere.

[2017-09-07 22:08] #1164 closed

[2017-09-08 19:38] ackernaut commented on #1221
@mattkrick been doing a little thinking on this one. What if we try having it fade away (opacity) then the card naturally resizes (no animation) when the message is gone?

Right now we have `{error && <Message/>}` —would we need some state to handle an `isClosing` prop? I took at look at `isClosing` on menus and modals and wasn’t sure what was handling the timing there, assuming there is some dela

[2017-09-08 19:39] ackernaut commented on #1221
It seems the sequence would be: `error`, then `error (&& isClosing)`, then we we would have `!error` so the message would not render after that.

[2017-09-08 22:25] mattkrick commented on #1221
when exactly would the fade take place? Right now we have a Card and a DragLayer. As it is today, the Card has the error, but the DragLayer does not. The Card turns into DragLayer the moment the dragStart event occurs, so there's no time to run an animation. We could put the error on the DragLayer, too, but if we did that we may as well put the error back on the Card at the end.
I'd feel OK about

[2017-09-09 16:12] ackernaut commented on #1221
Yeah, I agree it can be deferred…no longer prioritized marking as snoozed.

[2017-09-10 16:15] mattkrick commented on #1142
ok, this strategy kinda falls apart for some more advanced mutations. for example, take `inviteTeamMembers`. User A sends in a list of invitees & gets back that same list with the result.

Everyone else on the team should also be able to subscribe to those changes so they can see the invitees list update in realtime, so the `teamMembersInvited.${teamId}` subscription should share the same payload.

[2017-09-11 03:10] mattkrick opened #1331 "Sending a new auth token to the client when graphql is a microservice"
When GraphQL is a stateless microservice, it won't have access to the socket. Without access to the socket, it cannot set the authToken for a particular socketId.
So, I see 2 possibilities:
- Before sending a payload to a client, scan it to see if an authToken exists on it. If it does, call setAuthToken with that. This is good because it happens ASAP, but bad because we'll need to scan every singl

[2017-09-11 03:10] #1331 closed

[2017-09-11 15:28] #236 closed

[2017-09-11 15:28] #1325 closed

[2017-09-11 22:36] ackernaut opened #1333 "Update card editor menu widths"
## Enhancement

The inline menus for adding and editing links within card content are looking a little narrow. Going to bump those up a bit, and scrub for other menus that may need the same treatment.

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-12 01:24] mattkrick opened #1334 "Write tests for removeOrgUser"
I think removeOrgUser might not work right, and now with the change in notifications it doesn't update notifications in real time, so we need to fix it.

[2017-09-12 14:27] mattkrick opened #1335 "inviteTeamMembers query sent to DB"
Been getting fancier with DB queries & I wanted to make sure things were still being sent in a single payload. Here's the payload sent to the DB for inviteTeamMembers:
[code]
The numbers must refer to methods, in order to shorten the payload. Arrays are probably used in order to match other languages that don't have javascript-like objects. However, the biggest takeaway is that everything wrapped

[2017-09-12 14:27] #1335 closed

[2017-09-12 16:35] ackernaut opened #1336 "Error when tapping GitHub card button during Meeting Updates"
## Bug

During the Meeting Updates, tapping the GitHub card button causes this error:

![screenshot 2017-09-12 11 32 48](https://user-images.githubusercontent.com/307286/30337604-61933308-97ae-11e7-8a02-83c32291c95b.png)

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-12 21:54] mattkrick commented on #1331
Trusting the client may not be the best. While it's OK to do this for joining teams, if someone gets kicked off a team, then we're essentially trusting the client to tell us "OK, i won't listen to that subscription, and here, let me downgrade my auth token".

so, i'm changing my mind & going with the former. To minimize headaches, we should always send the authToken in a notification, so the token

[2017-09-12 21:54] mattkrick commented on #713
OK, think i got this--
- the client subscribes to notifications, which takes no args & uses the userId as part of the channel.
- on the server, the client listens for notifications
- additionally, on the server, we listen to notifications.teamId for every teamId in the tms. Under the covers, it's 1 async iterator for many channels.
- then, folks can post to the team without looking up the members

[2017-09-12 22:27] jordanh opened #1338 "Make project owner name visible on Team Dash"
## Issue - Enhancement

This came up internally, and now it's come up in the field. One of our users wrote in:

They also sent this screenshot:

![screen shot 2017-09-12 at 3 02 25 pm](https://user-images.githubusercontent.com/103000/30351138-d14452ca-97ce-11e7-8d45-d1a0b446024e.png)

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBU

[2017-09-13 17:31] mattkrick commented on #1151
From slack
[code]

I'm gonna go with option 1. My goal is to make this simpler for the inviter at the cost of possibly annoying the invitee. Right now, inviters already can see 3 states in their Team Settings: People on the team, People invited, People awaiting approval. I don't want to add a 4th, because they shouldn't have to care whether the invite goes out via notification or email.
The tensio

[2017-09-13 21:29] jordanh opened #1339 "Discussion: use Slack reactji to create new project card"

[2017-09-13 22:03] ackernaut commented on #905
closing, switched to DraftJS over Markdown

[2017-09-13 22:03] #905 closed

[2017-09-13 23:28] jordanh commented on #1151
👍👍👍

[2017-09-14 02:41] mattkrick opened #1340 "invitation expirations aren't always times"
For reasons I can't understand, sometimes the invitations are numbers (ms since epoch) and sometimes they are times. they should all be times. We need to run the following migration:
[code]

[2017-09-14 03:13] mattkrick opened #1341 "refactor fullName to preferredName"
Personally, i dislike the name `preferredName`, too.
Maybe we should go with nickname?
Either way, we've got some legacy "fullName" stuff that is causing crap.

Acceptance criteria:
- [ ] fullName is turned into preferredName
- [ ] preferredName is turned into name (or some other name that points to the user)

effort: 11 points

[2017-09-14 04:17] mattkrick opened #1342 "refactor teamsettings user row into its own"
currently, teamsettings component does too much. we need to break the row into its own component so it can have its own error state, waiting state, etc.

[2017-09-14 04:19] mattkrick commented on #1342
the Resend & Cancel divs should also be buttons so we can stop folks from double clicking.

[2017-09-14 19:17] ackernaut commented on #1199
@mattkrick I updated the main comment here, with an attempt to be more granular on menu behaviors via mouse or keyboard in the card context. Some of these behaviors may translate well to a menu in any context but I haven’t made that much progress with the thinking. If you get a chance, let me know if those behaviors make sense to you. I found inspiration in how Google Keep handles some of these nu

[2017-09-14 19:30] mattkrick commented on #1199
1 thought:
- trello has a night up arrow/down arrow to highlight cards. wondering if that might be good? how might someone navigate the kanban without tabbing 5 times to get to the next card?

[2017-09-14 19:40] ackernaut commented on #1199
Yeah, that is a nice touch.

I could see, perhaps, arrowing around cards ala Trello style, and then pressing something, like `enter`, to select the card. Then as the card has focus, one can tab around through the elements and interact with menus as described in the top comment. One may need a way to un-focus the select card as well. Perhaps `escape` works when no menu is open?

[2017-09-14 20:00] mattkrick commented on #1199
yeah, that's something we'll wanna dig into deeper before the build out. for example, google keep lets you have a selected card while you're still focused on the menu (using those terms loosely, not sure if that's what it tells the DOM). it'd be interesting to see what kinda benefits there are from decoupling selection from focus.

[2017-09-14 21:43] ackernaut commented on #1199
Gonna defer this one until a later Epic (too big for the scope of this Epic)…may work in a little more goodness into the basic menu handling from #1198

[2017-09-14 21:55] ackernaut opened #1343 "Shortcuts and formatting modal"
## Enhancement

When users are unsure what shortcuts are available for cards and the UI they want help content that they can access at any time.

**A simple first solution**: Users can press `?` in a Dashboard or Meeting view and see tips for Card formatting, and maybe even tips on adding Agenda Items using `+` or pressing `p` to add new Projects during the Agenda Round.

**Rough early concept as

[2017-09-14 22:32] ackernaut opened #1344 "Animation for realtime notification UI"
## Enhancement

When a notification is sent to a user and they are using the app, let’s animate the notification icon so that it gets their attention in a subtle but delightful way. ( ht @mattkrick )

**Estimated effort**: 13 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-14 22:53] jordanh commented on #1343
This looks *fantastic*!

[2017-09-14 23:35] mattkrick opened #1345 "properly support failed invitations"
here's the broken invitation flow:
- get email, click url
- goto parabol page, login modal pops up, create new account, submit
- the inviteToken comes back expired, now i just see ducks
- if i go back to action.parabol.co, it will take me to the `/me` page because i'm logged in, but i'm not on any teams!

i can build whatever we wanna do, just not sure what to do :-)

[2017-09-15 04:38] mattkrick commented on #1298
this was still caused when you log out & log back in.
reason why is because we weren't setting the environment back to http.
fixed in notify branch

[2017-09-15 04:38] #1298 closed

[2017-09-15 07:33] jordanh commented on #1345
I think the flow here could be described by this JTBD:

When I accept an expired invitation, I want to get a message telling me that the invitation is expired but I still want to be able to onboard myself to Parabol, so that I don't feel left out and might be able to take some next action.

In other words, I think we just pop them a toast/modal and redirect them to the welcome wizard. Optionally w

[2017-09-20 00:17] mattkrick opened #1349 "prevent duplicate team names within the same org"
when i create/rename a team, i should be guaranteed that the team name does not exist in the org.

[2017-09-20 22:08] ackernaut commented on #246
Deferring until we refactor the Meeting module to use Relay Modern.

[2017-09-20 22:09] #1202 closed

[2017-09-20 22:09] #1282 closed

[2017-09-20 22:10] #1023 closed

[2017-09-20 22:11] #1198 closed

[2017-09-20 22:13] #1338 closed

[2017-09-20 22:14] #1333 closed

[2017-09-21 15:14] mattkrick opened #1350 "Move OrgMembers menu to AsyncMenu with dynamic width"
Right now the width is static, which means on some devices they won't see all the text.

[2017-09-22 01:21] mattkrick commented on #1278
k this is done, but i'm not a fan.
"Welcome, here's your wall of text" doesn't exactly seem inviting.
Personally, i am the first person to click "stop tutorial" for onboarding things. if you're making me delete a wall of cards 1 by 1, i'm jumping off board.
Anywho, this is living on the wall-of-seeds branch if you guys wanna merge.

![screenshot from 2017-09-21 18-16-30](https://user-images.github

[2017-09-22 02:08] mattkrick commented on #1194
@ackernaut finally got around to this one. here's what i came up with in case you're curious ^^^^

[2017-09-22 03:18] mattkrick commented on #1308
We've got 3 states for users:
- trialing: remove from trial, assign to FREE plan
- paying: keep on same plan
- trial expired: put on FREE plan

so steps probably look like:
- remove all trial_expired trial_expiring_soon notifications
- remove isPaid on the teams, replace with the plan name, denormalized from the org
- add plan name to the org
- invoices: is there value in showing a bunch of $0 inv

[2017-09-22 04:52] jordanh commented on #1278
Seeing this in the context of our product and outside of a spreadsheet it gives me pause. The real question is, would this be safe to try to deploy? I don't think so. I think we should gather some user feedback first – perhaps by deploying this to our development server (after we merge the rest of 6.5).

File the below in "or do you just have a better idea:"

I think the expository text on each ca

[2017-09-22 21:17] #1175 closed

[2017-09-22 21:17] #1194 closed

[2017-09-22 21:17] #1197 closed

[2017-09-22 21:17] #1318 closed

[2017-09-22 21:17] #1340 closed

[2017-09-22 22:26] mattkrick commented on #1278
agreed, it didn't look bad until it was in product!
will close for now, but i'll leave the PR up in case we edit the copy.
@jordanh this reminded me to share that Mario onboarding video with you...
https://www.youtube.com/watch?v=U5YTFt7PIdo

[2017-09-22 22:30] mattkrick commented on #1151
closed with epic 6.5

[2017-09-22 22:30] #1151 closed

[2017-09-22 22:32] mattkrick commented on #1311
kicking this to @ackernaut to show me what this should look like

[2017-09-22 22:50] mattkrick commented on #272
i'll start with https://github.com/react-component/tooltip but in the future we'll end up building our own. it floors me

[2017-09-22 22:52] mattkrick commented on #1310
does this text field have styles (bold, italics, etc)? @mentions? links? my gut reaction says just styles.

[2017-09-22 22:56] mattkrick commented on #1205
@tayamueller any suggestion on what to do here? Seems to me like you absolutely could have an "ABC Consultants" organization & each team be a different client.

[2017-09-22 22:58] mattkrick commented on #1308
@jordanh any preference on whether we tell stripe about non-paying customers? seems to me we may wanna just tell stripe about them when they enter CC info.

[2017-09-22 23:18] mattkrick commented on #1309
how will this look when we get rid of the archive section in epic 11 with the UI redesign?
also, is it worth it to invest the time to build a nag for something that is gonna go away in next month or 2?

[2017-09-23 16:35] jordanh opened #1353 "Unable to access Project archive for some teams [epic6.5]"
## Issue - Bug

While running the `epic6.5` integration tests I logged in as `jordan@parabol.co` and tried to access the Project archive for team https://action-staging.parabol.co/team/SJ8JvS-Jx/archive (my personal Projects) and for team https://action-staging.parabol.co/team/ry13-k1UW/archive (The Pen, which is a team related to one of our museum users). Both teams don't have many projects (cert

[2017-09-23 16:39] jordanh opened #1354 ""Cancel Pending Approval" copy a little too obtuse"
## Issue - Enhancement

While running integration tests for `epic 6.5` I failed to notice that my user wasn't the billing leader on a team I was using for testing, so when I invited a new teammate via email, I couldn't for the life of me understand why I wasn't receiving an email from Parabol.

The "Cancel Pending Approval" wasn't explicit enough to cue me that this invitation was held for some re

[2017-09-23 16:48] jordanh opened #1355 "Toasts too brief, let's make 'em hang a bit longer"
## Issue - Enhancement

When I was inviting a user to a team, a toast popped informing me that the person I invited needed billing leader approval. However, the text dismissed itself before I could read the text.

1) I think we should do the following add a default `autoDismiss` option to the toasting system's duck, and make it 10 seconds (instead of the [toast system](https://github.com/igorprado

[2017-09-23 16:55] jordanh opened #1356 "When user accepts expired invitation, gets ducks forever"
## Issue - Bug

When a user accepts an expired invitation, they see an error toast telling them the invitation has expired, but also get ducks forever. We should redirect them to `/me` or to the welcome wizard (if they don't belong to a team yet).

Reproduction steps:

1) Open two browser windows, log into each as a different user
2) From the first browser, invite a third, _new_ user by email addr

[2017-09-23 16:58] jordanh commented on #1354
This is less important now that Freemium is a thing. But, it'll help what paying customers we may earn.

[2017-09-23 16:59] jordanh commented on #1353
I have no idea if this is a regression or not. I suspect not. But that's just a hunch.

[2017-09-23 17:38] jordanh commented on #545
This should be fixed now as of `v0.22.0`

[2017-09-23 17:38] #545 closed

[2017-09-23 17:41] jordanh commented on #332
All good, old thoughts in here. I'm sure we'll revisit units of this discussion again soon. Iceboxing for now.

[2017-09-23 17:42] #332 closed

[2017-09-23 17:42] #355 closed

[2017-09-23 17:42] #356 closed

[2017-09-23 17:42] #375 closed

[2017-09-23 17:42] #405 closed

[2017-09-23 17:42] #441 closed

[2017-09-23 17:42] #469 closed

[2017-09-23 17:42] #568 closed

[2017-09-23 17:42] #571 closed

[2017-09-23 17:42] #572 closed

[2017-09-23 17:42] #591 closed

[2017-09-23 17:46] #247 closed

[2017-09-23 17:46] #298 closed

[2017-09-23 17:46] #299 closed

[2017-09-23 17:46] #303 closed

[2017-09-23 17:46] #324 closed

[2017-09-23 17:46] #329 closed

[2017-09-23 17:46] #330 closed

[2017-09-23 17:52] jordanh commented on #1316
This is really hot. This could be a good first activity for Dan...Looking forward to discussing!

[2017-09-23 17:52] jordanh commented on #1281
This one was fixed – 'twas related to draftjs rendering in an oy pathway.

[2017-09-23 17:52] #1281 closed

[2017-09-23 17:53] #1258 closed

[2017-09-23 17:54] #1266 closed

[2017-09-23 22:45] mattkrick commented on #1353
This is interesting, should we invest the time to fix or just prioritize getting rid of the archive section?

[2017-09-25 15:07] ackernaut commented on #1309
I have an idea for how to implement the nag on the current archive and what we _think_ we want to do in the future. Basically the nag sits toward the bottom of the view. The current inner container has an added gutter the height of the nag. So once you scroll to the bottom, any last cards will show above the nag. For the future, single kanban, the nag could also sit toward the bottom of the kanban

[2017-09-25 15:45] mattkrick commented on #1355
Was this still an issue with the latest 6.5?
All notifications now have 1 home: https://github.com/ParabolInc/action/blob/master/src/universal/subscriptions/helpers/notificationHandler.js#L49

[2017-09-25 15:51] mattkrick commented on #1354
You should have gotten a toast after inviting that person:
![screenshot from 2017-09-25 08-47-50](https://user-images.githubusercontent.com/5514175/30817656-482ec5ba-a1ce-11e7-8e1b-0b083a9a155b.png)

If you didn't then that's a bug!

I don't think it's OK to change it to "Needs Billing Leader Approval" because that doesn't tell the user what clicking it will do (cancel the pending approval).  "Can

[2017-09-25 15:59] jordanh commented on #1355
Yeah, I noticed that other toasts we pop (aside from team invites) were just too fast for my nearly 40-year old mind. I think we should change the default in the duck to 10s.

[2017-09-25 16:02] jordanh commented on #1354
I got the toast. I think the specific challenge here is this user context:

When I've invited a user in the past and I need them on my team but I can't remember what "Cancel Pending Approval" means...

Any other suggestions for copy here? @tayamueller, @ackernaut ?

[2017-09-25 16:07] mattkrick opened #1357 "conditionally load es5 polyfills"
most of our visitors won't need things transpiled to es5, which according to this article takes up half the parse time & payload size:
https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

we can tackle this after we move away from cashay and SC and revisit SSR.

[2017-09-25 16:09] ackernaut commented on #1354
Perhaps we add a second line (small copy) under the button that clarifies status?

[button: Cancel Invite]
[sub-copy: Status: Pending billing leader approval]
[sub-copy: Status: Approved by billing leader! Waiting to be accepted by invitee]
[sub-copy: Status: Waiting to be accepted by invitee]

Or this might be another use case for the simple tooltip component. To clarify meaning of a button.

[2017-09-25 16:09] mattkrick commented on #1354
ahhh, sounds like a perfect place for a little (?) bubble with a friendly tooltip

[2017-09-25 16:36] mattkrick commented on #1353
I went creepy pockets-- it works on local, does not work on staging. staging logs show jwt expired & that the org leader hasn't paid for a team that doesn't exist in the DB.
not gonna dig any deeper on this since we're totally revamping team archive & after we do that this problem will fix itself.

[2017-09-25 21:43] mattkrick commented on #272
ended up building my own because:
- animations were SUPER janky with the one above
- used deprecated animations package
- insanely bloated
- didn't reposition based on how far away it was from the edge
- didn't encapsulate the children. it forced you to write children to handle it. this is a no-go when the child is a 3rd party component like FontAwesome.

@ackernaut feel free to modify the styles

[2017-09-25 21:51] ackernaut commented on #272
👍  I made a first pass in Figma of what the component looks like. When you’re ready just assign this one to me.

[2017-09-25 22:05] mattkrick commented on #272
all you, gotcha started on epic7-tooltips branch

[2017-09-25 22:20] mattkrick commented on #1308
Alrighty, so there is no value is just telling stripe about all the folks not paying us, so here's the revised flow:

- [ ] remove trialOrg from users
- [ ] when a new org is created, don't tell stripe, don't set a periodEnd, stripeId, etc
- [ ] remove all trial_expired trial_expiring_soon notifications
- [ ] keep isPaid on the teams, but remove the check from all mutations & queries & subscriptio

[2017-09-25 22:20] ackernaut commented on #272
👾  thanks @mattkrick !!

[2017-09-25 23:38] mattkrick opened #1360 "New style library: Emotion"
If i were in a betting mood, I'd say this is going to be the library that wins the CSS-in-JS fight: https://github.com/emotion-js/emotion.

Right now our hacked version of aphrodite works fine. However, we could consider moving to this when:
- someone writes an aphrodite-to-emotion codemod
- the flashes from async style loading become unbearable
- we target devices that can't handle processing sty

[2017-09-25 23:38] #1360 closed

[2017-09-26 02:28] mattkrick commented on #1142
revisiting this train of thought as it might still prove useful for simple things like AgendaItems. If i subscribe to AGENDA_ITEMS.teamId, i care about created, updated, and deleted agenda items.a payload would always have 2 fields: type, fields. if the type is delete, then the only field will be id. This feels really familiar because that's the protocol we use today with changefeeds. For complica

[2017-09-26 14:52] jordanh opened #1361 "Exception while extending trial"
## Issue - Bug

While issuing this GraphQL mutation:

[code]

(email hidden for privacy, refer to DB)

This exception was encountered:

[code]

- **OS:** macOS
- **Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-26 15:31] ackernaut opened #1362 "Seed team content scoped"
When sharing screenshots/videos for marketing and documentation, it would be nice to have seeded demo content so that different views can be captured as images/video without having to stage manually.

My thinking is that we could potentially have 2 seeds:

1. Marketing seed team. The purpose of this is to satisfy the tension above. Developers could seed this team from `npm` scripts. Perhaps admins

[2017-09-26 15:55] tayamueller commented on #1278
This is hideous. I'll take a spin on copy :)

[2017-09-26 16:07] tayamueller opened #1363 "true #privacy"
## Issue - Enhancement

#private cards should actually be private!

They are currently visible during creation, during the meeting, and included in the Summary.

Proposal: make them **truly** private (visible only to author) AS SOON AS the author types "#private" at any point. Do not include during creation, in meeting Agenda view, or in meeting Summary.

[2017-09-26 16:14] ackernaut commented on #1345
duplicate of #1356

[2017-09-26 16:14] #1345 closed

[2017-09-26 16:23] dan-f opened #1364 "Ability to open a link on a card w/o editing the card"
Right now, I have to click on a card to edit it, then click on the link to open it. I'd like to just be able to open the link without it appearing that I'm editing the card.

[2017-09-26 16:24] dan-f opened #1365 "Scroll to active agenda item during meeting"
When the agenda list gets long, it could be nice to scroll the active agenda item to the top of the list.

----

Updated acceptance criteria (thanks to @ackernaut and @jordanh)

## Acceptance criteria:
A user sees:
- [ ] the “Add Agenda Topic” input control at the end of the list (not above the list)
- [ ] once overflow happens, the active agenda item is obvious to the user (list is scrolled to bo

[2017-09-26 16:24] #1264 closed

[2017-09-26 16:25] #1339 closed

[2017-09-26 16:37] ackernaut opened #1366 "UI for Pro™ customer support"
## Enhancement

When paying for the Pro™ service, users want a quick and easy way to message Parabol for prioritized and timely support.

**Estimated effort:** 13 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

### Acceptance Criteria
#### Design
- We decide where floating actions are in the app: rejoin facilitator, help dialog, su

[2017-09-26 16:40] jordanh opened #1367 "Resources limited"
## Issue - Enhancement

Let's hold a design meeting to create what our initial Personal/Pro/Enterprise tiers will look like.

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-26 16:44] jordanh commented on #1367
Can you create a Pro account from the get go, or must you create a Personal account and upgrade?

When I create a new organization, can I create a new paid organization or will is start as free?

How do we make the concept of an organization obvious to the user?
(we already have the issue of adding copy to the UI)

[2017-09-26 17:00] jordanh commented on #1367
Ease of onboarding even over early or repeat conversions. So, Personal account only from the get go.

New organizations begin in the Personal, free tier. However, we should make it obvious what tier an org/team is in and make the conversion pathway obvious.

When creating a new team, we are ripping out the credit card form when a new org is created.

For example, on the new team page, when a user

[2017-09-26 17:09] ackernaut commented on #1367
Yet another question for this discussion (and I posted in Slack):

**Is there a discount when paying annually instead of monthly (either Pro and/or Enterprise)**?

@mattkrick @jordanh

[2017-09-26 17:17] mattkrick commented on #1367
nope, enterprise is out of scope as is pro_monthly, pro_annual, etc. Just wanted to declare that 1 tier (pro, enterprise, etc) can have many stripe "plans" (pro_annual, pro_monthly). Just a lil futureproofing is all.

[2017-09-26 18:50] ackernaut commented on #1364
+1

[2017-09-26 18:51] ackernaut commented on #1367
ah so for this iteration we are designing for: Personal (monthly) `||` Pro (monthly)

[2017-09-26 19:20] ackernaut opened #1368 "Billing settings view updated"
## Enhancement

**Personal**:
- [x] Add a panel to upgrade from Personal to Pro (includes copy around what/cost and link to pricing page for more details)
- [x] Bonus points: give them an estimate of what upgrading looks like monthly based on current usage (no. of members) [“how much?” link; user taps to see estimate]

**Pro**:
- [x] Add UI copy stating to “contact Parabol” for speedy cancelation/

[2017-09-26 19:51] jordanh commented on #1367
Correct!

[2017-09-26 20:06] ackernaut commented on #1310
@jordanh 👀 the details for a simple first version. Safe to try?

[2017-09-26 21:10] dan-f commented on #1326
(Also update node version to the same version specified in the `package.json`)

[2017-09-26 21:34] ackernaut opened #1369 "Newly linked card content loses formatting"
## UX Bug

When selecting card content that has formatting (let’s say **bold**) but isn’t yet linked, it loses any formatting when the link is added to the content.

### Acceptance Criteria
- Formatted text (bold, italic, etc.) doesn’t lose formatting when a link is added to any portion of the text

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/ma

[2017-09-26 21:35] ackernaut commented on #1369
Would add a record.it but it is acting buggy, delayed…

[2017-09-26 21:45] ackernaut commented on #1362
See #1278

[2017-09-27 00:45] mattkrick commented on #1367
discussion complete!

[2017-09-27 00:45] #1367 closed

[2017-09-27 00:46] mattkrick commented on #1354
#1359 will fix this

[2017-09-27 04:41] mattkrick opened #1371 "test anti-waterfall patterns with org page"
Everyone says react router v4 can trigger request waterfalls with relay, but i really don't want to switch yet again...

The problem is that there is no top-down tree of the route. in other words if the tree is A->B->C for foo.co/a/b/c, then you don't know you need B until you hit A, and so on.

- We could accept a request waterfall, but that means slow loading times.
- We could ignore Relay loadi

[2017-09-27 14:30] dan-f commented on #1316
Definitely seems interesting. I think this warrants a comparison between a WebDriver-based system and cypress. Looks like cypress [doesn't use WebDriver at all](https://docs.cypress.io/faq/questions/general-questions-faq.html#Does-Cypress-use-Selenium-Webdriver), meaning your tests are run in the browser within the same context as your app. I'm trying to better understand what the implications of

[2017-09-27 16:54] ackernaut opened #1372 "Invitation notifications"
@mattkrick a couple of questions about notification invitations:

1. Does the notification show realtime? (I haven’t seen this to be true locally.)
2. When accepting the invitation is it supposed to go away real time and add the team to the left nav? (I haven’t seen this either, when I tap the button there is no feedback/indication that something is happening. If (A) I refresh the browser, I see t

[2017-09-27 18:22] tayamueller opened #1373 "invite fail"
## Issue - Bug

When running a demo, the user sent an invite to me (received) but when I clicked "join" in the email it opened a tab that just kept running this screen w/ the jumping ducks:
![invite bug](https://user-images.githubusercontent.com/14892189/30930094-8eb47e00-a38e-11e7-8630-e2a5bfae54de.jpeg)

User resent invite but it continued to fail (I let it run for an hour)

[2017-09-27 18:26] ackernaut commented on #1373
Related to #1356 ?

[2017-09-27 18:29] tayamueller opened #1374 ""Project" -> "Task""
## Issue - Enhancement

Repeat observation of this behavior: when a user first encounters the Process Agenda portion of the meeting, they are often confused about what level of detail to enter in the card. Query indicates that "Project" is perceived as a larger unit, comprised of smaller "Actions" (preferred naming over "Task"). They feel that a Project card should allow more back-of-card detail.

[2017-09-27 18:31] tayamueller commented on #1373
@ackernaut to clarify: this was a brand new invite for a brand new team (shouldn't be expired, but maybe you mean the mechanics are similar?)

[2017-09-27 18:36] ackernaut commented on #1373
@tayamueller yep! basically want to link up the related “ducks upon invite” theme in our current issues.

[2017-09-27 22:05] mattkrick commented on #1316
IMO i'm OK with starting with chrome for now, especially since they mention more browsers are coming (although i won't hold my breath).
I'm less concerned with "this works on chrome but not firefox" and more concerned with "the signout button no longer works". Sure, there are a couple cases where this isn't the case (draft-js has a firefox bug that hasn't been fixed yet) but we wouldn't catch thos

[2017-09-28 20:28] ackernaut opened #1375 "Add tooltip component to Check-In greeting"
## Enhancement

We’ll most likely be adding the tooltip component for the Check-In customization UX. So let’s follow suite and add it to the international greeting.

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-09-28 20:58] ackernaut commented on #1310
Added UI specs for details, behavior.

[2017-09-28 21:36] ackernaut opened #1376 "Organizations list view updated"
## Enhancement

Here’s what we need to do with the Organizations list view:

- [x] Paid organizations have a Pro tag/badge.
- [x] Empty state still links to New Team form with the new Org name field?
- [x] Top-right panel action still links to New Team form with the new Org name?

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.m

[2017-09-28 21:43] #272 closed

[2017-09-28 21:43] ackernaut commented on #1354
Added the new tooltip component to clarify meaning.

[2017-09-28 21:43] #1354 closed

[2017-09-29 14:35] dan-f opened #1377 "Cannot read property "notifications" of null"
## Issue - Bug

This occurred on production. I wonder if it has to do with possibly losing a wss connection overnight. I had a session from yesterday, opened my laptop, and clicked on the product team in the left-hand nav.

- **OS:** macOS
- **Browser:** Chrome
- **Node version:** what's on prod
- **NPM version:** what's on prod
- **RethinkDB version:** what's on prod
- **Estimated effort:** N/A

[2017-09-29 15:03] ackernaut opened #1378 "Meeting Link updated to use meeting route (w/ feedback)"
Currently, the Meeting Link in the Meeting Lobby links to the team, not the meeting. Let’s change that so that it routes to `/meeting/` which will already redirects to the appropriate current phase (lobby, check-in, etc.) and add some visual feedback.

- [x] Link routes to `/meeting/` not `/team/`
- [x] Adds the tooltip component (appears below the Meeting Link, centered) that says something like

[2017-09-29 15:16] ackernaut commented on #1378
To clarify I think `CopyShortLink.js` could use a nested `Button` component instead of the `a` tag.

[2017-09-29 15:37] dan-f commented on #1378
Yeah. Buttons "do things", links "go somewhere", eh?

[2017-09-29 15:40] ackernaut commented on #1378
Yeah, good point. Also, I was also trying to imagine having a similar look to the current “copy link” component. The `Button` could probably use the default shadow level.

[2017-09-29 16:09] dan-f opened #1379 "Integrations List view discoverability"
## Issue - Enhancement

I was initially confused by the "link to my account" copy; seeing GitHub in the integrations list made me think it had already been "set up". I realize now that I had to allow Parabol to post as me.

I think that "link to my account" could use a tooltip explaining what "link" means, and why you'd want to do so.

<img width="728" alt="screen shot 2017-09-29 at 10 52 05 am" s

[2017-09-29 21:00] tayamueller commented on #1278
revision:
![onboarding edit](https://user-images.githubusercontent.com/14892189/31035881-b44a41b8-a537-11e7-8949-fce6503b10cb.jpeg)

[2017-09-30 03:44] mattkrick commented on #1142
Relay does a little something magical, which isn't always desired.
Say i have {id: 1, name: 'matt', fruit: 'peach'} in the cache.
Now say there is a mutation to change my name & another one to change my fruit.
So that means i need 2 subscriptions, 1 for changing the name, and 1 for changing the fruit.
This is because if a subscription asks for {id, name, fruit} and i don't return name, then GraphQ

[2017-10-02 15:21] mattkrick opened #1382 "Heuristic for when to use subscriptions"
Now that subscriptions are event driven (or at least live query driven) there are some places where it probably doesn't make sense to  use them.
Invoices in 1 of those. There are 4 events where an invoice could change:
- payment success
- payment fail
- new invoice
- updated upcoming invoice

We expect 1 of these events per month. Let's say a user spends 5 mins/mo in the Organization module of the

[2017-10-02 15:21] #1382 closed

[2017-10-02 17:48] mattkrick commented on #1371
https://facebook.github.io/relay/docs/routing.html

[2017-10-03 15:29] tayamueller commented on #1278
https://docs.google.com/spreadsheets/d/1KbLBNsj5a3gNknWUhYGBsx70dc0oy8Tikhqo3mkuUaY/edit#gid=0

[2017-10-04 14:50] dan-f commented on #1316
I had another thought this morning on cypress v. webdriver. Seems to me that webdriver would enable us to test realtime behavior, since we can drive two browsers in parallel. I'm not exactly sure what the story is here for cypress, since tests are executed inside of the browser runtime.

[2017-10-04 15:29] mattkrick opened #1385 "refactor ownedOrganizations to relay"
convert OWNED_ORGANIZATIONS to relay

- OrganizationsContainer

- [ ] turn ownedOrganizations into a query
- [ ] created events subs to feed that query

[2017-10-04 16:15] ackernaut commented on #1316
Ah, are you thinking we could simulate 2 users at once? (facilitator and participant, inviter and invitee, realtime interactions, etc.) or am I misunderstanding?

[2017-10-04 16:19] dan-f commented on #1316
@ackernaut - that's exactly what I'm thinking.

[2017-10-04 20:39] dan-f commented on #1378
Fixed in #1383.

[2017-10-04 20:39] #1378 closed

[2017-10-04 23:53] mattkrick opened #1386 "breaking migrations"
oh this is a fun one:
- our migrations sometimes rely on 3rd party packages to do their work. for example, when we converted markdown to draft-js, we needed packages to make that conversion
- some of those packages may rely on things that no longer exist. in the above scenario, `draft-js-export-html` relies on `CSSProperty` from react-dom. With react16, react-dom doesn't have that!

This is a bles

[2017-10-04 23:53] #1386 closed

[2017-10-05 00:15] tayamueller opened #1387 "typo in Notification"
## Issue - Bug

![typo](https://user-images.githubusercontent.com/14892189/31205654-c948f48a-a940-11e7-88d9-e45eab168644.jpeg)

[2017-10-05 00:21] tayamueller opened #1388 "Inaccurate In/Active state"
## Issue - Bug

lol:

![inactive](https://user-images.githubusercontent.com/14892189/31205779-91060ada-a941-11e7-8b2b-e98b7e01adce.jpeg)

[2017-10-05 00:22] tayamueller opened #1389 "Ghost Dates in Billing"
## Issue - Bug

note year (1969)

![ghost dates](https://user-images.githubusercontent.com/14892189/31205805-bf886f38-a941-11e7-9b76-3f0ad4b19245.jpeg)

[2017-10-05 00:25] tayamueller opened #1390 ""Have A Super Day" ....?"
## Issue - Enhancement

When I click the hamburger in this view, I expect action options...but I get this message...what is the point? (is this a bug? if not, recommend removal)
![super day](https://user-images.githubusercontent.com/14892189/31205849-1a047df8-a942-11e7-99de-39f3b17c69ad.jpeg)

[2017-10-05 00:35] tayamueller opened #1391 "Copy Change: Active Activation Notification"
## Issue - Enhancement

**CURRENT:**
We got you covered
We'll unpause that user the next time they log
in so you don't pay a penny more than
necessary

**EDIT:**
We've got you covered! [OR "We gotcha covered!" to make the colloquialism explicit]
We'll re-Activate that user the next time they
log in so you don't pay a penny too much

[echoing language to avoid confusion with "unpause"; tightened co

[2017-10-05 13:52] tayamueller commented on #1373
recurrence of failed invite from Angelo to TM @ 8pm EST 10.05.17

[2017-10-05 14:07] dan-f commented on #1385
Alright, taking a look at this!

[2017-10-05 14:59] ackernaut commented on #1389
Earlier version of our billing module. So ‘fess up! Who has a time machine? @mattkrick @jordanh

[2017-10-05 15:56] tayamueller commented on #1034
Intent was not to create 2 comms; intent was to include Done items in the existing Summary (which currently only includes New cards)

Reopening b/c it's surfaced again (and has been repeated) as a useful feature

[2017-10-05 16:12] ackernaut commented on #1034
I think this will require some exploration as we loop through team members, it could get rather long. We will have What’s New (and loop through cards coming out of the meeting) and then What’s Done (and loop through cards that were in the Done status when the meeting ended). May be hard to track when scrolling down through an email. There is less cognitive and visual overload when all the cards re

[2017-10-05 19:48] ackernaut opened #1393 "Org Name Editable Input Error Message"
## UI Bug

The error message overflows into the “org birthday” copy below.

<img width="423" alt="screenshot 2017-10-04 17 00 20" src="https://user-images.githubusercontent.com/307286/31249247-42ae3330-a9dc-11e7-9a07-dfc58530dba1.png">

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-10-05 20:02] mattkrick commented on #1385
i'll use this comment to jot down helpful things that we should probably document somewhere but since it was only me it's all just been in my head:

- Where sensible, I execute 1 GraphQL Query per leaf route (eg `/me/organizations`). It should have a single graphql query that is populated by many fragments that are pulled from the child components
- The component that fetches that query always use

[2017-10-05 20:02] ackernaut commented on #1387
This trial notification is obsolete when we ship Epic 7.

[2017-10-05 20:02] #1387 closed

[2017-10-05 22:28] mattkrick commented on #1308
closing in favor of smaller issues to burn down

[2017-10-05 22:28] #1308 closed

[2017-10-05 22:29] mattkrick commented on #1361
trials gone!

[2017-10-05 22:29] #1361 closed

[2017-10-05 22:44] tayamueller commented on #1205
@mattkrick I think this is safe to shelve for now & revisit after partnership agreements are solidified. @jordanh thoughts?

[2017-10-05 23:49] jordanh commented on #1205
I think it is safe to shelve, with the Freemium epic as it is, we have a way forward

[2017-10-05 23:49] #1205 closed

[2017-10-06 19:10] ackernaut commented on #1368
WIP via #1395

[2017-10-06 20:39] ackernaut opened #1397 "Epic 7 UI updates"
## Enhancement

Capturing a list of things to improve along the way:

- [x] Button sizing and typography updates
- [x] Form control sizing and typography updates
- [ ] `IconControl` replaced with flat button

**Estimated effort**: 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-10-09 19:03] tayamueller commented on #1373
recurrence for both myself & potential client on 10.09 @ ~2:20pmEST

[2017-10-09 19:21] tayamueller commented on #1373
Note: in first 2 instances, the teams did show up on Parabol when I went directly to the URL. In this 3rd instance (probably b/c it also failed for her) the team did not show up on Parabol when I went directly to the URL

[2017-10-09 22:00] #1373 closed

[2017-10-09 23:38] dan-f opened #1399 "Get team-based authz out of Auth0"
## Issue - Enhancement

Based on discussions w/ @mattkrick, and the bug seen in #1373, I think it'd be useful for us to decouple our authorization from our identification.

We're currently relying on Auth0's `tms` claim to tell us which teams a user belongs to. In order to change a user's teams, we have to:

1) Update their `tms` on Auth0 using their Management API
2) Immediately re-issue them a n

[2017-10-10 15:45] dan-f opened #1401 "Evaluate official stripe-mock to replace homegrown stripe mock"
## Issue - Enhancement

We should evaluate:
- the benefits of moving to the [official stripe mock](https://github.com/stripe/stripe-mock) vs maintaining [our own](https://github.com/ParabolInc/action/blob/master/__mocks__/stripe.js)
- how difficult it may be
- if it's ultimately worth it

At which point we can probably create a new ticket and point it accordingly

@mattkrick

[2017-10-10 22:41] mattkrick opened #1402 "support case-sensitive emails"
I just learned that the user portion of the email is case sensitive (although the domain & tld isn't). we need to support this:
- [ ] change the GraphQLEmailType coercion
- [ ] change all the rethinkdb queries to match case

[2017-10-11 15:37] dan-f opened #1404 "Define application logging strategy"
## Issue - Enhancement

Let's come up with a strategy for capturing application logs securely and getting them into some sort of indexed system for reporting / support purposes.

https://www.owasp.org/index.php/Logging_Cheat_Sheet

@mattkrick

[2017-10-11 15:58] jordanh commented on #1278
After @ackernaut, @tayamueller, @sarakhatri, and I met this morning we came up with the following design direction. It has two parts:

1. Seed dashboard update
2. Agenda empty state design update

## Seed dashboard update

The content now looks like this:

![image](https://user-images.githubusercontent.com/103000/31451788-e0edee26-ae61-11e7-904d-ffc85a24f6dc.png)

**Note:** two cards will be made

[2017-10-11 16:02] ackernaut commented on #1278
I’ll take the UI updates to the Agenda input and empty state.

[2017-10-11 16:03] ackernaut commented on #1278
I’ll take the UI updates to the Agenda input and empty state.

[2017-10-11 18:24] mattkrick opened #1405 "handle pause option for free accounts"
we need a tooltip or maybe even hide the ability to pause for free accounts

[2017-10-11 20:05] ackernaut commented on #1405
You talking Active/Inactive toggle?

[2017-10-11 20:44] tayamueller opened #1406 "email + notification duplication"
## Issue - Bug

fyi--I have always gotten both an email AND a notification to join a new team...this is apparently a bug! :)

[2017-10-11 21:18] dan-f opened #1407 "Clean up npm scripts"
## Issue - Enhancement

I think it'd be awesome to apply a bit of UX work to our npm scripts. In particular:

- I'd like to make them consistent in their handling of `NODE_ENV`. E.g. all of them obey `NODE_ENV`, or they're all named in terms of the `NODE_ENV` they use. (I prefer the former)
- I'd love to make it clear which scripts are developer-facing (e.g. do what needs to be done no matter the

[2017-10-11 22:55] mattkrick commented on #1405
yeah! what are your thoughts? do we keep the toggle for the free folk?

[2017-10-11 22:57] mattkrick commented on #1407
our scripts could definitely use some love. Getting your fresh eyes on it is super valuable & I'd be happy to review a PR!

[2017-10-11 23:01] ackernaut commented on #1405
I think it might be confusing for free folks. Perhaps we only show for billing leaders on the paid plan. Also we may find a way to add a tooltip and link to our pricing page where it explains with activity means and how it affects invoicing.

[2017-10-11 23:06] mattkrick commented on #1405
yeah, i could be up for that!
i mean, it's only be available for billing leaders anyways, so it's not super high priority.
would you mind making a low fidelity design of whatcha got in mind?

[2017-10-11 23:41] mattkrick commented on #1385
@dan-f i'm gonna go ahead & knock this one out since it's on the critical path.

[2017-10-12 00:16] mattkrick opened #1408 "make orgs realtime again"
OrganizationRoot needs a few subscriptions put on it for name/picture changes, etc.

[2017-10-12 00:37] mattkrick opened #1409 "fix contact us for pro users"

[2017-10-12 03:33] ackernaut commented on #1405
So…I noticed one thing.

We soon will give folks a little estimated cost below the big button to upgrade to the Pro Plan.

![screenshot 2017-10-11 22 33 07](https://user-images.githubusercontent.com/307286/31478186-2b47f6de-aed4-11e7-9bb7-3aec37bf42a2.png)

They may be curious as to who is active and may think to look under the Members tab. So I was thinking we could keep the INACTIVE badges, but

[2017-10-12 03:36] mattkrick commented on #1405
_only_ the billing leader can see that page.
why do we have an inactive badge & an inactive toggle? can we just nuke the badge?

[2017-10-12 03:37] ackernaut commented on #1405
I was thinking they could have some context for who is active so they could make choices about their team(s) and plan.

So an alternative approach would be: show a passive element when FREE and show a toggle with PAID, but both indicate activity (once again for decision making).

[2017-10-12 03:40] mattkrick commented on #1405
just spitballing here:
- get rid of badges
- keep toggle since that now provides unique info
- for free folk either leave it as is or disable + pop a message if they try to inactivate to

i'm thinking it'd be nice to keep the toggles around because they serve a secondary purpose of reminding the leader that they aren't PRO, but once they become pro, they won't be surprised by something new

[2017-10-12 03:41] mattkrick opened #1411 "pluralize estimate"

[2017-10-12 03:42] ackernaut commented on #1405
I like keeping them for the learning and clarity. A disabled state is an option. A tooltip explaining what they can’t do yet is an option. I’ll make a note to yank the INACTIVE badge.

[2017-10-12 04:39] mattkrick opened #1412 "refactor new auth token message into its own channel"
auth tokens are currently listened to by notifications, or maybe some other mutation or subscription.
Instead, we should just dedicate a channel to always listen to a new auth token. that way, the pattern remains the same whether i'm doing it myself (addOrg) or someone else does it to me (kick out of org).

[2017-10-12 14:11] dan-f commented on #1385
Ah, please do. I'm down with the e2e work currently, but if there's something more critical, please let me know!

[2017-10-12 15:46] ackernaut commented on #1390
@mattkrick perhaps we could educate Billing Leaders here: “You can remove the Billing Leader role from yourself if you promote another member to Billing Leader.” That is verbose, but you get the idea.

Explicit knowledge for this issue:

You (as Billing Leader, when there is another Billing Leader) can take these actions on yourself:
- Remove Billing Leader role
- Leave Organization

You can take

[2017-10-12 15:47] ackernaut commented on #1390
See #1405 —perhaps we could make a quick pass on this view.

[2017-10-12 15:55] ackernaut commented on #1397
deferring on `IconControl`

[2017-10-12 15:55] #1397 closed

[2017-10-13 00:09] mattkrick commented on #1390
duplicate of #742. let's move the convo back over there

[2017-10-13 00:09] #1390 closed

[2017-10-13 00:21] ackernaut commented on #742
My first thoughts are to show a tooltip or similar that coaches how to add a second billing leader (can pass along the role) etc. instead of a menu (since there are no menu actions).

[2017-10-13 00:25] ackernaut commented on #1278
Here’s latest (it’s nuanced to get everything lined up and tight in the Meeting Dashbar, but I think I found a reasonable iteration). A GIF of the Dash view:

![_agenda](https://user-images.githubusercontent.com/307286/31525032-0e7082ce-af83-11e7-82d5-6b203e99da51.gif)

[2017-10-13 00:26] ackernaut commented on #1278
I do think the fakey items kind of feels like a loading state, but I’m ok experimenting with it as an empty state.

[2017-10-13 00:27] ackernaut commented on #1278
Oh, and I placed the tooltip above the input so that it wouldn’t obscure any existing agenda items.

[2017-10-13 02:56] mattkrick opened #1415 "Improve inactivateUser"
When we inactivate a user we should:
- [ ] first see if that user is online & fail if they are
- [ ] update the organization active/inactive count for all subscribers

[2017-10-13 03:03] mattkrick commented on #1411
also pluralize Users on the Organizations page

[2017-10-13 19:55] jordanh opened #1418 "Add special-cased add Card controls during update phase"
## Issue - Enhancement

This issue is the conclusion of discussion #1319

When a user utilizes our Dashboard infrequently, but attends meetings regularly they want to be able to add Cards during the meeting's Update phase, so that they can signal what they are up to, without having to create an agenda item and derail the entire team.

During a specific team member's Update phase, it:
- [ ] allows

[2017-10-13 19:55] jordanh commented on #1319
Ok. So as we've discussed this inside and outside here's the conclusion: #1418

[2017-10-13 19:55] #1319 closed

[2017-10-13 21:47] mattkrick commented on #1218
We finally have some cases where this could be beneficial (get the teamMember name for every archived project). for epic 7 it'll be comically inefficient, which will motivate us to do it right for epic 8

[2017-10-14 02:07] mattkrick commented on #1278
i agree with @ackernaut, those placeholders immediately make me think loading state. see facebook, slack, linkedin, etc. If i didn't see them populate in 2 seconds, I'd assume it was an error & something didn't load right.

[2017-10-16 18:00] jordanh opened #1419 "Merging accounts with the same email..."
## Issue - Enhancement

We got this "fun" side-effect of using auth0 and multiple auth methods: a user that authenticates with Google is a separate accounts from those that authenticate with their email and password.

In the future (where everything is better), if a user authenticates with an account where an email already exists, we could take a number of actions:

1) Warn the user before the new

[2017-10-16 21:14] sarakhatri commented on #17
@jordanh is this different from generally tagging someone in a project card?

[2017-10-17 14:42] dan-f commented on #1310
Waiting for my e2e PR to build, picking this up now.

[2017-10-17 15:25] jordanh opened #1420 "[object Object] is now facilitator bug"

[2017-10-17 15:30] mattkrick opened #1421 "dig into multiple tab use on presence"
When a user is in the meeting (agenda processing) on one browser tab and on their dashboard on another tab, there may be a “User and User are editing…” message on the same card.

[2017-10-17 19:39] tayamueller opened #1422 "#private bug"
## Issue - Bug

this #private card created during Agenda Processing, isn't #private
![private](https://user-images.githubusercontent.com/14892189/31685552-5a402106-b351-11e7-8ea0-5e33d182691e.jpeg)

[2017-10-17 19:56] dan-f opened #1423 "Invariant Violation: Objects are not valid as a React child (found: object with keys {_error})."
https://sentry.io/parabol/action-staging/issues/372939461/

[code]

[2017-10-17 20:10] dan-f commented on #1420
Adding a description:

Issue - Bug

When running a meeting, and when the facilitator drops out of the meeting for some reason, a notification is shown with the copy `[object Object] is now the facilitator`.

OS: macOS
Browser: Chrome
Node version: production version as of 10/17/2017
NPM version: production as of 10/17/2017
RethinkDB version: production as of 10/17/2017
Estimated effort: 12 points

[2017-10-17 20:53] ackernaut commented on #1278
I agree @mattkrick gonna stick those in a loading state and add an empty state with an emoji:

![_agenda_emoji](https://user-images.githubusercontent.com/307286/31688862-4800b3a0-b353-11e7-8c39-5e9577a6db07.gif)

[2017-10-17 21:23] sarakhatri commented on #1344
For the bell icon, I propose the Tossing or Pulse animation found on this website: http://www.justinaguilar.com/animations/#

The tossing animation is more subtle, while the pulse animation is a little more attention-grabbing. Personally, the pulse icon would get me to click on it as soon as I saw it because it would be annoying to leave it pulsing while using the app.

[2017-10-17 21:26] ackernaut commented on #1344
When the notification bell is updated in realtime, should it pulse for a brief duration, then finally stop?

[2017-10-17 21:33] sarakhatri commented on #1344
Yes, I think that would work well! If we use the tossing animation, we could just keep it animating because it's so subtle (if there aren't any issues with that on the backend side).

[2017-10-17 21:36] mattkrick commented on #1344
I almost wanna do both. Pulse grow, toss, then pulse shrink. Maybe 700ms? I wanna capture all the attention I can, then go away so they aren't distracted too much from their current task.

[2017-10-17 21:45] jordanh opened #1424 "Invitation arriving via email not notification, when already a user"
## Issue - Bug

I often give demos to folks where:

1. I have them sign up and create a team
2. I have them invite me to their team as jordan@parabol.co

When they do, I always get an email invitation, not a notification even though my email is already known by Parabol. This is a bug, ja?

- **Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CON

[2017-10-17 21:51] mattkrick commented on #1424
Working as intended, I can reference the issue with the thought process later, but here's the gist:
Let's say I don't send the email since you're a current user.
What if you haven't logged in for 30/60/90 days? Do I send an email then? What happens when someone wants to resend the invitation? Does it send an email then? If it does, then is it really a "resend" because we never sent the first one?

[2017-10-17 21:56] jordanh commented on #1424
This makes sense. Thank you! Closing...

[2017-10-17 21:56] #1424 closed

[2017-10-17 22:44] tayamueller commented on #1422
interesting--I was able to fix this by going back & manually clicking then selecting "private" from the pop-up. This is clunky & was not what I expected from the feature. (can't tell if this is an actual bug or intentional)

[2017-10-18 20:07] mattkrick commented on #1422
this is caused when you don't use the autocomplete. if text matches but autocomplete isn't selected, then let's make it a tag anyways.

[2017-10-18 20:09] mattkrick commented on #1421
this is the "terry & terry is editing..." bug. deferring for now

[2017-10-18 20:11] ackernaut commented on #1421
deferring for now

[2017-10-18 20:14] mattkrick commented on #1406
explanation found in #1424

[2017-10-18 20:14] #1406 closed

[2017-10-18 20:14] mattkrick commented on #1404
let's also include how to handle things from sentry.io in this, too.

[2017-10-18 20:16] #1402 closed

[2017-10-18 20:17] #1401 closed

[2017-10-18 20:23] #1377 closed

[2017-10-18 20:25] mattkrick commented on #1374
Options:
- Action (taya's favorite)
- Task
- Project
- Ticket
- Card
- Outcome

@jordanh what say you?

[2017-10-18 20:27] ackernaut commented on #1374
Just noting that we would have to scrub UI in ALL the places to get this right. Perhaps its own mini-Epic?

[2017-10-18 20:29] mattkrick commented on #1372
@ackernaut can you please provide repro steps

[2017-10-18 20:31] #1408 closed

[2017-10-18 20:31] #1385 closed

[2017-10-18 20:32] #1389 closed

[2017-10-18 20:32] #490 closed

[2017-10-18 20:33] #1371 closed

[2017-10-18 20:34] #1368 closed

[2017-10-18 20:34] #1376 closed

[2017-10-18 20:34] #1183 closed

[2017-10-18 20:36] mattkrick commented on #1311
breaking into smaller, separate issues.

[2017-10-18 20:36] #1311 closed

[2017-10-18 20:37] mattkrick commented on #1375
can be completed in same PR as #1310

[2017-10-18 20:37] #1326 closed

[2017-10-18 20:46] mattkrick commented on #17
- [ ] When a card gets updated & it has a `@Matt` mention, I should get a notification saying i've been mentioned in a card

F

[2017-10-18 21:35] ackernaut opened #1426 "New Team form: Improve fields for invitees by email"
## Enhancement

### Acceptance Criteria
- A prototype is designed that explores the items in the checklist below (original thoughts that can be updated as part of the design process)
- The prototype is tested internally and externally
- A next-steps issue is written, either hi-fi design or implementation

**Checklist**: the invitee by email field…
- [ ]  assumes that the user has chosen the right

[2017-10-18 21:37] ackernaut opened #1427 "Org dropdown list has conditional Pro™ badge"
## Enhancement

- [ ] The organization dropdown menu has a Pro™ badge by the organizations that are Pro™.

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-10-18 21:38] ackernaut commented on #1311
Created 2 new issues:
#1427 Org dropdown has conditional Pro™ badge
#1426 Invitee by email field has the features in the checklist from this closed issue

[2017-10-18 21:43] ackernaut opened #1428 "Agenda input considerations"
## Enhancement

- A label can be used as a visual placeholder, whereas a true placeholder can be accessible.
- A label and/or placeholder could have either an explicit action “Do this thing” or an example “this example thing” depending on the context / UX.
- Consider updating the icon (perhaps a comment bubble?) and perhaps taking it out of the input.

**Deferring any bigger design changes** until

[2017-10-18 21:52] ackernaut commented on #1428
@dan-f I know some of these are probably just good general considerations, but want to start building up the thinking. I like the extra attention to accessibility, beyond the “typical” UX considerations that are made.

[2017-10-18 23:24] jordanh opened #1429 "Segment, HubSpot, marking automations & you"
## Issue - Enhancement

In our design discussion around on-boarding enhancement #1278, we agreed that some of the inial on-boarding cards would become marketing automations which would re-engage and encourage the users to take specific actions:

[code]

[code]

I've been looking at how to support these using HubSpot. I had to open a support ticket and speak to a CSA to figure it out, but I've got

[2017-10-19 00:02] jordanh commented on #1429
I could also see us doing an "integration" adoption level too. But, I think these are the two first dimensions to consider tracking...

[2017-10-19 18:01] ackernaut opened #1430 "Assignment or mention notification v1"
## Enhancement

**JBTD**:

_When working asynchronously outside of a meeting, users want to be notified when they are assigned as the owner of a new outcome card, or at-mentioned in an outcome card, so that they can be aware and take next steps toward the outcome of the card._

**UI details**:

- Notification copy (a or b):
  - “**UserName** _has assigned you a project for TeamName_:”
  - “**UserN

[2017-10-19 18:03] ackernaut commented on #1430
@mattkrick I’m wondering if for the first pass we don’t try to show the latest content, but it could be slick in the long run if it supports a real UX story. My thinking in checking for latest content is since we don’t have a link to a card back, then I would want the notification to be as accurate as possible.

[2017-10-19 18:04] ackernaut commented on #1430
the details say “task” but this language has yet to be decided…it would probably be more consistent to use “project” in the current UI implementation.

[2017-10-19 18:04] ackernaut commented on #1082
Let’s use #1430 to scope the actual implementation of v1 for this epic.

[2017-10-19 22:20] ackernaut opened #1431 "Option to leave/hide organizations"
## Enhancement

I’ve left a lot of teams created under other users’ organizations (demos, user testing, batting practices, etc.).

I see a long list on the Org dropdown on the New Team form. It’s not ideal.

Should we give users the option to leave an org they don’t own, perhaps a 2nd list of organizations under user settings?

**Concept**:

User > Organizations

**List one**: My Organizations
**L

[2017-10-19 22:21] ackernaut commented on #1431
@tayamueller would probably especially appreciate this one. :)

[2017-10-20 19:39] mattkrick opened #1433 "Subscriptions, error handling, resubs, and query renderer"
Our query renderer needs to be rewritten to support observables for the new version of relay.
We also need to do proper error handling on the client when a sub throws because when a new token comes down the wire, it should flush all subs because we can no longer ensure that the subscriber has authorization to be subscribed to them.

unfortunately, we gotta do this now because on the newteamform we

[2017-10-21 01:50] #1433 closed

[2017-10-23 17:32] tayamueller commented on #1034
"when you’re selling to management you’re selling reporting." -a smart guy we know

[2017-10-23 17:33] tayamueller commented on #1034
see comments in #644

[2017-10-23 17:34] tayamueller commented on #644
"when you’re selling to management you’re selling reporting." -a smart guy we know

[2017-10-23 19:26] tayamueller opened #1437 "typo: notification to hand over reins"
## Issue - Enhancement

typo: "reins"

![reins](https://user-images.githubusercontent.com/14892189/31908952-916840e6-b806-11e7-9951-a20efdce0e5e.jpeg)

[2017-10-24 00:38] mattkrick commented on #1405
fixed in #1425

[2017-10-24 00:38] #1405 closed

[2017-10-24 00:38] mattkrick commented on #1309
fixed!

[2017-10-24 00:38] #1309 closed

[2017-10-24 00:39] mattkrick commented on #1316
fixed in #1413

[2017-10-24 00:39] #1316 closed

[2017-10-24 00:40] mattkrick commented on #1388
i can't reproduce with the new code, gonna assume we fixed it when we migrated orgs over to relay. will reopen if that's not the case

[2017-10-24 00:40] #1388 closed

[2017-10-24 00:41] mattkrick commented on #1278
@ackernaut did these new seed cards get added in?

[2017-10-24 00:41] mattkrick commented on #1427
moving to epic 8, can push back to snooze if we dont have time.

[2017-10-24 15:40] ackernaut commented on #1278
@mattkrick I didn’t touch the seed cards. You had a branch? Perhaps we merge and scrub down to the latest version (fewer cards with less copy)?

[2017-10-24 16:32] mattkrick commented on #1278
@ackernaut sure, no branch yet, let's get this merged though. where is the final version of the new seed cards?

[2017-10-24 17:59] #1391 closed

[2017-10-24 17:59] #1412 closed

[2017-10-24 17:59] #1411 closed

[2017-10-24 17:59] #1409 closed

[2017-10-24 18:01] mattkrick commented on #1278
pushing to epic 8, this is blocked for 2 reasons:
- we can't create bullet lists yet (3-4 days, estimate)
- we can't turn plaintext into rich text (links, bold, etc.) without user interaction. (3-4 days, estimate)

[2017-10-24 18:45] mattkrick opened #1440 "Add functionality for those without websockets"
It happened! We finally got a client who has an IT department that disabled websockets.
For me, this makes me want to prioritize the switch from cashay to relay. The way I'm writing the relay implementation is so websockets are optional (for everything but meetings).
we should also pop a toast if websockets are not working.
@jordanh looping you in because this is the largest prospective client we'

[2017-10-25 00:18] #1355 closed

[2017-10-25 15:12] dan-f commented on #1429
@jordanh this looks real good to me.

I've got a suggestion regarding "adoption levels". Since the processes of joining a team, adding project cards, and managing teams are unordered, I recommend remodeling the notion of "adoption levels" into "product adoptions". Taking this idea to implementation, we'd move from a sequence of adoption states over time to a sequence of _sets_ of adopted product f

[2017-10-25 17:28] ackernaut opened #1441 "Flush all clear-able notifications"
## Enhancement

**JTBD**:

_When on a humming, highly active team, users want controls to batch process notifications (mark read, etc.)…
**…so that** they can mark multiple notifications as read
**…so that** they can quickly clear their notifications down to the ones that require more considered action (approve a new org member, join a team, etc.)
**…so that** they can quickly get back to the real

[2017-10-25 17:31] ackernaut commented on #982
Related to #17

[2017-10-25 17:32] ackernaut commented on #982
Related to #1430

[2017-10-25 17:42] ackernaut opened #1442 "Batch notification emails v1"
## Enhancement

Inspired by #982

**Details**:
- When 24 hours have passed without a user signing in
- and the user has new notifications
- we send an email saying that they have new notifications with a means of linking to the notifications view (the purpose is re-engagement, so tease them by not giving the notification content)

**Estimated effort:** 13 points ([see CONTRIBUTING.md](https://gith

[2017-10-25 18:40] jordanh opened #1443 "New team email invitation form UX bug"
## Issue - Bug

User Larry ran into this:

![image](https://user-images.githubusercontent.com/103000/32016546-19f270b2-b979-11e7-9dfa-673a3ac6b97e.png)

He was separating email addresses by a single newline, not a comma. Otherwise his emails were well formed. We should support both OR pop a more useful validation error.

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/P

[2017-10-26 15:10] dan-f opened #1446 "Configure e2e tests to take screenshots on failure"
## Issue - Enhancement

This is standard practice to help us debug when our e2e tests fail! I think it'd be fairly straightforward.

- **Estimated effort:** 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-10-26 15:58] ackernaut opened #1447 "Disable tooltip when editing custom Check-In question"
## Enhancement

The tooltip “Tap to customize” shows when the question is actively being edited and the cursor hovers off and over the question again.

Also, wanting to update the copy of the tooltip to: “Tap to customize question”

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-10-26 16:23] ackernaut commented on #1437
fixed in Epic 8

[2017-10-26 16:23] #1437 closed

[2017-10-26 17:06] mattkrick opened #1449 "Add docs for integration setup"
These docs look really nice, we should hope to make something similar for our GitHub integrations. https://engine.apollographql.com/orgs?overlay=ManageAccounts

[2017-10-26 17:20] jordanh opened #1450 "Archive: that's all folks!"
## Issue - Enhancement

When a user scrolls to the end of the archive, I want to see something that tells me there are no more items to paginate to, so I can be sure I'm done

### Acceptance Criteria
1. Create multiple project cards, enough so that when they are archived they will have to be paginated
2. Archive them all
3. Go to the archive, keep paginating until there are no more archive cards t

[2017-10-26 19:15] mattkrick opened #1451 "Consider adding errors to the schema for graphql"
A neat idea from the graphql conference: put errors in the schema. In addition, we'd have to include a success boolean.
This will help immensely with creating client errors instead of feeding whatever error comes from the client.

[2017-10-26 19:30] dan-f opened #1452 "Remove Personal-Tier accounts from Stripe"
## Issue - Enhancement

As @mattkrick pointed out, we don't need to be linking personal-tier accounts to stripe.

Implementation:
- [ ] Create a migration that finds every organization with a personal tier and remove their stripeId, stripeSubscriptionId, periodEnd, periodStart, and the Credit card fields in the sub object
- [ ] For personal-tier billing leaders, call out to stripe to remove them

[2017-10-26 20:21] ackernaut opened #1453 "Accepting invite by email for new user fails intermittently"
## Bug

While on staging after Epic 7 shipped, I had an issue when accepting a team invite via email with a +hack Gmail address that wasn’t used for a Parabol user yet.

Will add console messages when I reproduce. Kind of looked like this:

1. Get the team invite email.
2. Copy the link and paste in a private browser session.
3. At first I see ducks, then the auth0 modal.
4. I create a new user, b

[2017-10-26 20:25] ackernaut opened #1454 "Redirect fails intermittently when creating new team + new org"
## Bug

When creating a new team with a new org, sometimes the redirect doesn’t work and I get stuck with the loading ducks. This is intermittent and we think it is race condition and has to do with web sockets.

I will add web socket logs here when I reproduce again.

1. Go to the New Team form.
2. Select the radio button for a New Organization.
3. Complete the form.
4. Do you see the new team or

[2017-10-27 18:51] dan-f commented on #1310
Fixed in #1435

[2017-10-27 18:51] #1310 closed

[2017-10-27 18:51] dan-f commented on #1375
Indeed, addressed in #1435.

[2017-10-27 18:51] #1375 closed

[2017-10-30 18:40] mattkrick commented on #1422
we're gonna need to redesign how we handle tags in epic 12 because we'll be allowing for custom tags then. let's tackle this then.

[2017-10-31 17:04] mattkrick opened #1458 "cant click link on archived card"
use case:
- i wanted to go to the epic 8 spec
- i knew terry had a link on a card, so i went to the archive to click it
- i can't click the link because it's read-only unless i unarchive

workaround: unarchive, click, rearchive

better options:
- make archive cards editable
- make archive cards editable, but don't persist changes
- If the content is `readOnly`, can we render a basic link that open

[2017-10-31 17:15] ackernaut commented on #1458
make links in archive card content clickable??

[2017-10-31 17:42] mattkrick commented on #1441
i'm not a fan of this at all. I don't want a list of checkboxes. that's not fun.
so we have 2 types of notifications:
- those that require action
- those that don't

we could
- break them into 2 lists AND/OR
- have a "acknowledge all" button that clears everything that doesn't require action (like github)

[2017-10-31 17:43] dan-f opened #1459 "Sentry error - `error`"
I'd love to figure out what's going on with our most frequent sentry error. It's just got the message "error", which is not particularly useful, and the stack trace doesn't reach our app code.

Sentry includes a [breacrumb](https://docs.sentry.io/learn/breadcrumbs/) implying that the error may be occurring when trying to POST to the Segment API, which can happen if you have an adblocker installed.

[2017-10-31 17:49] mattkrick commented on #1430
OK so let's lay out the flows:

From the meeting:
- no notifications sent

At the end of the meeting:
- notifications sent to all users who were not present

On a dashboard
- notifications sent to the new owner

From an integration (ie changed owners on github, future spec)
- notifications sent to the new owner

@ackernaut @tayamueller does that conform to spec?

When a notification is created:
-

[2017-10-31 17:52] mattkrick commented on #987
closing in favor of the other `@mention` issues. subscribing to a particular card is an issue we'll tackle when we design cardbacks.

[2017-10-31 17:52] mattkrick commented on #17
closing in favor of the newer one #982 since it has more details

[2017-10-31 17:52] #17 closed

[2017-10-31 17:57] mattkrick commented on #982
closing in favor of #1430. the only difference between the 2 is the copy of the notification. 1 tells them they own the project, the other says they were mentioned.

[2017-10-31 17:57] #982 closed

[2017-10-31 18:27] ackernaut commented on #1441
@mattkrick yeah I like your 2nd bullet point and that is what is in the latest design “Mark As Read” for all non-actionable types.

[2017-10-31 18:29] mattkrick commented on #1442
So i've seen 2 email frequencies here: 1 is batching every 5 mins, the other is batching every 24 hours.

Since the frequency (FREQ) is uncertain, we'll take the more robust implementation path:
- when a card gets updated, diff the owner & the mentions. to see what has changed.
- for all additions, make a new record in a `NotificationEmailQueue` database table. something like `{id, projectId, type

[2017-11-02 07:25] jkbowa opened #1461 "Do not encode the client secret to base64 by default"
## Issue - Enhancement

From Dec 2016, Auth0 no longer offers base64 encoding for client secrets. The existing secrets will however remain that way, but the newly generated strings wont be base64 encoded. I think by default we shouldn't encode these strings to base64 as to maintain out of box functionality.

[2017-11-02 20:56] jordanh opened #1463 "When I am processing an agenda item I want to defer, I want to reorder it"
## Issue - Enhancement

When the facilitator advances the meeting to an agenda item they'd like to defer, we presently don't allow the _current_ agenda item to be reprioritized.

MS from iMatter has requested that we fix this

### Acceptance criteria
- As the Facilitator, if I wish to defer the agenda item currently being processed I:
   - Drag it to a lower position in the agenda list
   - When I

[2017-11-02 20:58] mattkrick commented on #1072
Prioritizing this to epic 8 after chatting with Larry.

[2017-11-02 21:22] ackernaut opened #1464 "Fix auto-update "createdAt/updatedAt" card headers"
per-second resolution feels bad (updated 41 seconds ago)

### Acceptance criteria

instead, let's be more generic:
- < 10 seconds = "just now"
- < 30 seconds = "seconds ago"
- < 60 seconds = "less than a minute ago"
- cards created 6.5+ days ago round up to 1 week

### Estimated effort: 10.5 points

[2017-11-02 21:23] ackernaut opened #1465 "Capture more granular meeting data"
- time spent on each stage of meeting
- who assigns projects to whom
- changes in ownership

[2017-11-02 21:24] ackernaut opened #1466 "idea: periodically put old cards at top of column"
sometimes, old things get forgotten about. these should get prioritized by us. if 1 or 2 cards are much older than he rest, bump em up! (and tell them via toast)

[2017-11-02 21:25] ackernaut commented on #1072
- [ ] Move to Relay
- [ ] Build a "cheap" card component w/o functionality
- [ ] add animations (V2.0)
- [ ] auto-scroll w/ react-virtualized

[2017-11-06 13:53] tayamueller commented on #604
I can see this being super useful when a Team has grown (or a company has evolved) to the point where a second team is desired. Our own use case: starting an Ops team from ExCo and a Design team from Product

[2017-11-06 17:00] tayamueller commented on #1034
"at one of our clients we've been using a feature called Release to create a "Version" which acts sort of as a weekly ship. It automatically clears your Done Column, creating a list of all the tasks you did that week. If there was a way that that could auto-email to a bunch of stakeholders, would save me 2 hours on a Friday writing my weekly ship. Just a cool feature idea that you might be interes

[2017-11-06 17:07] jordanh commented on #1034
Leaning into Max/August now is a good idea. This is a good example of "Time Criticality." We have an opportunity to delight a member of August by showing how responsive we can be. Will add to discuss at our product meeting.

[2017-11-06 18:54] tayamueller commented on #1034
frequent observation (including SPA VI user observation & interview) that "Done" column elicits an emotional response. There is a connection between a user's "Done" column and their sense (and teammate's perception of) contribution and progress.

[2017-11-06 19:10] tayamueller commented on #1212
from SPA VI user interview: "sometimes our cards get stale, and just sit there forever until we remember them again."

[2017-11-06 19:30] tayamueller opened #1467 "encourage rotating facilitator"
## Issue - Enhancement

How might we prompt users to rotate facilitators? (low-risk power-sharing)

consider: Lobby pop-up nomination:

"[teammate who hasn't facilitated in a while], would you like to facilitate today?"

*build so that a NEW teammate is never nominated for their very first meeting

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/ma

[2017-11-06 19:31] tayamueller opened #1468 "Social Check-Out Round"
## Issue - Enhancement

Observed positive effect of a rapid-fire Social Check-Out Round to close the meeting.

*wire so that Facilitator always goes last, with reminder to End Meeting.

### Acceptance Criteria
- A lo-fi prototype is created and tested internally, externally
- An issue is written for next steps, either hi-fi design or implementation, depending on outcome of this issue

- **Estimate

[2017-11-06 19:45] dan-f commented on #1072
I'm able to grab this one, assuming nobody is working on a fix yet.

[2017-11-06 19:48] tayamueller opened #1469 "Stuck because <dependency>"
## Issue - Enhancement

Our own use & user research suggest that a dependency is useful for cards in the Stuck column. See Parabol boards for examples

### Acceptance Criteria
- A target UX is described in writing
- Design uncertainty level 3: lo-fi designs are created and checked internally and externally to validate a first phase of the target UX
- Hi-fi design issue created

- **Estimated effor

[2017-11-06 19:53] dan-f commented on #1269
Reviving this, as it seems related to / blocks a lot of upcoming functionality (e.g. https://github.com/ParabolInc/action/issues/1430).

I'd like to remain UX-focused here. Technically, this should be relatively simple, since we can route by Project ID. That said, what do we want to see? A page with _just_ a card? The board with the card, but with the card scrolled-to / focused?

cc @ackernaut.

[2017-11-06 20:04] dan-f opened #1470 "Better communication of purpose in project assignment UI"
## Issue - Enhancement

As a new user, I want to know how to assign a card to a teammate. I find the current assignment UI for cards unclear in a few ways:

- When I am looking at a card, I see a name and a profile icon at the bottom. I don't know why this name and profile icon are there. Did this person _make_ the card? Are they currently _working_ on the issue? Is it on _their_ board?
- When I h

[2017-11-06 20:19] dan-f opened #1471 "Clarify "Team" concept"
## Issue - Enhancement

When Epic 7 landed, we added "What’s an Organization?" copy to the new team/org page, but we don't have something like it for the team itself. How will new users know what a "team" is and when / why they'd want to create one?

Suggestions:

- Add a "What’s a Team?" explanation to the side, just like the "What’s an Organization?" section.
- Modify the side copy to something

[2017-11-06 20:20] dan-f opened #1472 "New Team UI - clarification of "Team" purpose"
## Issue - Enhancement

When Epic 7 landed, we added "What’s an Organization?" copy to the new team/org page, but we don't have something like it for the team itself. How will new users know what a "team" is and when / why they'd want to create one?

Suggestions:

- Add a "What’s a Team?" explanation to the side, just like the "What’s an Organization?" section.
- Modify the side copy to something

[2017-11-06 21:52] mattkrick commented on #1269
For now, I think a link like that will take you to `/me/project/:projectId` and that will auto-scroll to that card & have it highlighted. if we wanted, we could have the card be big & centered like a modal, but we may hold off on that. I'll probably avoid the `/team/:teamId/project/:projectId` functionality because soon we'll have a single kanban.

[2017-11-06 21:56] mattkrick commented on #1072
@dan-f that would be great. could you build it with react-virtualized? (the website has really good docs & we use it in the team archive). that way auto-scrolling will be trivial to implement & we can support boards with a stupid amount of cards.

feel free to work off of projects-to-relay branch

[2017-11-06 22:37] ackernaut commented on #1468
I like this! I think it would also make for a nice option that could be customized via team meeting settings in the future.

[2017-11-06 22:54] ackernaut commented on #1072
@mattkrick @dan-f I’m wondering about what flexibility we may have with sizing columns. My impression was that react-virtualized is pretty rigid (not fluid) but maybe there is a way where we can control the size of columns and have the virtualized DOM fill it 100%? We should take offline to discuss.

[2017-11-07 01:12] mattkrick commented on #1072
yeah, a fill is pretty easy. The archive is a different story because that was a grid, not a column. still, it can all be done inside JS.

[2017-11-07 03:19] mattkrick commented on #1218
well my brain hurts, but i figured out how to do this w/o any changes to graphql:

we could approach this 2 ways:
- fetch the subsequent data in the mutation
  - PRO: easy for the subscriber. you pass the entire payload!
  - CON: messy. the mutation has to know what the subscriber wants so it can fetch those fields. it's possible that different subscribers want different things, so you have to gra

[2017-11-07 04:32] mattkrick commented on #1218
Considerations:
- Mutation A of id `123` publishes a partial doc to a pub/sub. the subscriber with id `888` gets it & completes the doc with the `123` dataloader
- Mutation A of id `124` publishes a fresh doc and changes the reference for `888` so it points to `124` now _before the message for `123` completes_.
- worst case scenario: a double lookup. the document gets partially looked up on `123`

[2017-11-07 18:19] dan-f commented on #1072
@mattkrick - roger, I'll look into react-virtualized, and the sizing issue.

[2017-11-07 19:34] tayamueller opened #1473 "copy/paste links from one card to another"
## Issue - Enhancement

When I copy linked info from one card to another, I want the link to be pasted (currently reverts to plain text)

current usage:
- switching cards from one team to another
- duplicating 1 card for multiple teammates
(1st instance could be solved in future by creating method to change team on card w/out c/p)

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://gi

[2017-11-07 19:37] tayamueller opened #1474 "changing the team of a card/s"
## Issue - Enhancement

Users need to be able to quickly change the team of a card when they:
- have expanded in size or scope & need to start a new team
- create a card related to an issue elevated in Team A's meeting, but it's intended for Team B
- have a recurring item (often admin) that needs to be assigned to teammate son multiple teams

### Acceptance Criteria
- On My Dashboard clicking the

[2017-11-07 19:38] tayamueller commented on #1473
#1474

[2017-11-08 23:50] ackernaut opened #1475 "Meeting phase prompts for first meeting"
When a team meets for the first time, they want conditional prompt language so that they can have a productive/helpful/delightful first meeting. A simple example of prompt language that doesn’t make sense: “since last meeting” This may also relate to empty states when new teams may not have projects.

[2017-11-09 16:32] #1418 closed

[2017-11-09 18:02] ackernaut commented on #1072
@dan-f up to you if you want to re-classify this as E8 or E8.5. I personally don’t think the classification prevents this value from being merged into master and released early, or released in an E8 or E8.5 branch. Imperfect but moving forward!

[2017-11-09 18:13] #1082 closed

[2017-11-09 18:19] ackernaut opened #1476 "Scroll to and highlight card on dashboard"
## Enhancement

When I see a notification that I have been assigned to or mentioned in a project card, I want to tap a button that allows me to see the card on the appropriate dashboard.

- [ ] Routes user to team dashboard (or single kanban filtered by team in the future). We are embarrassed and ashamed if and when they have a hard time prioritizing their new card. The card will be scrolled to an

[2017-11-09 18:23] ackernaut commented on #1430
- Delay sending 5-10 seconds because the user may have tapped the wrong person in the assignment menu and/or unknown other nuances.
- If the card gets reassigned, automatically clear the notification from previous owner’s bell box.
- Pop up a little modal: “Notify so-and-so?”
- If the project is archived, automatically clear the notification?
- User can only have **1** outstanding task notificatio

[2017-11-09 20:02] mattkrick commented on #1430
- let's say i change the mention from `@terry` to `@matt`. I'd have to remove terry, and his notification, and add a notification for matt. Same thing if i get booted from a team, all my team-related notifications should go away. Since we have to do that diffing procedure, we might as well do it all the time, so i don't see a technical reason to throttle.
- for now, let's veto the confirmation. if

[2017-11-09 20:05] ackernaut commented on #1430
@mattkrick

- Are you saying that unread notifications automatically go away (for original owner/mentionee) when the owner is changed, or the mention is changed/removed? If so, I say YES, confirmed!
- Yep, let’s ignore the confirmation idea for now.

[2017-11-09 21:04] ackernaut commented on #1430
@mattkrick @tayamueller

**Updated flows!**

During the meeting:
- a user receives project notifications when assigned or mentioned and is marked as “not present” at the time the assignment/mention occurs

On a dashboard:
- project notifications are sent to the new owner or mentioned teammate

When a project assignment notification is created:
- remove all other assignment notifications for that c

[2017-11-09 21:10] mattkrick opened #1477 "Build ProjectInvolvement notification"
on the backend: build a new notification type

on the frontend: build a component displays that notification & project in a list view

[2017-11-09 21:17] mattkrick opened #1478 "Update the updateProject, createProject, deleteProject mutation to handle projectInvolvement notifications"
updateMutation
- [ ] accepts an `area` arg
- [ ] diff the owner & mentions
- [ ] if the area is not MEETING or it is MEETING & the user is not present, fire off a notification
- [ ] remove stale notifications

createProject
- [ ] add notification if area is MEETING & assingee/mentionee is not present

deleteProject
-[ ] delete notifications, if any

[2017-11-09 21:36] ackernaut opened #1479 "Update existing notifications ala UI polish"
## Enhancement

Per [latest iterations in Figma](https://www.figma.com/file/gUU2VeOEIziFw7Bd3GAmyc0S?utm_campaign=team&utm_source=slack&utm_medium=message&utm_content=file_comment#406456), we are tightening up layout, typography, gutters, button normalization for all notifications.

**Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING

[2017-11-09 21:41] mattkrick commented on #1442
@dan-f the mutation will probably live here src/server/graphql/models/IntranetJobs/intranetJobsQuery.js

[2017-11-10 15:05] dan-f commented on #1442
Thanks @mattkrick!

[2017-11-10 15:35] dan-f commented on #1442
@mattkrick - should I work off the epic8 branch, or another?

[2017-11-10 20:21] mattkrick commented on #1442
@dan-f you can work off of the add-notif-types if you want, we may want to refactor the `publishChangeNotifications` so we can use the info it generates to feed the emails

[2017-11-10 21:51] tayamueller opened #1481 "change pencil icon in Social Check-In"
## Issue - Enhancement
Both new users onboarded this week got stuck on this & didn't know how to move forward without prompting: "I thought I needed to write my Social Check-In response because of the pencil icon"

![adrienne tell your teammates](https://user-images.githubusercontent.com/14892189/32680150-58756e64-c637-11e7-99c8-822be3c95bf4.jpeg)

suggestion: change to a lightbulb, exclamation po

[2017-11-10 21:56] ackernaut commented on #1481
I was wondering when this would happen. One idea: perhaps we only let the facilitator change the question to reduce confusion? Other ideas?

[2017-11-10 21:58] tayamueller opened #1482 "Social Check-In prompts"
## Issue - Enhancement

When unguided, new users are experiencing confusion at the Social Check-In prompts.

CURRENT: [see image]

SUGGESTED COPY EDIT:
  Hello, Adrienne:     **[add colon]**
  What are you cooking next?   **[make pencil icon visible ONLY to Facilitator]**

  (Share with your teammates!)                   **[view for 1 user; add parens]**
  (Waiting for Adrienne to share with the t

[2017-11-10 21:58] tayamueller commented on #1482
![adrienne tell your teammates](https://user-images.githubusercontent.com/14892189/32680378-5c0c848a-c638-11e7-8285-8f2f0cdef378.jpeg)

[2017-11-10 21:59] mattkrick commented on #1481
- change the icon
- remove the icon
- make the tooltip only appear on the icon, not the text

[2017-11-10 21:59] tayamueller commented on #1481
Make the icon visible ONLY to the Facilitator; also see #1482

[2017-11-10 22:02] tayamueller opened #1483 "no nerd face on PC"
## Issue - Bug

When a user is using a PC (?) the nerd face emoji appears as a grey box:

![no nerd face](https://user-images.githubusercontent.com/14892189/32680489-e92f10d0-c638-11e7-8823-89cbc9bbbbf1.jpeg)

SAD.

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-10 22:10] tayamueller commented on #1374
repeat observation of this confusion in both onboarding sessions this week, with a startup user and an enterprise innovation consultant:

"I feel like my team IS the 'project team', so calling a card a Project is confusing. Also, a project is comprised of units so I'm looking for backend like Trello. I guess I'd call it a 'task' or 'to-do' card ."

"It says Team Projects in the upper left, so is t

[2017-11-10 22:19] tayamueller opened #1484 "Team Agenda Wrap-Up"
## Issue - Enhancement

When unguided, users are frequently confused at the "Agenda Wrap-Up" screen. When queried,
 it is not clear to them that this is a "last call".

**CURRENT COPY:**
[see image]

**SUGGESTED COPY CHANGES:**

Last Call:*
We worked on [X] Agenda items so far**--need anything else?
Waiting for [Facilitator/you***] to move on...****

*to imply opportunity to continue--"this is not

[2017-11-13 15:43] jordanh opened #1485 "Pre-production: auth0 lock and landing replaced"
## Issue - Enhancement

Before we hit production, let's sand down a couple of rough edges:

1. Remove our reliance on the auth0 lock by
2. Replacing the current landing page to have no scroll, and be all about logging you in or getting you signed up

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-13 21:28] #1477 closed

[2017-11-13 21:28] #1478 closed

[2017-11-13 23:29] mattkrick commented on #1363
it's a LOT easier to do it this way. since we're refactoring projects right now, it'd make life easier to do this now.

[2017-11-14 03:36] mattkrick commented on #1363
There is a little conflict between this and #1418 that we should resolve.
what should the updates phase look like?
Let's say i have a private card on updates phase, do i see it? Probably not, because I should only report on things the team cares about.
#1418 allows me to add cards for myself during my updates phase. what if i add a private card, do i see it? Probably not, but that means the card i

[2017-11-14 16:46] jordanh commented on #1363
When processing an agenda item, if I add a #private card for myself it will "show private card for user, and for no one else," right?

If so, then I believe the updates phase should behave the same way.

[2017-11-14 16:48] ackernaut commented on #1363
I second this thinking, that #private cards should always be private to the user in any given context.

[2017-11-14 21:42] ackernaut commented on #1458
If the content is `readOnly`, can we render a basic link that opens in a new tab opposed to the editable link module?

[2017-11-15 15:54] ackernaut commented on #1363
One more case: mention notifications

- If I mark a card private, then mention another user, they shouldn’t get a notification.
- If I mention another user, then later mark the card private, any unread mention notification should be removed for the mentioned user.

So basically: if I am mentioned, but another owns the card and the private tag is present, I should not see a mention notification.

[2017-11-15 16:29] jordanh opened #1491 "View archive from My Dashboard"
## Issue - Enhancement

When a user wants to see what they've archived from My Dashboard (perhaps they mistakenly archived a card), they want to access their Project archive from within My Dashboard, so that they don't have to browse to each team to find the archived Project card they are looking for.

Suggested by user Larry. Will additional user requests for this feature.

- **Estimated effort:*

[2017-11-15 16:30] ackernaut commented on #1491
I think this will be revisited during “New UI” because we should be able to filter the single kanban by tags including archived. Going to move it to that Epic for now.

[2017-11-15 16:37] jordanh commented on #1491
Agreed!

[2017-11-15 21:59] mattkrick commented on #1421
had to handle editing differently for relay, fixed in projects-to-relay.

[2017-11-15 21:59] #1421 closed

[2017-11-15 23:19] mattkrick opened #1492 "Change project userId when cards get auto-reassigned"
little bug found-- when a team member gets kicked off a team i updated the teamMemberId, but not the userId.

1. fix removeAllTeamMembers to correctly reassign userId, too
2. write a migration to undo the bad ones.

[2017-11-16 15:35] dan-f commented on #1441
What's an example of a notification that's not clearable? Does that mean it lives in my inbox forever?

[2017-11-16 19:08] ackernaut opened #1494 "True privacy for mention notifications"
## Enhancement

When a user marks a card private, before or after mentioning another user, they want their card to be truly private. The other user does not receive a mention notification when the #private tag is present.

This is an example of what currently happens that we should prevent:

![screenshot 2017-11-16 12 22 35](https://user-images.githubusercontent.com/307286/32910507-0fb58f82-cacf-1

[2017-11-16 19:12] ackernaut opened #1495 "Empty outcome content in assignment notification"
## Issue - Enhancement

Seeing empty outcome content is most likely confusing. We should catch this state of not having content before showing a notification.

Steps to reproduce:

1) Create a card with user A, but do not add content.
2) Assign it to user B before creating content.
3) User B will get a notification with empty content.
4) User A can then add content and user B’s notification will u

[2017-11-16 19:15] ackernaut opened #1496 "Request user notification, conditionally show paid invoicing tip"
## Enhancement

Let’s conditionally show the 2nd line for users who are paying:

![screenshot 2017-11-16 12 23 42](https://user-images.githubusercontent.com/307286/32910913-2c0dc360-cad0-11e7-877f-9fb2b2293b37.png)

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-17 01:46] #1492 closed

[2017-11-17 16:47] ackernaut commented on #1372
I see that this is working locally. We can bring it up again if we see it again.

[2017-11-17 16:47] #1372 closed

[2017-11-17 17:09] mattkrick commented on #1218
solved, implemented in projets-to-relay

[2017-11-17 17:09] #1218 closed

[2017-11-17 17:13] #1430 closed

[2017-11-17 17:13] #1441 closed

[2017-11-17 17:13] #1479 closed

[2017-11-17 18:06] tayamueller commented on #1212
user team observation on 11.17 - team organically requested as a highly desirable function, especially for a team that meets less frequently than a primary work group.

[2017-11-17 18:15] tayamueller commented on #1078
11.17 - reinforced by passive user team observation: "I wish there was an Observer role in the meeting.” “Haha, I would be drunk with power on that feature!” :)

[context: a person at their company wants to observe this team's meetings; the team doesn't mind but they don't want them to slow them down or distract them.]

[2017-11-17 18:32] tayamueller commented on #1278
user suggestion: an onboarding card that reads "This card is yellow because it's #private. It is only visible to the creator [etc--insert copy]."

[note: launch with #1363 implementation]

[2017-11-17 18:39] tayamueller opened #1500 ""My Dashboard" views of all Teammates"
## Issue - Enhancement

When a team leader wants to know the "workload weather" of a direct report, they want to be able to see the "My Dashboard" view of other people, not just their own.

When a teammate wants to know where their requested task falls in their teammate's overall prioritization, they want to be able to see the "My Dashboard" view of that teammate.

RECOMMENDATION:
Create a sort fe

[2017-11-17 18:49] tayamueller opened #1501 "Task Assignment immediately after Invitation"
## Issue - Enhancement

User/Leader of a distributed team: “I need to be able to assign things to teammates BEFORE they accept the initial invite."

This user was stuck on not being able to assign things to teammates that hadn't accepted yet (in 1 case, didn't accept UNTIL the meeting started). Their pains:
 * Could not transfer tasks from previous documentation system.
 * Teammates who didn't hav

[2017-11-17 20:02] ackernaut commented on #1500
👍  I think this case will be handled with the single kanban concept that has filters for both owners and teams that includes showing all that apply (any teams that I can see for owner: Taya). Going to move to the New UI epic for now.

[2017-11-17 20:08] #1496 closed

[2017-11-17 20:22] #1442 closed

[2017-11-17 20:23] ackernaut commented on #1494
fixed with #1502

[2017-11-17 20:23] #1494 closed

[2017-11-17 20:50] ackernaut commented on #1404
Can close this discussion? Or defer to another milestone?

[2017-11-17 20:52] #1343 closed

[2017-11-17 20:57] dan-f commented on #1404
I don't see it as part of a particular milestone yet. Rather than close it, can we just remove the `Epic 8` tag?

[2017-11-17 21:00] mattkrick commented on #1404
pushing to 8.5. I still _really_ want this, & sooner is better than later

[2017-11-17 21:01] dan-f commented on #1404
Yeah, I sketched out some use cases this morning and a potential API. Next step is to see what's out there that'd work for us.

[2017-11-17 21:05] dan-f commented on #1495
Taking a look at this.

[2017-11-17 21:07] ackernaut commented on #1495
🔥

[2017-11-17 21:22] dan-f opened #1503 "Bug: I see facilitator controls when I am not the facilitator"
## Issue - Bug

When testing on the dev server, I noticed that I was seeing the "wrap up the meeting" facilitator control. I suspect this is because I was the facilitator briefly earlier in the meeting.

- **OS:** macOS
- **Browser:** Firefox
- **Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-17 21:24] ackernaut opened #1504 "Assignment menu showing in archive"
## Bug

When testing for Epic 8, I am able to tap on the owner assignment menu in the archive:

(http://recordit.co/8YXSmZQ4TT)[http://recordit.co/8YXSmZQ4TT]

![img](http://g.recordit.co/8YXSmZQ4TT.gif)

[2017-11-17 21:28] dan-f opened #1505 "Bug: My notifications screen gets borked when I try to clear a notification"
## Issue - Bug

I clicked on the clear notification button for the last notification in my inbox, which I believe was an `@mention` notification. I got shown the following screen as a result:

<img width="1440" alt="screen shot 2017-11-17 at 4 26 15 pm" src="https://user-images.githubusercontent.com/2146312/32969758-47eb8894-cbb4-11e7-958b-4675d7bfda4a.png">

- **OS:** macOS
- **Browser:** Firefox

[2017-11-17 21:30] dan-f commented on #1505
Note: the particular error showed in the console is related to the error boundary component, similar to #1423, but the more important point is that there was an error clearing the notification to begin with.

[2017-11-17 23:27] mattkrick opened #1508 "Promote to billing leader bug"
shouldn't fire twice if already a billing leader (server-side)
show update via subscription

[2017-11-17 23:28] mattkrick opened #1509 "make sure add_to_team fires"
when moving all notifications to relay, make sure this one fires, it isn't.

[2017-11-20 15:09] dan-f opened #1510 "Epic 8 Acceptance Criteria"
# Epic 8 Acceptance Criteria *[Updated]*

This issue represents the set of acceptance criteria / user stories that must be implemented before epic 8 ships.

## New `@mention` and assignment notifications
- [ ] When my teammate and I are **not** in a meeting, and my teammate **assigns** me a project, I get a Notification and a Toast. The notification should indicate that I was **assigned** a projec

[2017-11-20 15:35] dan-f commented on #1510
## New `@mention` and assignment notifications
- [x] When I am **not** in a meeting, and my teammate **assigns** me a project, I get a notification. The notification should indicate that I was **assigned** a project, and afford me to view the board on which the project exists.
- [x] When I am **not** in a meeting, and my teammate **mentions** me on a project, I get a notification. The notification

[2017-11-20 16:27] ackernaut commented on #1510
@dan-f this looks good! I’ll join you and take a pass at this test on staging. It is helpful to put a “test cycle number” on the comment when you are completing the test, even though it can be inferred by who leaves the comment and when.

[2017-11-20 16:29] ackernaut commented on #1510
## Test Cycle No. 2 (TA) (in progress)
### New `@mention` and assignment notifications
- [ ] When I am **not** in a meeting, and my teammate **assigns** me a project, I get a notification. The notification should indicate that I was **assigned** a project, and afford me to view the board on which the project exists.
- [ ] When I am **not** in a meeting, and my teammate **mentions** me on a project

[2017-11-20 17:10] ackernaut opened #1511 "Archive team validation"
## Bug

The team archive validation field does not require text at all, or the text to be the same exact string as the team name. This is not working as intended as it should require a string value that matches the team name.

Any non-matching text:

1. Navigate to a team that you can archive.
2. Type any text that is not exactly the same as the team name.
3. Press enter. You should see that the t

[2017-11-20 17:11] ackernaut commented on #1511
**Note**: Not currently sure if this is a regression introduced in Epic 8 development.

[2017-11-20 17:19] ackernaut commented on #1511
**Updated**: Was able to reproduce this on production before Epic 8 shipped to production.

[2017-11-20 18:03] ackernaut opened #1512 "Strikethrough formatting shortcut"
## Bug

The keyboard shortcut `shift + command + x` is not adding strikethrough formatting when editing cards. However, the `~strike me~` Markdown-style syntax is working as intended.

### Acceptance Criteria

- Users can press `shift + command + x` on selected text and they get ~strikethrough~
- Markdown-style syntax continues to work as intended

### Estimated Effort
- 11 points ([see CONTRIBUTI

[2017-11-20 19:00] dan-f opened #1513 "Bug: During a meeting, when I mention an absent teammate, they don't get notified"
## Issue - Bug

- When I am in a meeting, and my teammate is not
- And I `@mention` my teammate on a card
- That teammate does not get a notification

- **OS:** macOS
- **Browser:** Firefox
- **Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-21 17:23] ackernaut opened #1515 "Admin portal send: global notifications"
To be explored: we have a notification inbox to notify users about events related to using the software, how about product/company notifications from Parabol like “We released New Feature XYZ: [read more here] (button)”?

### Acceptance Criteria
Design a visual concept that illustrates:
- How notifications from Parabol to users might look in their existing workspaces (dash, notifications)
- How a

[2017-11-22 15:40] dan-f commented on #1510
# Test Cycle No. 2 [in progress]

This issue represents the set of acceptance criteria / user stories that must be implemented before epic 8 ships.

## New `@mention` and assignment notifications
- [ ] When I am **not** in a meeting, and my teammate **assigns** me a project, I get a Notification and a Toast. The notification should indicate that I was **assigned** a project, and afford me to view

[2017-11-22 16:31] dan-f commented on #1510
# Test cycle no. 2 (in progress)

## New `@mention` and assignment notifications
- [x] When my teammate and I are **not** in a meeting, and my teammate **assigns** me a project, I get a Notification and a Toast. The notification should indicate that I was **assigned** a project, and afford me to view the board on which the project exists.
- [x] When my teammate and I are **not** in a meeting, and

[2017-11-22 18:48] #1513 closed

[2017-11-22 21:21] jordanh opened #1518 "Supporting "Login" from marketing site"
## Issue - Enhancement

When a user already has an account and all I remember is the `parabol.co` name/domain, I want to be able to login from the marketing site, so that I can get right back into Parabol.

A few of options:

1. When we go into public beta we embed an iframe on our marketing site to a view of the Action app that allows them to login with auth0

2. We used something like Zendesk's

[2017-11-27 16:30] jordanh commented on #1518
4. We could also have the Parabol app create a cookie or an item of localStorage on the domain (parabol.co) in addition to the sub-domain (action-X.parabol.co)

[2017-11-28 16:41] jordanh opened #1519 "Projects renamed to task"

[2017-11-28 16:42] #1519 closed

[2017-11-28 16:43] tayamueller commented on #1374
rename "Project/s" to "Task/s" @dan-f

[2017-11-28 16:50] ackernaut opened #1520 "Fuzzy GitHub issue search in app, future"
When using Parabol (dashboard or meeting) and I think an issue needs to exist in GitHub, but am unsure if it already exists, I would like to fuzzy search existing issues before creating an issue.

[2017-11-28 19:07] dan-f opened #1521 "Duplicate "Welcome to Parabol" email sent"
## Issue - Bug

This one comes in from a customer who claims they received two identical "Welcome to Parabol" emails, a couple minutes apart. Waiting on more details.

- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-28 19:07] dan-f commented on #1521
(FYI @tayamueller)

[2017-11-28 19:50] dan-f opened #1522 "Show "Next Agenda Item" button just to the Facilitator"
## Issue - Enhancement

As a meeting facilitator, I want to see the "Next Agenda Item" button during the Agenda meeting phase. As a non-facilitating teammate, I don't want to see it, because it makes me think I can push the meeting along when I can't.

- **Estimated effort:** 12 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-28 20:05] #1510 closed

[2017-11-28 20:05] ackernaut opened #1523 "Patch fix needed for user auth issue"
## Bug

See private Dev Ops repo, issue no. 18, for reproduction steps.

[2017-11-28 20:06] dan-f commented on #1505
Because there was such a diverse combination of state that lead me here, and because I haven't seen this issue since, I'm going to close this issue.

[2017-11-28 20:06] #1505 closed

[2017-11-28 20:07] dan-f opened #1524 "Generate Notifications, not Toasts, during Meetings"
## Issue - Enhancement

This is sort of a bug, sort of an enhancement. In the spirit of "don't be annoying," I propose we:
- Do not suppress `@mention`/assignment notifications that are generated during meetings
- Suppress the Toast UI for any and all notifications that occur during a meeting.

I tried to get this together before launch, but there's some sort of sinister bug occurring whereby *cle

[2017-11-30 15:31] tayamueller opened #1525 "meeting timer: don't get a big head"
## Issue - Enhancement

During Solo Updates, the Facilitator wants to honor the speaker's floor space, but the whole team needs to move forward quickly.

Recommendation: have each user's avatar slowly expand during their Solo Update, to take up more & more of the screen from the upper right (not opaque; column items still visible). If the team sits on that teammate's Solo Update for longer than 5m

[2017-11-30 15:36] tayamueller opened #1526 "1-min Time Prompt"
## Issue - Enhancement

During Agenda processing, the Facilitator wants to honor the author's floor space, but the whole team needs to move forward quickly to cover all Agenda items during their allotted time.

see #933

### Acceptance Criteria (optional)
 - When a team has been sitting on any particular Agenda item for **more than 2min without a task card being generated**, the whole team receive

[2017-11-30 15:51] tayamueller opened #1527 "time stamps in Summary"
## Issue - Enhancement

Both Team Leads and teammates are busy and need meetings to hew to their allotted time slot. Team Leads are often unsure about how to improve the process or where the time drag is happening. Teammates are often inexperienced Facilitators and either don't recognize time drag when it happens, or are unsure/unconfident in how to fix.

In addition to #1526 and #1525 and #887, r

[2017-11-30 16:07] tayamueller opened #1529 "60min auto-end of meeting"
## Issue - Enhancement

When a Facilitator forgets to End a meeting, the team doesn't get a Summary, and they're locked out of their team dashboard. It's also difficult to remember who the Faciltator is/was so they can request they End, particularly if the Facilitator was automatically reassigned.

Recommendation: auto-end every Meeting after 60min of no activity on the final Agenda item.

user fe

[2017-11-30 16:22] ackernaut commented on #1501
This seems very pertinent to the on-boarding phase of the UX journey.

I could see us devising a first pass of a “soft user” state (exists, assigned, but hasn’t accepted) — we have an email, perhaps we could optionally ask for a name, and/or optionally ask for a first task (in the spirit of the welcome step 3).

![screenshot 2017-11-30 10 16 17](https://user-images.githubusercontent.com/307286/334

[2017-11-30 16:46] ackernaut commented on #1527
I really like this idea, in the spirit of good coaching. Perhaps we could link to evergreen content with tips on how to run each phase efficiently:

Updates — add agenda items instead of discussion
Agenda — add tasks to have discussions and work sessions outside of the meeting

etc.

[2017-11-30 16:54] ackernaut commented on #1529
I wonder if, additionally, we could change the action (when tapping on the facilitator’s avatar top right) from “Request to be facilitator” to “Assume the facilitator role”. We could allow for human behavior to figure out how to be nice about it. That way anybody could become the facilitator when there are hiccups.

Another idea, we could generate a notification with an “End Meeting” button. It co

[2017-11-30 17:02] tayamueller opened #1530 "task request "Done" notification"
## Issue - Enhancement

When an team member ASKS a team member to DO a task in the form of assigning a card:

Asker would like to know when the task is Done without checking in constantly
Do-er wold like Asker to know the task is Done without typing a Slack msg to them

Recommendation:
A system to ping the Asker when the Do-er moves the card to their Done column.

Open question: how does the card

[2017-11-30 17:05] tayamueller commented on #1529
user feedback: "Yay! An automatic time-out would be amazing. I think one hour after no movement would work well. I will try some workarounds and let you know what works best for us!

[2017-11-30 17:08] ackernaut commented on #1530
Some systems have an affordance for both a “Requester” and an owner (or multiple owners).

I think a short-term solution may be what was suggested, that mentioned folks get notified when marked as Done. Not ideal, because it is manual and has to be learned.

We could optionally add a block of text at the end of the content “Request by {PreferredName}” where the `PreferredName` is the last owner wh

[2017-11-30 17:48] ackernaut opened #1531 "New check-in question: “What emoji…?”"
## Enhancement

Question added to set of random, default questions: “What emoji best represents you today, and why?”

The spirit of this question could be a segue for enhancement #1532

**Estimated effort**: 10.5 points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/master/CONTRIBUTING.md#points-and-sizes))

[2017-11-30 17:55] ackernaut opened #1532 "Users can add emoji status to avatar/preferred name"
## Enhancement

This could be a playful enhancement to the Social Check-In, but perhaps could be updated at any time via User Settings.

During my Social Check-In, I would like the option to add/update an emoji that shows by my avatar and/or preferred name so that I can build empathy and social culture on my team. (Intention is hard on chat. Much communication and sentiment is non-verbal, visual.)

[2017-11-30 18:09] ackernaut opened #1533 "Check-In: timed status writing (optional), then share in rounds"
## Enhancement

Some folks have commented that they feel like they should be writing something during the check-in.

Quick, low-risk writing can be helpful in general.

Currently, the Updates and Agenda phases of the meeting are generative of information/input, but the Check-In is not so much, except where they can mark Here or Not Here.

Womp, womp.

The idea:

1. The Check-In phase (view 1) prom

[2017-12-01 21:58] ackernaut opened #1535 "Solo Updates prompt enhancement"
## Enhancement

**Idea**: Update the copy of the Solo Updates prompt from:

to:

Users can tap “Add agenda items” to focus the input in the left nav, like pressing `+` or tapping on the input.

**Concept**:

![solo updates prompt](https://user-images.githubusercontent.com/307286/33505277-587389ee-d6b0-11e7-97f0-63e121a21483.png)

**Estimated effort**: 11 points ([see CONTRIBUTING.md](https://githu

[2017-12-02 01:54] jordanh commented on #1521
User received two of these emails:

![image](https://user-images.githubusercontent.com/103000/33510353-51e837ea-d6c0-11e7-9086-16510cb0323c.png)

Either we are hitting the same logic twice, or mailgun hiccuped. Let's track here, see if it happens again.

[2017-12-04 17:04] #1511 closed

[2017-12-04 18:12] jordanh opened #1536 "Notification bell count only updates on refresh"
## Issue - Bug

I've noted twice now that on a long-opened tab on Chrome, my notification bell count is only updating when I refresh Chrome.

I've seen this happen when:
   - Somebody has mentioned me/assigned a project
   - I've received an invite to a new team

- **OS:** macOS
- **Browser:** Chrome
- **Estimated effort:** X points ([see CONTRIBUTING.md](https://github.com/ParabolInc/action/blob/

[2017-12-04 20:57] tayamueller opened #1537 "copy & paste links between cards"
## Issue - Enhancement

When a user named Taya wants to copy info from one card to another, as she does nearly daily to:
      -create duplicate cards for multiple teammates
      -move a card from one team to another in My Dashboard view
...she wants the link to be transferred as well, so she doesn't have to copy & paste it each time.

[2017-12-05 18:47] mattkrick opened #1538 "allow approval in team settings for org leader"
currently, the org leader sees "cancel pending approval" in the team settings.
instead, they should see an "approve, reject" action, just like their notifications.
optionally, we could just link to the notification page.

AC
- [ ] org leader sees "approve/reject" on team settings

effort: 10.5

[2017-12-05 19:09] mattkrick opened #1539 "fail softer on subs"
now that graphql supports different types of failures for subscriptions, we should handle them differently.
currently, if returning a payload hits an error, we end that sub, and end all other subs that are tied to it.
in the future, we should only do this if it fails auth.
if a payload returns an error, we should log it (via console or toast) and keep on truckin.

[2017-12-06 16:58] jordanh commented on #1523
Suggested action plan: let's try to reproduce as described one more time, else snooze

[2017-12-06 17:01] jordanh commented on #1503
Try to repro, else let's snooze

[2017-12-06 17:02] jordanh commented on #1404
I'll do some research and let's continue the discussion

[2017-12-06 17:06] jordanh commented on #1364
Related to #1458

[2017-12-06 17:07] jordanh commented on #1458
Related / dup of #1364

[2017-12-06 17:10] jordanh commented on #1539
This probably needs some design work. Now that we can surface this information to the user, we should think about what to suggest to them when it occurs.

[2017-12-06 17:12] jordanh commented on #1536
@mattkrick mind updating this issue?

[2017-12-06 17:18] jordanh commented on #1484
Folks are also forgetting to end the meeting. An opportunity exists to try something to make this better when addressing this issue.

[2017-12-06 17:20] jordanh commented on #1483
Can we get details on browser and OS version?

[2017-12-06 17:22] jordanh commented on #1482
Adrienne tried to type because she saw a pencil. Adrienne thought, "why is it telling me to share with the team?" It should be an instructional prompt for _that_ person.

[2017-12-06 17:25] jordanh commented on #1473
Duplicate of #1537

[2017-12-06 17:25] #1473 closed

[2017-12-06 17:28] jordanh commented on #1470
"Assign to:" or "Owner:" label could be added to dropdown list

[2017-12-06 17:31] jordanh commented on #1468
Could be added as a configuration option or a Pro feature.

[2017-12-06 17:34] tayamueller commented on #1464
recommend just one:

< 60 seconds = "just now"

(guessing folks don't have a need to mark time less than 1min increments)

[2017-12-06 17:34] jordanh commented on #1459
If this becomes an issue in the future, let's dig into it a bit more.

[2017-12-06 17:36] jordanh commented on #1454
Please check to see if this is still a thing. Else, let's close.

[2017-12-06 17:36] jordanh commented on #1453
Please check it again. I have also seen users talk about issuing multiple invites and not being clear why invitations expire.

[2017-12-06 17:40] jordanh commented on #1443
Adjust error message to say, "did you put commas between the emails?"

[2017-12-06 17:41] jordanh commented on #1440
Let's see if we run into this again. At a minimum, we should add an error message informing the user that websockets are unavailable (is it your firewall?)

[2017-12-06 21:43] mattkrick opened #1540 "colocating subscriptions to queries"
something that we lost when switching to relay was colocating subscriptions with query data.

we could use a handlerProvider & write something like `@__clientField(handle: "TeamMember")` and then write a handler that calls subscribe, but it'd be hard to inject the list of things we're currently subscribed to, plus that'd be a lot of handlers we'd have to write.

we could handle subscriptions on th

[2017-12-06 21:43] #1540 closed

[2017-12-06 21:52] jordanh commented on #1429
For now I think we can close this issue. It turns our that our Google Analytics -> HubSpot integration synchronizes page visit information include stuff like `...parabol.co/welcome` and `...parabol.co/meeting` and that give us just enough information in order to meet our re-engagement goals. I'm going to create a number of marketing automations, start there, and can always reopen this if we have a

[2017-12-06 22:00] #1429 closed

[2017-12-07 04:57] mattkrick opened #1541 "avoiding gross overfetches with relay"
there are some cases where relay could result in a gross overfetch. the best example is the assign menu on each card. each card is a project, each project has a team it is assigned to, and each team has a list of team members. if we write the query like this, then we'll get an array of team members for each card. that's a lot of excess data to compute on the server & send over & parse... like, a m

[2017-12-07 04:57] #1541 closed

[2017-12-07 05:41] mattkrick commented on #1541
a similar situation applies to the suggestions in the project editor.
we can't feed the team members from a team somewhere, because on the user dash, that doesn't exist. the team members really truly do come from project -> team -> teamMembers.
so, the editor suggestions need to be populated async.
the flow might look something like--
parse trigger word, see if it's a mention.
if it's a mention, r

[2017-12-07 06:57] mattkrick opened #1542 "project editor menu isn't where it should"
steps to repro:
1. go to team dash
2. click the + on the done column
3. hit `@` to open the mention menu
4. see the menu appear in the stuck column

### Acceptance Criteria
- Replace withCoords with withCoordsV2

Estimated effort: 12 points

[2017-12-07 19:23] tayamueller commented on #1533
note: this user observation was actually related to confusion generated by the pencil icon (they thought they were supposed to write something), not wanting a different notation system

[2017-12-07 19:37] ackernaut commented on #1533
noted! I’m still curious to explore and test a prototype sometime, but it may not be a priority based on addressing current users’ needs; perhaps a car instead of a faster horse one day.

[2017-12-07 20:06] tayamueller opened #1543 "Team Meeting reminder"
## Issue - Enhancement

**How might we help users be better individually prepared for their Parabol meeting, and thus have a more positive and fully-present experience during Individual Updates?**

Observed behavior:
- Many users are still late for meetings, particularly on teams that don't use Slack/integration. (6min late for a 30min meeting is 20% of the whole meeting time allotted.)
- Many tea

[2017-12-07 20:12] tayamueller commented on #1535
riffing on this per observed behavior today:

_for teammates:_
## **Terry, what's changed since our last meeting?**
(It's Terry's turn to share. Please add any questions or discussion topics to Agenda Queue.)

_for speaker:_
## **Terry, what's changed since our last meeting?**
(It's your turn to share.)

This would replace need for 2nd "Waiting for Terry to give Solo Updates" box, which is already

[2017-12-07 20:19] tayamueller opened #1544 "Avatar Meeting Functions (switch Facilitator, navigate Solo Updates, etc.)"
See latest [Acceptance Criteria and Estimated Effort](https://github.com/ParabolInc/action/issues/1544#issuecomment-385455912)

## Enhancement

---
### Update

We’ve made progress on considering meeting avatar UX for both on-boarding and general meeting enhancements. Here’s what we’d like to try:

### Acceptance Criteria (WIP)

#### Visual states
- [ ] Facilitator badge is updated to have the warm

[2017-12-07 20:21] tayamueller commented on #1529
additional user feedback today: "We left Parabol without “ending” the meeting and now I can’t get to my dashboard.” Strong signal from multiple regular user teams to make this a higher priority @jordanh

[2017-12-07 20:22] tayamueller commented on #1529
duplicates much earlier observation #624 - recommend to close that one as this is better documented now :)

[2017-12-07 20:23] tayamueller commented on #624
recommend to close; duplicates #1529

[2017-12-07 20:31] tayamueller opened #1545 "Speech to Text during Team Meetings"
## Issue - Enhancement

During live meetings, would be amazing if speech-to-text was activated by a few simple prompts:
1) "Take a card" [new card starts typing all following speech]
2) "Assign to" [teammate in registered Parabol Company]
3) "End card" speech-to-text stops typing

Would be incredibly useful for mobile. Clearly not our next Epic (OR IS IT :)

[2017-12-07 20:59] mattkrick opened #1547 "Move teams across orgs"
from @tayamueller:

No need for a UI right now, but we should build the mutation

[2017-12-08 08:04] mattkrick commented on #1481
in addition to only showing this to the facilitator,
@ackernaut any recommendations on how to remedy? you like any of the 3 options i presented?

[2017-12-08 08:05] mattkrick commented on #1536
fixed in #1460

[2017-12-08 08:06] #1536 closed

[2017-12-08 08:11] mattkrick commented on #1524
i think we still want notifications during meetings, maybe not all, but certainly a few.
for example, when you request to be the meeting facilitator, or when the facilitator disconnects.
also, when teams first try the product, more often than you'd think, a person is in a meeting when someone joins the team. it's a really good feeling to see someone joined your team when you're in the meeting.

i

[2017-12-08 08:12] mattkrick commented on #1458
closing in favor of #1364

[2017-12-08 08:12] #1458 closed

[2017-12-08 08:14] mattkrick commented on #1363
this was fixed in epic 8, please reopen if it's still an issue!

[2017-12-08 08:14] #1363 closed

[2017-12-08 08:15] mattkrick commented on #1420
fixed in #1460

[2017-12-08 08:17] mattkrick commented on #1495
this was fixed by updating the notification in real time when the project gets updated. if you've seen that since we've merged epic 8 lemme know!

[2017-12-08 08:17] #1495 closed

[2017-12-08 17:59] ackernaut commented on #1481
@mattkrick I’m willing to go with option no. 3 — scope the tooltip to the icon only, not the text.

[2017-12-08 18:01] ackernaut commented on #1481
@mattkrick curious, are you working on this issue? is so, mind updating the assignee? otherwise I’d be happy to work on it.

[2017-12-08 21:33] ackernaut commented on #1481
@mattkrick I’ve started working on this issue.

[2017-12-08 22:33] mattkrick commented on #1481
ah good deal! nope, never started on it, that's all you!

[2017-12-10 21:49] mattkrick commented on #1523
working as intended, no security risk, but fixed anyways. see devops repo for story.

[2017-12-10 21:49] #1523 closed

[2017-12-11 04:40] mattkrick opened #1552 "Chore: Move Org Approvals & Invitations to Relay"
This is part of moving away from cashay.

Time Estimate: 2-3 hours

[2017-12-11 05:25] mattkrick opened #1553 "Persist Presence"
The current presence model isn't great because it's per-team, instead of per-user. We've moved the `editing` piece of it to projects, now the only thing left to do is to move the rest of it to either RethinkDB or redis.

Pros of RethinkDB: we could put `online` (or, more accurately, "connectedSockets") on the User Doc. that means I could query `user { id, isConnected}`. that's awesome.

Pros of re

[2017-12-11 15:01] dan-f opened #1554 ""Open" vs "closed" team invitations"
## Issue - Enhancement

When I wish to invite my pal **X** to my team **Y**, I want to make sure that **X** joins my team, and not some other person. I'll call this a "closed" invitation.

When I wish to invite someone to my team who doesn't yet have an account, I want to send them an invitation which allows them to use whatever account they end up creating on their way into the system. I'll call

[2017-12-11 17:01] mattkrick commented on #1554
yep! so here's the deal-- let's say you invite me at my old email address at viperKidd@aol.com. I get the invitation, but that's not the email i want associated with parabol. I already use gmail for my other teams with parabol & i want to use it with your team, too. So, when I accept your invitation, I can choose to log in or sign up. I choose log in & provide my gmail credentials.

One of the mos

[2017-12-11 18:10] tayamueller opened #1555 "public Billing Leader"
## Issue - Enhancement

When a User is a Member of a Team, it would useful to know what Organization and Billing Leader that Team falls under in case of administrative need, billing error, or if the team wants to level-up to Pro.

### Estimated Effort (11 points)

[2017-12-11 18:22] mattkrick commented on #1547
will do by wed EOD

[2017-12-11 18:40] jordanh commented on #1553
We'll want to think about horizontal scaling here too. As servers are deployed, I don't think we'd want each server deleting this doc.

On first blush, this sort of state information sounds like it's be _perfect_ to store as a key on redis with a TTL. Are you sure you don't want to store it there? I mean, isn't this one of the reasons we should be patting ourselves on the back for using GraphQL? 👅

[2017-12-11 18:48] dan-f commented on #1554
Talked to @jordanh this morning about this.

I think this all depends on how we define an invitation:

A) A general authorization for **some person** to join Team Y
B) A specific authorization for **User X** to join Team Y

My assumption when I wrote this was that we used definition B, since the in-app team invitation workflow's authorization model fits that definition as well. If we were to exten

[2017-12-11 21:42] mattkrick commented on #1554
I think what you're proposing is:
A specific authorization for User X to join Team Y _if User X exists_, else A.

For some background info, we didn't even have in-app invitations until shortly after you came on board; they're super new!

I 100% agree that's a better way to go. I also think we should offer a typeahead for users within your orgs when you invite folks to your team so you don't accide

[2017-12-11 21:56] mattkrick commented on #1553
Happy to move it to redis, is the reason because redis will flush its data on redeploy? if so, we'll need to
- write a trigger to redeploy redis when the code changes
- adjust the `redis.conf` to flush on restart

The first part is difficult, because that trigger is precisely what I'm struggling to find, unless we call it from circleCI or something?

Can you elaborate on how a TTL would be useful

[2017-12-12 00:29] dan-f commented on #1554
Good catch, I had not considered the "else" case! So what I'm proposing is a bit different than that: In the world of option B), an authorization for <non-existent-user> to join <real-team> would just be an invalid invitation.

I don't have a ton of tension for how things are currently done. This is just how I intuitively thought about team invite logic before I realized how it currently is implem

[2017-12-12 00:33] dan-f commented on #1554
[Updated the opening comment]

[2017-12-12 21:09] ackernaut opened #1557 "Notification view error"
## Bug

Steps to reproduce:

1. I had an assignment notification that mentioned the original owner.
2. I tapped to see the card on the team board.
3. I went back and the notification was still present.
4. I tapped the checkmark button and got the error.

See screenshot (doesn’t look very helpful but that is all that came up in console in production):

![screenshot 2017-12-12 15 05 55](https://user

[2017-12-12 22:08] mattkrick commented on #1364
i'll take a look & see how difficult it is.

[2017-12-12 22:14] ackernaut commented on #1475
@tayamueller how does this sound as a Solo Updates prompt when it is the very first meeting?

I’d like to find an easy, first update for the prompt when it is the first meeting. We could show different text for the current user giving updates (and can add cards to their own board), versus the rest of the team.

I could get probably get this out in the next batch of updates since I am working on me

[2017-12-12 22:18] ackernaut commented on #1535
@mattkrick @dan-f is there a clean way to focus on the agenda input by tapping text in the Updates prompt? (If we indeed add this enhancement) Alternatively, I can move forward without that functionality and just update the hint copy.

[2017-12-12 22:19] ackernaut commented on #1475
@mattkrick should I be able to get the `meetingNumber` with the query found in `MeetingContainer`?

[2017-12-12 22:28] tayamueller commented on #1475
related to #1208

[2017-12-12 22:28] tayamueller commented on #1208
related to #1475

[2017-12-12 22:30] #1208 closed

[2017-12-12 22:32] mattkrick commented on #1475
@ackernaut yep! if you base it off the projects-to-relay branch, you'll be super delighted with how easy it is to do that :-)

[2017-12-12 22:33] mattkrick commented on #1535
like i click a thing & the focus goes to the agenda item input? that's easy enough

[2017-12-12 22:35] ackernaut commented on #1475
ok! I’ve been branching off of `epic8.5` — will your relay branch merge to `epic8.5`? (and thanks for the quick response!)

[2017-12-12 22:36] mattkrick commented on #1475
yeah, i'll merge it in the next hour

[2017-12-12 22:38] ackernaut commented on #1535
yep “Add an agenda item” as part of the hint in the updates prompt! part of the 8.5 enhancements have been to meeting prompts and hints, so I want to give a little more love to the updates while I’m working on it.

[2017-12-12 22:39] ackernaut commented on #1475
🔥

[2017-12-12 22:42] mattkrick opened #1559 "Items to do from projects-to-relay comments"
Things I should do, but don't wanna do before projects-to-relay gets merged because it'll make for sad times in git merges.

- [ ] PlainListItem component (maybe?)
- [ ] Refactor DashboardWrapper
- [ ] Rename EditorInputWrapper & add comments at top on when to use

[2017-12-12 22:46] ackernaut commented on #1475
going to get this in along with #1535 with 8.5

[2017-12-13 02:22] mattkrick opened #1561 "Chore: refactor notifications.userIds to userId"
Back in the day we used to make notifications that could be seen by multiple people. This was great for notifications that went out to billing leaders because if 1 billing leader fixed the issue, then it'd disappear for the other. Now that we have a lot more notifications, a pattern has emerged to make 1 per user & when a notification gets removed, we can just hunt down the one that exists for oth

[2017-12-13 16:00] dan-f commented on #1535
Yeah, shouldn't be too difficult.

[2017-12-13 21:39] mattkrick opened #1563 "Kickout resub strategy"
The current process for kicking someone off of a subscription is:
- server kicks them off
- clients receives kick out
- client tries to subscribe again
- client receives error
- unregister other subscriptions from that same component (unregister = unsubscribe if nothing else wants it)

the client tries to resubscribe because sometimes we kick the client out when they get a new auth token. For exam

[2017-12-13 21:39] #1563 closed

[2017-12-14 00:02] mattkrick commented on #1547
Issues
- Invitations
- OrgApprovals
- BillingLeader reqs?
- teamMembers that weren't in the org
- notifications
- Team doc (isPaid, tier)

Hard requirement: To move a team to your org, you _must_ be a billing leader of both orgs. If you weren't of X, then someone would be stealing your team. If you weren't of Y, you'd be charging the billing leader extra without their approval.

Invitations - for

[2017-12-14 02:54] mattkrick commented on #1547
For each team member, see if they exist in the new org.
if they don't,
- add them to orgUser
- add the org to their userOrg
- bump the count on slack if they are active

[2017-12-14 04:47] #1509 closed

[2017-12-14 04:47] #1508 closed

[2017-12-14 04:47] #1504 closed

[2017-12-14 04:47] #1443 closed

[2017-12-14 04:47] #1420 closed

[2017-12-14 04:47] #1364 closed

[2017-12-14 19:59] dan-f commented on #1524
Taking a look at this once more post `projects-to-relay`

[2017-12-14 20:40] mattkrick opened #1566 "Warn when creating teams under a FREE org when PRO is available"
From #1547, It's not Taya's fault that she created a team in the wrong Org, it's ours.
So how do we fix this? How do we stop someone from putting a team on their free personal org instead of a paid org?

I think the solution is to warn them and to default to a paid org.

So, when you go to the new team page, the selected org is the first paid org.

Then,
- if a user is a part of at least 1 PRO+ or