[2022-10-11 12:51] #7196 closed

[2022-10-11 15:06] igorlesnenko opened #7265 "Discussion topics are missing when going from Group to Discuss"
Steps to reproduce:

* Create a retro meeting
* advancing to "Vote"
* go back to "Group"
* go to "Discuss"

I could advance, but no discussions were available
![Peek 2022-10-11 12-54](https://user-images.githubusercontent.com/7331043/195072300-863f3900-702c-4698-92c9-66a1674a43a4.gif)

### Acceptance Criteria
- Users can see discussion topics if they exists when advancing from any phase

**Estimat

[2022-10-11 15:20] nickoferrall opened #7266 "Undefined new issue Azure title"
To reproduce:

- Integrate with Azure DevOps and create a Poker meeting
- Create a new issue in the scope phase
- See that the title starts with `#undefined`

![Screenshot 2022-10-11 at 16 19 05](https://user-images.githubusercontent.com/39854876/195132210-e8d0235a-d706-4eb5-b094-d502f99dda97.png)

### AC

- [ ] Can create a new issue in Azure and see the correct issue number / key

[2022-10-11 18:06] mattkrick opened #7268 "Participants don't follow facilitator in agendaItems/discuss phase"
Participants are not following facilitators. this is likely due to the comment box always being focused, caused by #7238.
This breaks the meeting experience for all participants in the agenda items & discuss phases.

[2022-10-11 18:13] jordanh commented on #7256
Reopened #4521. Closing this one in favor of #4521.

Thank you for the report!

[2022-10-11 18:13] #7256 closed

[2022-10-11 18:16] jordanh commented on #7245
We'd gladly take a PR with this header renamed to "Formatting Text"

[2022-10-11 18:19] jordanh commented on #7240
Way to use data!

[2022-10-11 18:21] #6401 closed

[2022-10-11 18:21] #6374 closed

[2022-10-11 18:21] #6358 closed

[2022-10-11 18:21] #6357 closed

[2022-10-11 18:21] #6356 closed

[2022-10-11 18:22] #6339 closed

[2022-10-11 18:23] jordanh commented on #5592
No occurrences in the past 30 days

[2022-10-11 18:23] #5592 closed

[2022-10-11 21:08] jmtaber129 opened #7270 "Notification Summaries: implement new logic"

[2022-10-11 21:13] jmtaber129 opened #7271 "Notification Summaries: design new emails"

[2022-10-11 21:16] jmtaber129 opened #7272 "Notification Summaries: implement new emails"
Implement new emails designed in #7271

AC:
- [ ] Designs implemented
- [ ] Notification links navigate to the correct part of the app
- [ ] Emails with more than 5 notifications include how many additional notifications
- [ ] Dashboard link opens the app to the notifications drawer

[2022-10-11 21:44] #7182 closed

[2022-10-12 08:33] #7268 closed

[2022-10-12 09:35] #7123 closed

[2022-10-12 09:37] JimmyLv commented on #7123
see related discussion, https://parabol.slack.com/archives/C836NA350/p1664188208786099?thread_ts=1664182887.626359&cid=C836NA350

_**machine checks**_ are never friendly enough. :robot_face:

[2022-10-12 09:37] nickoferrall opened #7274 "Improve readability of Azure task integration"
After pushing a task to an Azure project, we see the id in the link:

![Screenshot 2022-10-12 at 10 35 40](https://user-images.githubusercontent.com/39854876/195307528-07b23294-accd-4d7f-bbe3-7415acaad5b1.png)

### AC

- [ ] Show something human readable in the link that is consistent with the other integrations, such as the name of the project

[2022-10-12 11:23] nickoferrall commented on #6641
Hey @tghanken, just wanted to double-check that you're still able to reproduce this?

I impersonated your account, and went to create a new team, but I could see that you're a member of the Parabol org:

![create-team](https://user-images.githubusercontent.com/39854876/195329751-3d42585a-ea75-47bf-a9dd-4560e3a598f3.png)

[2022-10-12 13:14] JimmyLv opened #7278 "Release test v6.78.0"
- The basic checklist is required
- Adding tests from merged PRs is optional

## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an

[2022-10-12 13:57] nickoferrall opened #7280 "Remove @types/ioredis"
@igorlesnenko [noticed](https://github.com/ParabolInc/parabol/pull/7234#discussion_r993460521) that we can remove @types/ioredis once we've upgraded to Redis v5: https://github.com/luin/ioredis/wiki/Upgrading-from-v4-to-v5

### AC

- [ ] Removed @types/ioredis package without breaking anything

[2022-10-12 13:58] BartoszJarocki commented on #7280
@nickoferrall is it about removing `@types/ioredis`?

[2022-10-12 14:01] nickoferrall commented on #7280
Sure thing, I've updated the title

[2022-10-12 15:57] nickoferrall commented on #6589
Update to this issue: @Dschoordsch is on the case and has created the following PRs to help resolve this:

- https://github.com/ParabolInc/parabol/pull/7257
- https://github.com/ParabolInc/parabol/pull/7258
- https://github.com/ParabolInc/parabol/pull/7264

@Dschoordsch if you could share a comment in this issue once we have news that we can update customers with, that'd be great 🙏

[2022-10-12 16:03] Dschoordsch commented on #6589
The main difference is how we are reading the fields which we are able to edit from Jira. This should make a big difference, as this information is read issue specific instead of the project specific schema we've read before.
This might fix the issue in case a field was shown which isn't present in the edit issue screen or an unexpected field (e.g. "Story points" for a company managed project or "

[2022-10-12 16:39] nickoferrall commented on #5889
Hey @igorlesnenko, just checking whether this one is safe to close?

[2022-10-12 17:00] nickoferrall opened #7283 "Need to refresh the page to see new integration in task menu"
After adding or removing an integration, the user needs to refresh the page to see the new/removed integration in the task footer menu.

The user might look at the menu and think that their newly added/removed integration hasn't been added/removed.

### AC

- [ ] After adding/removing an integration, the user can open the task footer menu and see the update without refreshing the page

[2022-10-12 17:42] MindEvo commented on #7278
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-10-12 18:00] enriquesanchez commented on #6589
A [user](https://app.hubspot.com/live-messages/3888472/inbox/3236045474#email) 🔒 wrote into Support:

The recommended steps for a workaround did not work for them:
[code]

[2022-10-12 18:02] Dschoordsch commented on #6589
@enriquesanchez it is important to edit the edit screen (there are 3 screens, create, view and edit). They are correct if they're using "Story points" on a company managed project, we're filtering this out for some reason. I hope my fix will land next week.

[2022-10-12 18:31] jmtaber129 opened #7284 "Notifications: Batch notification email improvements"
Make batch notification summary emails more useful, actionable, and frequent.

Product Brief: https://www.notion.so/parabol/Product-Brief-Batch-Notification-Email-Improvements-e4e3ca2e203b4864bc8de0bb950298e9
Spec: https://www.notion.so/parabol/Spec-Batch-Notification-Email-Enhancements-f5a99dd9509a4aff93b6ec6568a969ae

[2022-10-12 19:17] tghanken commented on #6641
I'm no longer able to reproduce this.  It may have been cleaned up automatically as I got invited to other teams in the Parabol org?

[2022-10-12 20:19] enriquesanchez opened #7287 "Improving the signup journey"
How might we improve the signup journey?

Related: https://github.com/ParabolInc/parabol/issues/4567

[2022-10-12 20:21] enriquesanchez opened #7288 "Research sign-up flows of other SAAS tools"

[2022-10-12 20:23] enriquesanchez opened #7289 "Design proposal that places a sign-up field in the homepage"
Experiment: Remove friction by placing the sign-up email field in parabol.co’s homepage

[2022-10-12 20:26] enriquesanchez opened #7290 "Implement homepage sign-up field and filling email address in `/create-account` page"
See design: https://github.com/ParabolInc/parabol/issues/7289#issuecomment-1292373770

![Image](https://user-images.githubusercontent.com/4997466/200559750-af10db59-7c19-4c01-898e-aa22f6b23fc6.png)

Figma: https://www.figma.com/file/UVwOvQbjKsaN9tkXTILKEW/Sign-up-from-homepage?node-id=55%3A494

[2022-10-12 21:01] MindEvo opened #7291 "Bug(Staging): Leaving a team not correctly refreshing the dashboard"
Steps to Reproduce:
- Select a team and click the `Manage Team` button
- Next to your username select the 3 dots and click `Leave Team`
- Click `Leave the team` from the popup
- Observe that the team is still displayed in your nav
- Click it or any other tab
- See the error

Note: Refreshing the tab after the error will bring you back to the dashboard and the team is correctly NOT displayed in you

[2022-10-13 05:48] #7249 closed

[2022-10-13 08:36] #6144 closed

[2022-10-13 09:32] nickoferrall commented on #6641
Yeah, I think that's probably it. I can't see any other users affected, so I'll close this issue for now 👍

[2022-10-13 09:32] #6641 closed

[2022-10-13 14:15] #6060 closed

[2022-10-13 16:18] jmtaber129 commented on #7033
@enriquesanchez looking back through the conversation here - are you recommending a snackbar because we already have that component, or because it's the better design before we have a time-left indicator?

[2022-10-13 17:27] nickoferrall commented on #7291
Can confirm that this is happening in prod and crashes locally: https://www.loom.com/share/010645aa88114452b0ac5bdbff4ce925

[2022-10-13 17:43] enriquesanchez commented on #7033
@jmtaber129 I was recommending it because we already have it, but your suggestion above

...nudged me to go back to the original idea. I prefer the indicator on top, which does not obscure any content behind it and it's in a more visible area of the page.

[2022-10-14 05:41] BartoszJarocki commented on #7033
I think it'll play nicely with showing the timer as designed here: https://github.com/ParabolInc/parabol/issues/7098, good stuff!

[2022-10-14 07:01] byasi commented on #7245
Hi there, I am interested in fixing this bug but not sure how to navigate to this page. Kindly requesting on how to display this modal

[2022-10-14 07:05] Dschoordsch commented on #7245
On the top right on the dashboard "?" -> "Keyboard shortcuts"
![Screenshot from 2022-10-14 09-05-02](https://user-images.githubusercontent.com/7331043/195783859-d12f476a-3ada-4897-9a63-f6136ed01061.png)

[2022-10-14 10:03] raj360 commented on #7252
Hi @87prashant, for purposes of user experience I would suggest appending an error message to the input once the upper limit is reached, just to add awareness to whoever if updating the username. whats your take on this? cc @jordanh @Dschoordsch

[2022-10-14 10:14] Dschoordsch commented on #7252
`preferredName` has an upper limit in the database because it is defined as `VARCHAR(100)`. I would shy away from adding additional verification on the client side. However, it would be good if we'd enforce word wrap if they choose a name that is too long to fit into one line and has no spaces.

[2022-10-14 13:23] BartoszJarocki opened #7297 "Reflection card visually disappears when you try to drag it from an expanded group of cards"
First seen in 6.77.0, since then it occurred > 900 times.

https://sentry.io/organizations/parabol/issues/3649823309/?referrer=github_plugin

[code]

[2022-10-14 16:50] #7033 closed

[2022-10-14 21:46] oyale commented on #6724
I'm getting almost the same error while following self-hosted instructions:

[code]
I'm running it with `docker-compose -f docker-compose.yml -f ./docker/docker-compose.selfHosted.yml up` from the root of repo in a up-to-date Manjaro.

`Docker Compose version 2.11.2`
`Docker version 20.10.18, build b40c2f6b5d`

I'm using the `.env.example` file as `.env`, with the only change of `FILE_STORE_PROVID

[2022-10-17 07:03] Dschoordsch commented on #6724
There seem to be 2 errors:
* in dev (`yarn dev`) there seems to be a problem connecting to the postgres database. Please check that the connection string in your `.env` matches your `docker-compose.yml`
* building for production seems to miss the following steps
[code]

[2022-10-17 12:58] BartoszJarocki opened #7298 "Standups: Implement ended meeting view"
Implement the design from #7033

[2022-10-17 13:34] #7088 closed

[2022-10-17 13:42] igorlesnenko commented on #4460
I found that is is not very easy to use Stripe Elements in our case.

There are [2 possible ways](https://github.com/stripe-samples/accept-a-payment#accept-a-payment) to use stripe elements:

**Payment Element**

A single element that embeds a fancy payment form using iframe. The one that is shown on the [screenshot](https://github.com/ParabolInc/parabol/issues/4460#issuecomment-1263642257) above

[2022-10-17 14:02] BartoszJarocki commented on #6832
@jmtaber129 I'm not sure exactly what this issue is about, could you please share a screenshot or something with the problem? thank you!

[2022-10-17 16:29] igorlesnenko commented on #4460
@nickoferrall make sense, will add a formatting only

[2022-10-17 17:50] BartoszJarocki commented on #4460
At some point we should migrate to Stripe Elements one way or another due to legal issues. More info here: https://stripe.com/docs/security/guide#validating-pci-compliance

[code]

It should be too hard to style a Card Element properly, too.

[2022-10-17 22:08] enriquesanchez commented on #7271
Here's a first pass at the batch email notifications designs:

![image](https://user-images.githubusercontent.com/3276087/196292905-7b6347f6-a6d5-4717-b8a9-844c331668eb.png)

[Link to Figma](https://www.figma.com/file/gB3WqSKX1OfbWtPLqoffxX/Batch-email-notifications?node-id=8%3A173) 🔒

[2022-10-18 09:59] charlesmathias opened #7299 "Automatically move undiscussed reflections to new retro meeting"
## Issue - Enhancement

A [user](https://app.hubspot.com/contacts/3888472/contact/56490051) 🔒 says:

[2022-10-18 10:01] charlesmathias commented on #5063
A [user](https://app.hubspot.com/contacts/3888472/contact/56490051) 🔒  says:

[2022-10-18 11:17] #7206 closed

[2022-10-18 12:17] Dschoordsch commented on #6230
Fixed by #7206

[2022-10-18 12:17] #6230 closed

[2022-10-18 12:18] Dschoordsch commented on #6689
#7206 removed this functionality

[2022-10-18 12:18] Dschoordsch commented on #6771
#7206 removed this functionality

[2022-10-18 12:18] #6771 closed

[2022-10-18 12:19] Dschoordsch commented on #7005
#7206 removed this functionality

[2022-10-18 12:19] #7005 closed

[2022-10-18 12:25] mwermuth commented on #7177
Thanks for adding this @ayo-yemi :)

Adding integrations isn't a small thing. And we would likely only do this if more users would request this. So the short answer is: We won't be able to do this currently. Would love to hear your thoughts @jordanh in how we've handled "enhancements" like this in past.

[2022-10-18 13:07] nickoferrall opened #7301 "Can end a meeting from meetings view"
Sometimes meetings are buggy and when you click on them, you get redirected to the meetings view. When that happens, it would be helpful if you could end the meeting from the meetings view. Currently, the buggy meeting will live on forever in the meetings view.

We could add an "End meeting" option to this menu:
![meetings-view](https://user-images.githubusercontent.com/39854876/196437748-c30ad878

[2022-10-18 13:36] mwermuth commented on #6589
Thanks @nickoferrall and @Dschoordsch for the updates. Crossing my fingers that your PR's will fix a big part of this. I assume they are going out with the release tomorrow right?

[2022-10-18 13:41] Dschoordsch commented on #6887
Superseded by #7206

[2022-10-18 13:41] #6887 closed

[2022-10-18 13:45] Dschoordsch commented on #6589
This should be retested after the next release which contains #7206.
The process of adding a field to be estimatable hasn't changed, but we
* improved the way we pick up available fields
* have a more polished description how to add the fields
  * https://www.parabol.co/support/estimation-in-jira-company/
  * https://www.parabol.co/support/estimation-in-jira-team/

[2022-10-18 14:14] JimmyLv commented on #7288
I added a signup use case from ProductHunt, showing a popup to signup with Google account. https://www.notion.so/parabol/Ideas-References-6039a0c5319641fab858e1b3f74aae19#854a60402d144efc91ae4016e59d4aeb

![Google Chrome-Product Hunt – The best new products in tech -000641-20221018](https://user-images.githubusercontent.com/4997466/196455432-59b23edb-7bb3-4a40-822a-b0f62b85908f.png)

[2022-10-18 14:57] jmtaber129 commented on #7271
@enriquesanchez these look great! A few comments:
* The "Hooray! No more notifications." might be misleading at times, since there may be more notifications that happened previously that are currently still unread. Maybe we replace this with something like a "See all notifications" button?
* The current email has a link to the support email (love@parabol.co) and the team page in a signature - do w

[2022-10-18 15:07] nickoferrall opened #7302 "Move Pro Upgrade out of modal and into Billing page"
Currently, users go to the Org's Billing page, click "Upgrade Now", and a modal pops up. That modal shows the user how much they would pay. They then enter their card details and click pay.

The problem with this is:

1. It requires more clicks than is necessary
2. The user can't see how much they'll pay until they click the CTA which isn't a friendly UX

Moving the card info inputs and the price

[2022-10-18 15:26] Dschoordsch commented on #6756
Results can be found on https://www.notion.so/parabol/Squad-2-Notes-515904adde5441febd81750e4c7a1e65
* #6649 around 8% of new users run demo meetings from the placeholder
* #6707 was replaced by #6941 and the number of meetings started by new users stayed pretty constant around 8%
* #6705 2% of new users watch the tutorial, but most of them will never see it if they were invited

[2022-10-18 15:26] #6756 closed

[2022-10-18 15:49] Dschoordsch commented on #7280
While I appreciate keeping PRs small, creating a PR with this one line fix would have been easier and faster than creating this issue.

[2022-10-18 16:46] BartoszJarocki opened #7305 "Add the recurrence feature flag for a subset of users"
Get the list of users, remove the feature flag and ask for feedback

[2022-10-18 16:50] acressall commented on #6760
**Story Points: 3**
  [See the discussion](https://action.parabol.co/meet/hwEj48juqk/estimate/1) in Sprint Poker #​​3

  *Powered by [Parabol](https://www.parabol.co/resources/sprint-poker-meetings)*

[2022-10-18 16:59] garethaledavies opened #7306 "Add retro template graphics into selector"
**Tension**

I noticed that our latest template graphics aren't showing up in the product interface.

**Resolution**

We should add the new template graphics to the template picker modal. The following templates are affected:

- [ ] Christmas retrospective
- [ ] Always be learning
- [ ] Diwali retrospective
- [ ] Hands on deck activity
- [ ] Halloween retrospective
- [ ] Hero's journey retrospecti

[2022-10-18 17:00] avivapinchas opened #7307 "Limit Meeting History to X months for free plan"
## Issue - Enhancement

Meeting history may not be important to an individual team member, but would matter more to a lead looking to understand their team's behavior over time. We should limit the history we provide on the personal plan and include features around context, history and trends over time in our paid plans instead.

Some considerations:
- What should the limitation be? How many month

[2022-10-18 17:00] avivapinchas opened #7308 "Remove pro-rated billing [exploration]"
## Issue - Enhancement

Users today are charged based on how much they were active within a month, not whether or not they were active in a month. This leads to confusing invoices and hard-to-understand bills, for both customers and the Parabol team.

Instead, we should charge accounts based on the number of users who are active at the time of billing.

[Background](https://www.notion.so/parabol/H

[2022-10-18 17:00] avivapinchas opened #7309 "Implement time-bound ‘stick’ for enforcing 2-team limit in Usage Stats"
## Issue - Enhancement

Today, we do not enforce or inform folks that they have cross the 2-team limit on the free plan. We should change that.

Some considerations:
- Should we exclude single-member teams? (I think yes)
- How do we make sure the 2-teams they've got are _sticky_? Can pull from definition used in Financial Model & other, cc @tghanken
- Do we limit to 2 teams, or 3? With 3 teams, th

[2022-10-18 17:21] jordanh commented on #4493
@shapel are you still working on this issue or may I assign it to somebody else?

[2022-10-18 17:45] nickoferrall commented on #7280
True - I was thinking it was like a regular package that requires updates elsewhere in the app, but of course it's just removing the types now Redis provides this out of the box 🤦

[2022-10-18 17:51] shapel commented on #4493
@jordanh I will hardly have free time for this soon, so feel free to assign it to somebody else. My PR 👆 can be used for inspiration.

[2022-10-18 18:07] enriquesanchez commented on #7271
Thanks @jmtaber129 !

This is a good point 👍

Would this take you to the dashboard but with the notifications dropdown opened?

I missed that, I think we should keep them, thanks for pointing it out 👍

[2022-10-18 19:40] #6741 closed

[2022-10-18 19:40] #6502 closed

[2022-10-18 20:39] enriquesanchez commented on #7271
Here's an update addressing the feedback:

![imagen](https://user-images.githubusercontent.com/3276087/196539686-c0012894-96fd-4748-b4fe-68a90aedde25.png)

@jmtaber129 Have you thought about how to handle a large number of notifications? The spec leaves this unspecified, but I feel that 5 is a good threshold to start with.

In a situation like that, for example if you had 8 new notifications, we c

[2022-10-18 20:52] jmtaber129 commented on #7271
@enriquesanchez Looking good! 5 seems like a good threshold to me, and the `...and 3 more` seems reasonable too. I feel like we _could_ just make the `...and 3 more` the button label (like your earlier designs), but I don't really have a preference.

[2022-10-18 23:04] enriquesanchez commented on #7271
@jmtaber129 I think I like that approach as well:

<img width="1149" alt="Captura de Pantalla 2022-10-18 a la(s) 4 06 02 p m" src="https://user-images.githubusercontent.com/3276087/196544853-f52bc020-fcc2-42c6-b738-af961ff030be.png">

I also like how the current email format feels a bit more personal with the initial salute, maybe we can also keep that:

<img width="1158" alt="Captura de Pantalla

[2022-10-19 02:52] #6436 closed

[2022-10-19 08:37] igorlesnenko opened #7311 "Users getting an error when trying to leave team: `TypeError removeTeamMemberTeamUpdater`"
https://sentry.io/organizations/parabol/issues/3669001466/?project=107196&query=level%3Afatal+timesSeen%3A%3E5+is%3Aunassigned+is%3Aunresolved&statsPeriod=14d

29 events 14 users

[code]

User feedback

[2022-10-19 12:01] igorlesnenko commented on #7297
Looks like happens when you try to drag a card from an expanded group of cards:

https://user-images.githubusercontent.com/466991/196685027-acc04743-8689-4ee2-adc0-9387834f72a7.mov

[2022-10-19 13:11] Dschoordsch commented on #6873
Fix was reverted as it conflicted with the follow facilitator logic:
* the cursor would go into the discussion drawer
* when the facilitator goes to the next stage, the user would remain on the current stage and see the "Rejoin" button

I think it would be safe to modify the logic to leave the viewer behind only if their input is non-empty and not based on the focus being in the discussion drawer.

[2022-10-19 13:20] Dschoordsch commented on #7297
Might be related to #6910 `packages/client/hooks/useDraggableReflectionCard.tsx`

[2022-10-19 13:54] BartoszJarocki commented on #6869
@mattkrick the reason this is happening is using `crossOrigin` on `<img/>` tags in emails. When it's removed, all the images work correctly. Do you see any potential issues with removing that? Emails are tricky, just want to make sure I won't break something else when fixing this.

[2022-10-19 14:33] jmtaber129 commented on #7271
@enriquesanchez LGTM! Are you still looking to get feedback from other folks, or are you comfortable with this moving to implementation?

[2022-10-19 16:13] nickoferrall commented on #6838
Hey @igorlesnenko, just checking if this issue is still In Progress and should be in Squad 2?

[2022-10-19 16:13] nickoferrall commented on #6743
Hey @Dschoordsch, just checking if this issue is still In Progress and should be in Squad 2?

[2022-10-19 16:26] enriquesanchez commented on #7271
@jmtaber129 I'm going to share these designs on tomorrow's Design Share. I don't expect any drastic changes but we may want to make minor updates after that. I feel we can move forward regardless.

[2022-10-19 17:10] mattkrick commented on #6277
closing in favor of #6247. It's the same bug, just a different message depending on the browser (this message only occurs on firefox &  edge it seems)

[2022-10-19 17:10] #6277 closed

[2022-10-19 17:13] mattkrick commented on #5030
Reopening because this is the root cause of #6247.
We should kill this pattern via a refactor to remove the possibility of this happening in other meetings

[2022-10-19 19:15] jmtaber129 opened #7314 "Notifications: Simply notification publishing"
Currently, creating a new notification requires adding/changing some boilerplate around the `NotificationSubscription` and adding an updater for the mutation that triggered it.

Simplify notification publishing for "basic" notifications by making the changes in https://github.com/ParabolInc/parabol/pull/7310 ready for production.

[2022-10-19 21:47] mattkrick commented on #6247
All of these bugs seem to get caused in the same way:
- a user is on an estimate phase, e.g. /estimate/5
- they navigate back to the scope phase /scope, stay there for 1-10 seconds
- they get this error from the PokerCardDeck
- this happens to facilitators & participants, and a click happens right before the route change, telling me that a user is doing this to themselves (vs. a subscription)
- ha

[2022-10-19 21:55] mattkrick commented on #6247
I was not able to reproduce this.
My theory is that React is suspending at an inopportune time. We don't have strict mode turned on, which would cause some functional components to get called twice to make sure we're suspense compatible.
This is the only way I can conceive that a computer belonging to the estimate phase is getting called while still on the scope phase.

to fix, I'm using fallback

[2022-10-20 06:53] BartoszJarocki commented on #7033
@enriquesanchez, one last question, where would you put this on mobile view?

[2022-10-20 08:50] igorlesnenko opened #7316 "TypeError: Cannot destructure property 'preferredName' of 'm' as it is undefined."
https://sentry.io/organizations/parabol/issues/3677719495/?referrer=github_plugin

[code]

[2022-10-20 13:30] igorlesnenko commented on #6838
@nickoferrall It is still in progress. I pushed a PR #7153, but noticed that the requested fix is not very easy to do. I plan to return to this issue and finish.

[2022-10-20 13:51] #7297 closed

[2022-10-20 15:30] nickoferrall commented on #4161
Reopening as @drewhousman1010 mentioned another [customer](https://app.hubspot.com/contacts/3888472/contact/19252351) 🔒 requested this. Upgrading to a p3 as pricing inconsistencies feel more urgent than a p4 IMO

[2022-10-20 15:52] igorlesnenko commented on #5325
Will try to investigate

[2022-10-20 17:16] jordanh commented on #5889
I also tried to reproduce this one, and was not able to. I am going to close it for now.

@igorlesnenko please reopen if you see it again!

[2022-10-20 17:16] #5889 closed

[2022-10-20 22:09] tianrunhe opened #7319 "Tier is not updated when a user is removed from an org"
## Issue - Bug
Simplest way to reproduce is to start fresh:
1. Create two accounts: abby@test.com and bob@test.com
2. Abby invites Bob to her team/org
3. At this time, both Abby and Bob's tier in the `User` table are `personal`, no problem there
4. Abby upgrades her org to `pro`
5. Now both Abby and Bob's tier in the `User` table changed to `pro`, which are expected
6. Abby removes Bob from her or

[2022-10-20 22:10] tianrunhe commented on #6558
One of the issue is that when a user is removed from an org, his/her tier is not updated. See #7319

[2022-10-20 22:11] tianrunhe commented on #6558
For analytics purpose, we should look at `OrganizationUser` table over `User` table

[2022-10-21 02:40] JimmyLv opened #7321 "Release test v6.79.0"
- The basic checklist is required
- Adding tests from merged PRs is optional

## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an

[2022-10-21 03:55] JimmyLv commented on #7321
@MindEvo

[2022-10-21 05:11] MindEvo commented on #7321
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-10-21 09:21] JimmyLv commented on #7321
I just verify this should be an issue at the edge case, @87prashant could you please help to double and fix this issue? I think the whitespace before the second word (two` words`) should not be removed.

![Google Chrome-Retro #1  Jimmy Test Team-000676-20221021](https://user-images.githubusercontent.com/4997466/197160964-3b006c4c-8c4e-4c17-9900-be72a7990461.gif)

but it's not a release blocker, so

[2022-10-21 09:47] 87prashant commented on #7321
@JimmyLv
It is working for me, could you please verify?

[2022-10-21 09:56] #7301 closed

[2022-10-21 10:08] JimmyLv commented on #7321
@87prashant I think the edge case is:

wrong:  two[ words](URL) -> two[words](URL)
correct: two[ words](URL) -> two [words](URL)

does this make sense?

[2022-10-21 10:45] 87prashant commented on #7321
@JimmyLv
It may be wrong (as maybe I am not able to find the correct starting point in the gif). Could you verify if I am checking correctly?

https://user-images.githubusercontent.com/106697681/197177586-387a584b-1704-4939-b594-4a90e6bdffdd.mp4

Also, in your video space before `words` is missing. Looks like the fix is not working completely.

[2022-10-21 13:25] MindEvo commented on #7321
I think my original wording wasn't precisely clear so I edited it. I meant that any two words used with a space in between them, the whitespace was not preserved.

https://user-images.githubusercontent.com/35351786/197206447-8b19bcdc-225e-4a18-94de-f3e9f462f61b.mp4

[2022-10-21 14:02] 87prashant commented on #7321
@Dschoordsch could you check?

[2022-10-21 14:45] Dschoordsch commented on #7321
@87prashant I checked. It is broken on master and was also broken on the last release before your change, so no release blocker.
I double checked your PR and it was working there, so it was broken again along the way, probably someone did a bad rebase.

[2022-10-21 14:52] Dschoordsch commented on #7321
It was broken already when it got squashed merged, so something was changed between your base branch and the time we merged your change which conflicted with this change.

[2022-10-21 16:39] nickoferrall commented on #7319
Further context from Bruce [here](https://parabol.slack.com/archives/C03C3J42WDU/p1666370101532039?thread_ts=1666304349.320029&cid=C03C3J42WDU):

The impact is mostly on Segment/Amplitude. The highestTier property is [populated directly](https://github.com/ParabolInc/parabol/blob/022af06e3c9dd6d28a55a424c05946e557fdb3ee/packages/server/graphql/private/mutations/connectSocket.ts#L90) from the app s

[2022-10-24 10:07] Dschoordsch commented on #7321
#7326 undoes the conflicting change.

[2022-10-24 13:37] BartoszJarocki commented on #7298
@enriquesanchez as I'm working on this, I think it'd be good to replace placeholders when the meeting has already ended, as it's not possible to update the response then.

Do you think this looks good or should we use something different than just `No response`?
![localhost_3000_meet_hI1fhGaN3i_responses](https://user-images.githubusercontent.com/1017620/197538907-29be1c23-e79f-4ac7-a60f-6c7ae9869

[2022-10-24 14:29] acressall opened #7328 "Plugin Updates"

[2022-10-24 14:31] mwermuth opened #7329 "This is a support issue reported by a user."
Please help this user.

They are a Enterprise customer.

[2022-10-24 14:39] nickoferrall opened #7330 "Design custom template upgrade modal"
When a free tier user clicks "Create New Template" in the retro template picker, we want to open a modal that informs the user that creating custom templates isn't possible on the free tier.

The modal also includes a CTA button that takes them to the Billing page where they can upgrade.

See [Notion doc](https://www.notion.so/parabol/Template-limits-on-starter-plan-limited-number-and-or-limit-sha

[2022-10-24 14:40] nickoferrall opened #7331 "Design for the team & org page of template picker"
Now that custom templates will be a paid-for feature, we need to update the Team & Organization page text if the user is on the free tier:

![team-template](https://user-images.githubusercontent.com/39854876/197518079-d911a82f-48bf-41d2-9167-49111847256b.png)

### AC

- [ ] Design created that replaces "Your custom templates will..." text with text explaining that it's a premium feature
- [ ] Ther

[2022-10-24 14:41] nickoferrall opened #7332 "Design for restricting public templates"
We would like to restrict some public templates to Pro & Enterprise users. See [Notion doc](https://www.notion.so/parabol/Template-limits-on-starter-plan-limited-number-and-or-limit-sharing-customization-e5231a1dcfa5450a99b2dc5c09480a0a) 🔒 for further context.

![custom-template](https://user-images.githubusercontent.com/39854876/197519614-14e5ed3b-ef67-4338-a246-f9183e39c10c.png)

I suggest that

[2022-10-24 14:47] acressall opened #7333 "Pricing & Packaging Research"
Notion documentation: https://www.notion.so/parabol/Pricing-Packaging-WIP-Strategy-e7dc8627853f4023a1f5d921aec39e4b

[2022-10-24 14:57] nickoferrall opened #7334 "Add isFree to MeetingTemplate"
We want to make 7 public templates accessible to all users, while the remaining templates are available to only pro & enterprise users.

To do this, we should add an `isFree` field to the `MeetingTemplate` object. If `isFree` is not true, we know it's a premium template.

### AC

- [ ] Implement a migration that adds an `isFree` boolean to the `MeetingTemplate` object
- [ ] The [following 7 templa

[2022-10-24 16:09] tianrunhe commented on #7334
Please remember to also update the [metrics](https://github.com/ParabolInc/parabol/blob/master/packages/server/utils/analytics/helpers.ts#L25)

[2022-10-24 16:16] mattkrick commented on #6869
pasting slack chat here for keyword search in case I forget why we added cors again

Matt
  [3 minutes ago](https://parabol.slack.com/archives/C608QL4RH/p1666627832375589?thread_ts=1666620674.988069&cid=C608QL4RH)
ah! here's the answer. if it doesn't have cors, it's opaque, which means we can't read headers

Matt
  [3 minutes ago](https://parabol.slack.com/archives/C608QL4RH/p1666627833654949?thre

[2022-10-24 18:06] nickoferrall opened #7336 "Add accessiblePremiumTemplateIds to RetrospectiveMeetingSettings"
We're limiting some public templates to Pro & Enterprise teams, but we don't want to take away templates that free teams have already used.

It would be a bad experience for a team to discover that they need to upgrade to access a template that they've been using for a while.

I suggest that we implement a migration that finds all the `MeetingTemplate`s that free teams have previously used (i.e. i

[2022-10-24 18:21] nickoferrall commented on #6868
Slack thread related to this issue: https://parabol.slack.com/archives/C836NA350/p1665067839935699

The financial model will be reviewed in an Exco meeting soon and we'll hopefully be able to implement this

[2022-10-24 20:15] enriquesanchez commented on #7298
@BartoszJarocki `No response` looks good!

Would you still be able to update/add a response?

[2022-10-25 05:38] BartoszJarocki commented on #7298
I can't find it right now but I'm pretty sure the agreement was to _not_ be able to update the/add the response but still allow folks to talk in discussion threads

[2022-10-25 08:28] Dschoordsch opened #7339 "Misleading "Invitation required" message on meeting loading error"
When a meeting fails to load due to some error (e.g. returning null for a non-null field, #7337) the app shows an "Invitation required" message. This is misleading and also delay us discovering this error.

## Acceptance criteria
* [ ] check GraphQL error message when loading a meeting fails
  * [ ] if it is invitation required, show the current invitation required dialog (might just be no error,

[2022-10-25 10:25] nickoferrall commented on #7334
@tianrunhe I'm thinking we'll add `meetingTemplateIsPremium: template?.isPremium` to that object. How does that sound?

[2022-10-25 10:43] garethaledavies opened #7340 "Meeting scheduling within Parabol"
**Tension**

There's currently no way for a team lead to schedule meetings easily. It's a manual process of setting up a Parabol meeting on the spot during the team's meeting time, or setting up a meeting and pasting the link into the calendar invitation.

If a team runs retrospectives every 2 weeks, a team lead must go into the platform and set up another meeting manually. There's a lot of fricti

[2022-10-25 10:52] nickoferrall opened #7341 "Implement setIsFreeMeetingTemplate private mutation"
Predecessor: https://github.com/ParabolInc/parabol/issues/7334

Create a private mutation so that Growth team members can update the `isFree` field on templates. This will make templates accessible to all users or restrict them to paying users.

### AC

- [ ] Create a private mutation that updates `isFree` on `MeetingTemplate`
- [ ] The mutation could take the `templateId` as an argument and/or th

[2022-10-25 10:59] nickoferrall opened #7342 "Implement custom template upgrade feedback"
Predecessor: https://github.com/ParabolInc/parabol/issues/7330

### AC

- [ ] Implement the design in https://github.com/ParabolInc/parabol/issues/7330
- [ ] We send a Segment event when the user clicks the CTA button

[2022-10-25 11:08] nickoferrall opened #7343 "Update team & org page with limit info"
Predecesor: https://github.com/ParabolInc/parabol/issues/7331

### AC

- [ ] If a team is on the personal tier and hasn't created a custom template before, they see the updated text & CTA outlined in the design that comes from #7331
- [ ] If a team is on the personal tier and has created a custom template before, show the custom template as an option in the list
- [ ] Track when a user clicks on t

[2022-10-25 11:14] #4460 closed

[2022-10-25 11:17] #7018 closed

[2022-10-25 11:41] nickoferrall opened #7344 "Implement restrictions on public templates"
Predecessors https://github.com/ParabolInc/parabol/issues/7332 & https://github.com/ParabolInc/parabol/issues/7341 & https://github.com/ParabolInc/parabol/issues/7336

### AC

- [ ] Implement the design that comes out of https://github.com/ParabolInc/parabol/issues/7332
- [ ] If `MeetingTemplate.isPremium === true && tier === 'personal'`, the template shows the restricted UI
- [ ] If  `MeetingTemp

[2022-10-25 12:25] Dschoordsch commented on #7330
I personally don't like teasing with a feature that's not obvious that it's not available. I would prefer to either
* change the button to "Upgrade to Create New Templates" or
* add a lock symbol next to it, similar as it's planned for the templates

[2022-10-25 12:28] Dschoordsch commented on #7332
Just a note on the template icons: These are part of the title and cannot easily be changed for pro/non-pro. Showing additional icons is not a problem.

[2022-10-25 12:39] Dschoordsch commented on #7336
Do we also add custom template ids to `accessiblePremiumTemplateIds`?

[2022-10-25 12:42] Dschoordsch commented on #7341
I think we shouldn't normalize any names and instead only check if these match exactly.
Instead of `togglePremiumTemplate` I would prefer `setPremiumTemplate` with an additional `isPremium: Boolean!` so the result doesn't change if the mutation is run multiple times.

[2022-10-25 14:15] drewhousman1010 commented on #6589
@Dschoordsch just asked 🤞

[2022-10-25 14:52] garethaledavies commented on #6178
I think I can take this on when it's ready.

[2022-10-25 15:10] nickoferrall commented on #7336
I don't think we need to as teams on the personal tier that have previously created custom templates will still be able to access them. We'd continue to get all the team templates [here](https://github.com/ParabolInc/parabol/blob/1b07e58347e807df76009f12b2cd32113eae033a/packages/server/graphql/types/RetrospectiveMeetingSettings.ts#L64-L66). If there are no team templates and the team is on the per

[2022-10-25 15:12] nickoferrall commented on #7330
Yeah, I completely agree! I'd be in favour of a lock symbol next to it, but it's up to the designer. I'll update the description to mention this

[2022-10-25 15:56] enriquesanchez commented on #7298
Yes, I remember that as well 👍

[2022-10-25 18:21] #7321 closed

[2022-10-25 18:22] jordanh commented on #7316
watermark: 12 times, 12 users, last 30 days

[2022-10-25 18:24] jordanh commented on #7311
Possibly related (or at least in the same neighborhood) as: https://github.com/ParabolInc/parabol/issues/6424

[2022-10-25 18:27] jordanh commented on #7291
Related to: https://github.com/ParabolInc/parabol/issues/6424

[2022-10-25 18:29] jordanh commented on #7283
Under the rationale that the user doesn't care if we never implemented the subscription or not, I will classify this one as a bug

[2022-10-25 18:30] #7278 closed

[2022-10-25 18:31] jordanh commented on #7274
It's not _really_ a bug. Relabeling

[2022-10-25 18:34] jordanh commented on #6350
Rather than let this one go, I am going to assign it to gitstart and let's see what happens!

[2022-10-25 18:35] jordanh commented on #6345
I think this will get "fixed" as Squad 2 does its work this trimester

[2022-10-25 18:35] #6345 closed

[2022-10-25 18:35] jordanh commented on #6278
No new events. Presumed fixed

[2022-10-25 18:35] #6278 closed

[2022-10-25 18:36] #6211 closed

[2022-10-25 18:38] jordanh commented on #6210
Iceboxing this by policy. We've also already iceboxed all related issues.

My hope is as we continue to enhance the product for more async use-cases, that we implement a general pattern that can be back-ported to our previous activity types...

[2022-10-25 18:38] #6210 closed

[2022-10-25 18:38] #6187 closed

[2022-10-25 18:38] #6185 closed

[2022-10-25 18:38] #6114 closed

[2022-10-25 18:39] #6113 closed

[2022-10-25 18:41] #6085 closed

[2022-10-25 18:41] #6081 closed

[2022-10-25 18:42] jordanh commented on #5439
Wow. Still bad. Elevating in priority

[2022-10-25 18:44] #5398 closed

[2022-10-25 18:44] #3210 closed

[2022-10-25 18:45] #6404 closed

[2022-10-25 18:45] #6405 closed

[2022-10-25 18:45] #6408 closed

[2022-10-25 18:45] #6421 closed

[2022-10-25 18:45] #6449 closed

[2022-10-25 18:45] #6450 closed

[2022-10-25 18:45] #6451 closed

[2022-10-25 18:45] #6454 closed

[2022-10-25 18:45] #6456 closed

[2022-10-25 18:45] #6457 closed

[2022-10-25 18:45] #6458 closed

[2022-10-25 18:45] #6459 closed

[2022-10-25 18:45] #6461 closed

[2022-10-25 18:45] #6462 closed

[2022-10-25 18:45] #6463 closed

[2022-10-25 18:45] #6464 closed

[2022-10-25 18:45] #6470 closed

[2022-10-25 18:45] #6472 closed

[2022-10-25 23:49] #6007 closed

[2022-10-26 09:16] Dschoordsch commented on #7344
I came across the `isStarter` property in the templates and found it's only used for sorting. We should modify the sorting to punish locked templates, I added an AC.

[2022-10-26 10:06] #7207 closed

[2022-10-26 11:19] #7334 closed

[2022-10-26 12:41] ayo-yemi opened #7347 "Ability to vote on action items"
## Issue - Enhancement

A [user](https://app.hubspot.com/contacts/3888472/deal/9330032930/) 🔒 said:

Until we have acceptance criteria and estimated effort, we will keep this issue open and collect more feedback.

@jordanh  @mwermuth

[2022-10-26 12:47] ayo-yemi opened #7348 "Running health check retros"
## Issue - Enhancement

A[ user](https://app.hubspot.com/contacts/3888472/contact/49900201) 🔒 said:

Until we have acceptance criteria and estimated effort, we will keep this issue open and collect more feedback.

@jordanh @mwermuth

[2022-10-26 14:39] rafaelromcar-parabol opened #7349 "Release test v6.80.0"
## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ] Verified invite via email works
- [ ] Added Slack, ver

[2022-10-26 16:18] nickoferrall commented on #7336
Hey @Dschoordsch, one problem I'm running into is checking whether a team has previously used a `MeetingTemplate`. Previously, I thought that I could filter by `teamId` & `orgId` in `MeetingTemplate`, but these are only relevant for custom templates. For public templates, we have `aGhostOrg` and `aGhostTeam` as the ids.

I don't want to get the previously used public `templateIds` by searching thr

[2022-10-26 16:57] igorlesnenko commented on #5325
This looks like a race condition to me.

* To check users count we query organization users [at the end of the function](https://github.com/ParabolInc/parabol/blob/master/packages/server/billing/helpers/processInvoiceItemHook.ts#L111) after 2 API calls to Stripe.
* For example, we used an invite link and several users clicked on it at the same time.
* If the function execution will take some time

[2022-10-26 17:28] enriquesanchez commented on #7289
Here's the design direction we are going to go with for our initial experiment:

![imagen](https://user-images.githubusercontent.com/3276087/198094528-ad28bd9a-3499-468e-9236-1eeab12a6dd4.png)

The goal is to test if an email signup field in the homepage yields an increase in signups. For that reason, we are introducing as little change as possible and only adding the email field while moving the

[2022-10-26 17:28] enriquesanchez commented on #7289
Also cc. @acressall in case you have any insights.

[2022-10-26 17:33] enriquesanchez commented on #7289
@JimmyLv From a technical stand point, here's how I think this should work:

- When a user enters their email and submits the form, they are taken to `action.parabol.co/create-account`.
  - How do you feel about keeping form validation on `/create-account`? Meaning that if the email they entered is invalid, we don't show the error message in the homepage and instead show it on `/create-account`. H

[2022-10-26 18:41] MindEvo commented on #7349
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-10-26 21:53] dherman-eb opened #7353 "Unable to import issues from Jira for Sprint Poker"
## Issue - Bug

- **How serious is the bug?** P0
- **OS:** All
- **Browser:** Chrome / Firefox / all others - latest

### Acceptance Criteria (optional)
Users can:
   - Do this: Import Jira issues into the scope - fails
   - After selecting Jira project, issues do not display (see screenshot)
   - Cannot do that: Actually, use the sprint poker since issues don't load

Triage is performed to find t

[2022-10-27 08:50] Dschoordsch commented on #7353
@dherman-eb I'm sorry you're having this issue. I tested it before with my account and it worked, so I tried reproducing it with a new one and I couldn't reproduce this issue: https://www.loom.com/share/8360017b7c3b4db6aceff4b8fcfad650

Could you help me with some more steps to reproduce this issue?
* Did you create a new meeting or opened an existing one?
* Did you add the Jira integration or was

[2022-10-27 10:05] rafaelromcar-parabol commented on #7349
The error
[code]
Was fixed by https://github.com/ParabolInc/parabol/pull/7354

[2022-10-27 10:06] #7349 closed

[2022-10-27 15:25] acressall commented on #7289
This looks good and the functionality seems simple enough on the website side.
@JimmyLv we'll need to create a new block in WordPress for this. Would you feel comfortable trying that or will you like me to do that part?

@lorena-cure from a content editor perspective, I think this would be a new component with the input field and button text hard-coded for now, since we'll need to do some fancy st

[2022-10-27 15:59] nickoferrall commented on #7336
I love that idea! By using that Redis query in the `isFree` resolver, we no longer need the `accessiblePremiumTemplateIds` field, can avoid the migration, and we can gradually remove premium templates from free users without (hopefully) upsetting them. Thanks!

[2022-10-27 16:20] nickoferrall opened #7355 "Template Limits"
Todo List
- [ ] Issue being worked Nick #7341

[2022-10-27 21:15] dherman-eb commented on #7353
Hi Georg,

I created a new meeting and ran into the issue. I tried creating another
meeting and still had the same problem. I also tried disconnecting and
reconnecting to Jira, but that didn't work. I set up the Jira integration
with my cloud account.

Best,

Daniel

On Thu, Oct 27, 2022 at 2:50 AM Georg Bremer ***@***.***>
wrote:

[2022-10-28 04:59] #7298 closed

[2022-10-28 10:26] Dschoordsch opened #7358 "Limit meetings: Timeline limitation designed"
The meeting history shall be limited to 30/90 days on the timelline.

## Acceptance criteria
* [ ] design for the timeline with limits and upgrade message
* Proposal:
  * [ ]  showing at least 2 messages: one after 30 days old meetings and one after 90 days
  * [ ] timeline shows meetings <= 30 days old as it currently does
  * [ ] after the first 30 days meetings a message is shown stating that t

[2022-10-28 10:33] Dschoordsch opened #7359 "Meeting history limit: Design direct meeting access lock message"
If a meeting older than 30 days is accessed directly, we shall show a message pointing them to upgrade

## Acceptance criteria
* [ ] designed a dialog to show when accessing locked meetings directly

[2022-10-28 11:52] Dschoordsch commented on #6969
Works now as intended, the bot assigns reviewers to external contributors: https://github.com/ParabolInc/parabol/pull/7357
but not internal ones: https://github.com/ParabolInc/parabol/pull/7356
except when migrations are touched: https://github.com/ParabolInc/parabol/pull/7352

[2022-10-28 11:52] #6969 closed

[2022-10-28 16:39] #6247 closed

[2022-10-31 13:35] acressall commented on #7353
Additional users with this issue who have wrote in to support over the last 4 days
- [User 1](https://app.hubspot.com/contacts/3888472/contact/94976802) 🔒
- [User 2](https://app.hubspot.com/contacts/3888472/contact/77978051) 🔒
- [User 3](https://app.hubspot.com/contacts/3888472/contact/88575401) 🔒

[2022-10-31 15:14] mwermuth opened #7360 "A/B Testing Framework"
* [x] https://github.com/ParabolInc/parabol-data-sanctum/issues/468
* [x] #7130
* [ ] #6796
* [ ] https://github.com/ParabolInc/parabol-data-sanctum/issues/469

[2022-10-31 16:37] nbartels commented on #6724
I'm running in exact the same error as @oyale

I checked out the current [master](https://github.com/ParabolInc/parabol/commit/a0673045b225698292dd51e0c2ce316e8d57e6ca). Created my env file like this:

[code]

And as soon as I start the images with `docker-compose up` or `docker-compose -f docker-compose.yml -f ./docker/docker-compose.selfHosted.yml up`, I get the error above on the `RUN yarn buil

[2022-11-01 19:08] mattkrick commented on #5325
It appears that it isn't a false alarm, here is an example of a recent error where the quantity is off by 1: https://github.com/ParabolInc/action-devops/issues/101

[2022-11-01 19:22] gcrickman commented on #5778
A [customer](https://app.hubspot.com/contacts/3888472/contact/3322301) 🔒 writes:

[2022-11-01 20:14] drewhousman1010 commented on #212
A [user ](https://app.hubspot.com/contacts/3888472/contact/109792951) 🔒 writes:

[2022-11-01 21:57] #6775 closed

[2022-11-02 08:39] #7280 closed

[2022-11-02 09:45] Dschoordsch commented on #6724
Did you run those steps before?

[2022-11-02 11:48] JimmyLv commented on #7291
same issue, will be fixed in https://github.com/ParabolInc/parabol/pull/7368

[2022-11-02 11:57] JimmyLv commented on #7311
This issue occurs when leaving the team. When cleaning up the member's task list, an error occurs when the team member's `tasks` is `null`.
I explained the details in https://github.com/ParabolInc/parabol/pull/7368, which should be fixed after it is merged.

[2022-11-02 12:05] JimmyLv commented on #6424
The 'delete team' feature should work, but the user interaction just makes it confusing, because:
1. **The delete operation takes time**, but there is no indicator, like a loading effect when deleting. Only after deleted, there's a snackbar message "team has been archived"
2. **The confirmation button is not clear**, we use the text hint to confirm using the `Enter`, but using a red delete confirm

[2022-11-02 12:12] JimmyLv commented on #6424
I would like to suggest that we also add a confirmation red button:
1. to make it clear to the user what they are doing, mouse hovering up will have a more visible effect. (and this button will only be clickable after the user has entered the correct team name)
2. and the button will have a `loading` effect during the deletion process.

![Google Chrome-Team Settings  Yet Another Roam Team222-00077

[2022-11-02 12:43] mwermuth opened #7369 "Standups v1"

[2022-11-02 12:52] #6061 closed

[2022-11-02 12:52] #7311 closed

[2022-11-02 13:54] igorlesnenko opened #7370 "Enforce a limit on the number of teams in the organization"

[2022-11-02 13:59] nickoferrall commented on #7331
Suggested copy

![Screenshot 2022-11-02 at 13 57 45](https://user-images.githubusercontent.com/39854876/199508350-b6a818e5-3a3a-4c84-84dc-f7fe4d5d7879.png)

I suggest making `Upgrade to Pro` a hyperlink that takes the user to the Billing page

[2022-11-02 14:17] drewhousman1010 commented on #7213
From this [user](https://app.hubspot.com/contacts/3888472/contact/1291151) 🔒

[2022-11-02 14:38] mwermuth opened #7371 "Meeting History Limit"

[2022-11-02 15:25] drewhousman1010 commented on #7213
A [customer](alok@kr.af.mil](mailto:alok@kr.af.mil) 🔒 writes:

[2022-11-02 15:59] nickoferrall commented on #7330
Add a lock emoji to the custom templates button letting the user know that it's a premium feature:

![locked](https://user-images.githubusercontent.com/39854876/199538173-fbc2316d-c55b-457e-8c63-c3b181e1da52.png)

When the user clicks the "Create New Template" button, a modal opens up:

![modal](https://user-images.githubusercontent.com/39854876/199538180-92dc620f-b572-498b-a810-2571785afdd5.png)

[2022-11-02 16:50] nickoferrall commented on #7332
### Design proposal

Public templates all have the "Created by Parabol" subtitle. While it's useful for custom templates in the Organization tab to show who created the template, it's not useful in the Public tab as they're all created by Parabol (see img in this issue's description).

I propose removing that subtitle and adding `Premium Template` if it's a premium template:

![locked-public-temp]

[2022-11-02 18:08] mattkrick commented on #5439
Impersonated & attempted to reproduce the last few events of this issue. Couldn't reproduce. That tells me it's not necessarily a data integrity issue, but rather something with the infrastructure. Since infra is going to change in the next couple months I figure I'll revisit then & see if this is still an issue.

[2022-11-03 10:26] ayo-yemi commented on #4833
A [user]([krakenflex.com](http://krakenflex.com/)) 🔒 on an enterprise account sent me a request about SCIM support.

Is there any sort of API access to deactivate or delete users within our Parabol instance?
Or is SCIM on the roadmap at all?

[2022-11-03 11:12] nickoferrall commented on #7336
Decided to keep things simple and give the same experience to all free users, regardless of whether they've used a premium template before. We can build this is any users request it after we've shipped template limits.

See Slack thread for further context: https://parabol.slack.com/archives/C042E8PGPD4/p1667388355109689

[2022-11-03 11:12] #7336 closed

[2022-11-03 11:27] Dschoordsch opened #7373 "Meeting history limit: Limit direct Meeting access"
When a meeting is limited it should not be visible anymore from the GraphQL layer to stop users from doing any shenanigans with client side JavaScript.

## Acceptance criteria
* [ ] add property `isLocked` to `NewMeeting` which is true if `plan === personal` and `endedAt` < 30 days ago
* [ ] return empty `phases` array if `isLocked`
* [ ] implement locked popup according to #7359

[2022-11-03 11:30] Dschoordsch opened #7374 "Meeting history limit: limit timeline view"
## Acceptance criteria
* [ ] Return only 90 days of timeline events from GraphQL
* [ ] Implement upgrade messages according to #7358

[2022-11-03 11:45] Dschoordsch opened #7375 "Limit meeting history"
See [notion](https://www.notion.so/parabol/Limit-Meeting-History-to-X-months-for-free-plan-59967cdd58f9407db29b3aaa6f579566)

* [x] #7358
* [x] #7359
* [x] #7373
* [x] #7374
* [x] #7502
* [x] #7666

[2022-11-03 11:49] Dschoordsch commented on #7371
Closing in favor of #7375

[2022-11-03 11:49] #7371 closed

[2022-11-03 13:59] acressall commented on #7330
@nickoferrall I'm struggling a bit with having a modal within a modal here. I really like the "Premium template" text you have for [this solution](https://github.com/ParabolInc/parabol/issues/7332#issuecomment-1300890923) and wonder if we can keep it more consistent. Could we put the content that you currently have in the modal in the right side of the existing modal instead?

[2022-11-03 14:01] acressall commented on #7331
@nickoferrall I like the copy! Do you think we should also keep the bit that says "Your custom templates will show up here" at the beginning?

What would happen if I clicked on "Create New Template" here?

[2022-11-03 14:08] acressall commented on #7332
@nickoferrall I like this solution a lot! Especially that you can still see what the template includes. Love the idea of the sparkles emoji for pro/enterprise users!

Can we make the upgrade button the pink/red gradient? I get the concept of the green, but am not sure about 2 things:

- It's the same level of contrast as the blue, so for those with any visual difficulties it may be hard to disting

[2022-11-03 14:36] Dschoordsch opened #7376 "Release test v6.81.0"
- The basic checklist is required
- Adding tests from merged PRs is optional

## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an

[2022-11-03 14:36] Dschoordsch commented on #7376
@MindEvo could you please do the testing?

[2022-11-03 15:34] BartoszJarocki commented on #6424
@JimmyLv this should be closed as well, right?

[2022-11-03 15:43] #6062 closed

[2022-11-03 16:11] gitstart-parabol opened #7378 "Line breaks are not supported in comments"
## Issue - Bug

When a user makes a list in the comment using the line break (which should take the items to the next line) and sends it, the list still appears in a single line.
The defect captured in the loom video below [works as expected on the webview]

https://www.loom.com/share/243265d13666499884cc2f845dec33ac

- **How serious is the bug?** P4
- **OS:** Windows
- **Browser:** Chrome 107.0.5

[2022-11-03 17:17] dherman-eb commented on #7353
Thank you for the fix! Confirming the Jira integration is working as expected.

[2022-11-03 17:17] #7353 closed

[2022-11-03 17:34] #7341 closed

[2022-11-03 18:07] igorlesnenko opened #7379 "Teams limit: Implement tier limits check function"
We need to check an organization tier limits, flag the organization and notify members if the limits were exceeded

**AC**:
- Check if organization exceeded its limit on "meeting end" and other appropriate events
- The function checks the number of sticky teams in the organization
- **Sticky team** is the team with more than 1 member that completed 3 meetings with more than 1 attendee and have had

[2022-11-03 18:46] nickoferrall commented on #7330
Yeah, I do think modals within modals isn't ideal! Although the template picker modal does exist within the meeting picker modal, so there is precedent

Here's an quick image showing what that might look like (button would be a different colour, font a different size and position, different img):

![error-msg](https://user-images.githubusercontent.com/39854876/199804478-e472d7eb-6cc5-4e7f-a0ce-bb0

[2022-11-03 18:48] nickoferrall commented on #7331
Hmm maybe "Upgrade to Pro to create custom templates for your team. They'll show up here!"? If we start with "Your custom templates will show up here", I think we'd need to follow it with something like "if you upgrade to Pro!" which might sound sassy 😄 Personally, I like to keep the text as concise as possible to make it more likely users will read it

This issue goes through this in more detail

[2022-11-03 18:50] nickoferrall commented on #7332
For sure! Choosing pink/red for accessibility & consistency makes a lot of sense to me, thanks!

Maybe this "Upgrade Now" colour?

![image](https://user-images.githubusercontent.com/39854876/199808884-d9a1b142-ef27-42b4-896c-01bb2063239f.png)

[2022-11-03 18:57] nickoferrall opened #7380 "RelayNetwork: No data returned for operation `MeetingSelectorQuery`, got error(s):"
Affected 25 users in the past month

https://sentry.io/organizations/parabol/issues/3611563858/?referrer=github_plugin

[code]

[2022-11-03 19:04] nickoferrall opened #7381 "RemoveOrgUserMutation error"
Affected 35 users in the past 21 days

https://sentry.io/organizations/parabol/issues/3667878032/?referrer=github_plugin

[code]

[2022-11-03 19:07] nickoferrall commented on #6913
Sentry issue: [ACTION-PRODUCTION-BX4](https://sentry.io/organizations/parabol/issues/3543368654/?referrer=github_plugin)

[2022-11-03 20:01] MindEvo commented on #7376
## Summary
...

## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_product_actiontime)
- [

[2022-11-04 07:24] Dschoordsch commented on #7125
Search engines don't evaluate JavaScript, only the html file we serve. With a SPA it's the same file for all 'action.parabol.co`. This means we need to inject the canonical link when serving the page. The simplest solution would be to write a canonical link header[^1] if the demo URL is accessed here https://github.com/ParabolInc/parabol/blob/4e2fd5dd5431c9df023fcead896d604d0a6bd5ec/packages/serve

[2022-11-04 08:54] igorlesnenko opened #7383 "Teams limit: Trigger usage stats"
When tariff limits exceeded lets enable Usage stats for billing leaders, so they can check what is going on

Previous issue:
#7379

Designs: https://www.figma.com/file/aYc5fKU09GawnsQwKTjcDv/Time-bound-stick?node-id=0%3A1&t=mTNGlHiYcWKypsHC-0

AC:
- Flagging a team as exceeding the limits should enable `Usage stats` for all billing leaders
- Enable usage stats only if `Organization` has `activeDom

[2022-11-04 09:06] igorlesnenko opened #7384 "Teams limit: Show persistent CTA if the tier limit is exceeded"
When organization exceeded its tariff limits, we need to show a persistent CTA to everyone in the organization.

Designs:
https://www.figma.com/file/aYc5fKU09GawnsQwKTjcDv/Time-bound-stick?node-id=0%3A1&t=xaWXmuWLBrWGP40T-0

AC:
- If limits are exceeded, always show a persistent banner in meetings sidebar
- Banner should be visible to all users

<img width="431" alt="image" src="https://user-image

[2022-11-04 09:31] igorlesnenko opened #7385 "Teams limit: Add tier limit exceeded flags"
Let's add some flags in the database and API as a separate issue, so we can use them to implement various functionality in parallel.

See #7379

AC:
- Add and expose in API `tierLimitExceededAt ` flag
- Add and expose in API `scheduledLockAt ` flag
- `lockedAt`

[2022-11-04 09:39] igorlesnenko opened #7386 "Teams limit: Lock organization after 30 days"
We need to block all organization teams and send notification if organization was not upgraded within 30 days or some teams were not removed to fix the limit

Email designs TBD

**AC:**
- Cron should lock an organization if `scheduledLockAt` is set (Try to use existing `ScheduledJob` functionality)
- Ignore archived organizations
- Set `lockedAt = new Date()`
- User should still be able to remove

[2022-11-04 09:51] igorlesnenko opened #7387 "Teams limit: If organization is blocked, prevent new teams creation"
If organization was blocked prevent new team creation

AC:
- Check if `lockedAt` is set on organization
- When blocked organization selected in dropdown, disable other form fields
- Show the warning in UI that organization is blocked, they need to remove some teams or upgrade

[2022-11-04 09:55] igorlesnenko opened #7388 "Teams limit: Additional email reminders on day 7"
When the limit is exceeded we need to send additional reminders that they need to fix or upgrade until fully blocked

See cron issue: #7386

Designs: https://www.figma.com/file/aYc5fKU09GawnsQwKTjcDv/Time-bound-stick?node-id=0%3A1&t=mTNGlHiYcWKypsHC-0

**AC**

- Send additional email reminder on day 7

[2022-11-04 10:28] nbartels commented on #6724
No. Maybe I did not get the Docker intention right. I had this opinion: I checkout this repository, create a `.env` file and run `docker-compose up` and I'm ready to use a self hosted version.
I have no yarn locally installed, so I have to modify the build script to let it run these commands?

[2022-11-04 10:40] nickoferrall opened #7390 "Add template limits feature flag"
Add a feature flag to A/B test the template limits restriction

### AC

- [ ] Add `templateLimit` to `UserFeatureFlags`

[2022-11-04 10:49] Dschoordsch commented on #6724
Unfortunately this is not how it works today. Running `docker-compose up` only starts up the required services (RethinkDB, Postgres, Redis). You would still need to run the app itself locally or built a docker image for it yourself (i.e. there is no pre-built docker image for it).

[2022-11-04 11:26] garethaledavies commented on #7306
Can someone coach me on how to add these graphics? I would be happy to implement the change myself (as I did with icebreakers) if someone can tell me how to engage with the code.

[2022-11-04 11:40] Dschoordsch opened #7392 "Check-In: Marking a task owned by someone else #private breaks the meeting"
# How to reproduce
In a Check-In meeting in solo updates or agenda discussion mark a task assigned to someone else as "#private"

# Expected behaviour
The task is marked private in discussions. In the solo updates it should disappear.

# Actual behaviour
The task does not change, but the next button and sidebar stop working until a refresh

[2022-11-04 11:50] karl-johan-grahn commented on #6724
Eh ok that was not my expectations, can we improve the docs to make this clear please

[2022-11-04 11:51] Dschoordsch commented on #6724
Yes, please. Any PR is welcome, also those improving the documentation.

[2022-11-04 12:51] nbartels commented on #6724
That's really confusing, because the docker-compose.yml has a app services that builds the image and starts it with the other services https://github.com/ParabolInc/parabol/blob/985c3afe5f422799a883f205e2576acfed168096/docker-compose.yml#L34

[2022-11-04 13:08] Dschoordsch commented on #6724
You're right, we worked on this at some point. Looking at the [Dockerfile.prod](https://github.com/ParabolInc/parabol/blob/master/docker/Dockerfile.prod) it's missing the above mentioned steps to generate all necessary files and it would need access to the database during the build to generate these. Then it should work.

[2022-11-04 14:02] mwermuth commented on #6589
@drewhousman1010 any news on this?

[2022-11-04 14:58] nbartels commented on #6724
Okay, I see. After creating another docker-compose file with postgres and rethink in it. I was able to get further. I think some scripts could be helpful to get the selfhosted version with docker on the road. As soon as I got everything working, I try to fiddle some PR for you. From a data protection perspective this should be very helpful ;)

[2022-11-04 20:32] acressall opened #7401 "Design team limit enforcement"
Based on development outline in Notion: https://www.notion.so/parabol/Implement-time-bound-stick-for-enforcing-2-team-limit-in-Usage-Stats-7b6cb3446267449f9269cbc2aa944ae8

User flow: https://www.figma.com/file/ylVPEyyXuAfCgL7xLQU2Jf/Time-bound-stick?node-id=0%3A1

[2022-11-07 07:45] JimmyLv commented on #6424
@BartoszJarocki  This can be considered a feature improvement. I'm already working on this, and I'll use this issue as an Improvement and create a PR later, how does that sound?

[2022-11-07 13:36] acressall commented on #7331
Yep, that's fair. Let's just give Aviva and/or marketing a pass at it before we implement, but I agree with you here!

Once we have #7330 sorted this will be good to go

[2022-11-07 13:37] acressall commented on #7332
Yes, looks good! I think this issue is ready for implementation!

[2022-11-07 14:13] nickoferrall commented on #7330
Makes sense! Thanks for the feedback and suggestions.

@ackernaut & @avivapinchas it’d be great to get your thoughts on this one 🙏  At the moment, a user opens the new meeting modal and then opens the template picker modal. From here, if a user on a free team clicks “Create New Template”, I’d like to open another modal that lets them know that it’s a premium feature and they’ll need to upgrade.

I

[2022-11-07 14:14] nickoferrall commented on #7332
Great! 🙌  I'll mark this as closed

[2022-11-07 14:14] #7332 closed, assigned to acressall, nickoferrall

[2022-11-07 14:16] nickoferrall commented on #7331
Sounds good! @avivapinchas are you happy with the copy "Upgrade to Pro to create custom templates for your team [change "team" to "organization" on org page]"?

[2022-11-07 16:26] #7390 closed

[2022-11-07 16:52] drewhousman1010 commented on #6589
@mwermuth not yet, I haven't heard back. I will nudge them again

[2022-11-07 20:20] ackernaut commented on #7330
We have 2 concerns here. One is trying this limitation within our current UI. The other is using the best UI patterns we can. At the end of the day I think both are safe in terms of we need to learn, and we could undo it or iterate on the pattern.

It is a poor pattern and we are already have 1 item of UI debt in this case. When Enrique designed the meeting selector, the idea was that any sub view

[2022-11-08 11:48] JimmyLv commented on #7290
I've just changed the title of this issue, to identify this is our first initial experiment to reduce sign-up friction #7287

The whole sign-up process experiment will be in 3 stages, the 2nd and 3rd are out of scope.

1. place a sign-up field on the home page, after the user filling in the email, redirect to the /create-account page and populate the email number (initial experiment)
2. place a Go

[2022-11-08 11:58] JimmyLv opened #7407 "Implement 'Sign up with Google' button next to the sign-up field on the homepage"
This is to place a Google sign-in button next to the sign-up field on the home page, allowing the user to sign in with a single click, see [design](https://www.figma.com/file/UVwOvQbjKsaN9tkXTILKEW/Sign-up-from-homepage?node-id=55%3A494)

## Acceptance Criteria

- user can see and click the 'Sign up with Google' button
- redirect the user to `/create-account` page and start the Auth flow
- finish

[2022-11-08 12:09] nickoferrall commented on #7330
That makes sense!

It'd probably turn a very small PR into a moderate one. The components are located quite far from one another so there'd be a fair bit of prop passing plus some UI to implement, but nothing crazy.

How would you @ackernaut & @acressall feel about the design proposal here:

![upgrade-now](https://user-images.githubusercontent.com/39854876/200559696-b846dfae-5ea3-41b7-8452-67845a1

[2022-11-08 12:18] JimmyLv opened #7408 "Implement the Google sign-in with One Tap dialog on the top-right corner"
related to #7407 #7287

On all parabol.co content pages, to show the Google sign-in with One Tap popup on the top right corner, see [effect](https://github.com/ParabolInc/parabol/issues/7288#issuecomment-1282468344)

![Google Chrome-Parabol  Free Agile Meeting Tool for Remote Teams-000817-20221108](https://user-images.githubusercontent.com/4997466/200562671-5acc67ee-c782-4b1f-9c6d-88934aef6258.png

[2022-11-08 12:25] JimmyLv commented on #7408
collect the research result here, I added the [One Tap Google Login](https://developers.google.com/identity/gsi/web/guides/overview?hl=en#consent_and_sign-in_with_one_tap) popup to the https://develop.parabol.co/ WordPress site.

The issue: currently still need to handle the callback after the login is done, like how to create an account under [action.parabol.co](http://action.parabol.co/).
In the

[2022-11-08 12:32] JimmyLv commented on #7289
@acressall I've previously figured out how to add an HTML block (yeah, there will be a hard-coded logic) to a WordPress site, so I'd like to try adding a button to https://develop.parabol.co, and will get your help for the Review.
This is an unknown area for me and I will probably encounter problems. 😂 But I'm happy to learn and see.

[2022-11-08 12:56] JimmyLv commented on #7289
@enriquesanchez The `/create-account` now already has the logic to do this, just append `?email=xxx@gmail.com` to the end of the URL, which automatically fills in the corresponding email address. So let's keep it simple and let the email validation happen in the [action.parabol.co](https://action.parabol.co).

https://user-images.githubusercontent.com/4997466/200570409-8acb4637-0570-4f06-bf1d-a976

[2022-11-08 13:00] Dschoordsch commented on #5483
@tghanken can we stop writing to `User` in Rethink from your perspective?

[2022-11-08 13:05] Dschoordsch opened #7409 "Remove proration"
Proration makes the billed amount feel a bit unpredictable, removing it and just billing the current number of users for the following month will make it far easier to understand while still being fair.

The current logic of adjusting the user count 1 by 1 is quite error prone which lead to #5325. This is not needed if we don't have pro-ration anymore.
Instead we update the user count just when it

[2022-11-08 14:14] Dschoordsch commented on #7130
@jmtaber129 let's do it similarly to what you've suggested:
* add experiment via migration
* we add a helper for the migrations to assign the experiments to existing users
* one row per experiment
* let's not normalize the experiment flags on the organization, but add it to the user because that's easiest to access

[2022-11-08 14:16] BartoszJarocki opened #7410 "Recurrence: Make recurrence easier to discover"
Epic grouping work related to [Product brief: Recurrence - make recurrence easier to discover](https://www.notion.so/parabol/Product-brief-Recurrence-make-recurrence-easier-to-discover-c68475712662495eae63cf6a57c9a058) 🔒

Design
- [x] #7412
- [x] #7419
- [x] #7418
- [x] #7417
- [x] #7420
- [x] #7421
- [x] #7457

Implementation
- [x] #6922
- [x] #7496
- [x] #7497
- [x] #7495
- [x] #7498
- [x] #7499

[2022-11-08 14:17] acressall commented on #7330
LGTM! I think the image could stay the same! This is actually the custom template image, but we're also using it as a default right now. I'm pretty sure Gareth has an issue created for updating the template images

[2022-11-08 14:21] acressall commented on #7289
@JimmyLv do you want to set up a time for us to chat about the website setup? I'm not sure what the impact would be on the performance if we used an HTML block. The alternative is we could create an entirely _new_ block locally. I think we should chat about it to decide which way will make the most sense

[2022-11-08 14:36] JimmyLv commented on #7289
@acressall cool, thanks let me know that we can create the block **locally**!
aha, when you reply to me here. I just asked you a question on [slack](https://parabol.slack.com/archives/C043AHXNB32/p1667917647751579) and I think that's the answer I was looking for. 😁
Of course, exactly how to develop a local block, I guess we could set a time to demonstrate that, thanks!

[2022-11-08 15:48] tghanken commented on #5483
Yes, there's nothing on our end stopping this at this point.

[2022-11-08 16:26] enriquesanchez commented on #7289
Design is ready. Closing in favor of the implementation issue #7290

[2022-11-08 16:26] #7289 closed

[2022-11-08 16:53] Dschoordsch commented on #7409
Because the proration date is used as an index to process line items, removing proration and its date will effectively disable the logic without any additional work. We should however not remove this logic (yet) as it would be quite expensive to re-add. Instead we should have an evaluation window for this.
Because turning proration on and off this way is relative localized, it would be possible to

[2022-11-08 17:12] #7369 closed

[2022-11-08 17:33] #7288 closed

[2022-11-08 17:37] enriquesanchez opened #7412 "Recurrence: Enable recurrence when creating a new meeting"
Part of [#7410](https://github.com/ParabolInc/parabol/issues/7410)

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-08 17:38] #7305 closed

[2022-11-08 19:10] jordanh commented on #7381
Watermark:

EVENTS
[48](https://sentry.io/organizations/parabol/issues/3667878032/events/?project=107196&referrer=github_plugin)
USERS
[40](https://sentry.io/organizations/parabol/issues/3667878032/tags/user/?project=107196&referrer=github_plugin)

[2022-11-08 19:15] jordanh commented on #4482
Watermark

EVENTS
[2.7k](https://sentry.io/organizations/parabol/issues/1132332682/events/?project=107196&referrer=github_plugin)
USERS
[160](https://sentry.io/organizations/parabol/issues/1132332682/tags/user/?project=107196&referrer=github_plugin)

[2022-11-08 19:16] jordanh commented on #4482
Bumping priority given the number of times this bug is occurring

[2022-11-08 19:17] #5579 closed

[2022-11-08 19:18] #5582 closed

[2022-11-08 19:18] #6077 closed

[2022-11-08 19:19] #6079 closed

[2022-11-08 19:19] #6418 closed

[2022-11-08 19:20] jordanh commented on #6455
I don't want to icebox this one. I really don't. I hope we re-open it in the near future

[2022-11-08 19:20] #6455 closed

[2022-11-08 19:20] #6471 closed

[2022-11-08 19:21] #6488 closed

[2022-11-08 19:22] jordanh commented on #6489
This was a good one. Just noting for @rafaelromcar-parabol and @adaniels-parabol if they'd like to reopen some day in the future

[2022-11-08 19:22] #6489 closed

[2022-11-08 19:22] jordanh commented on #6492
We caught no further occurrences of this issue. Iceboxing

[2022-11-08 19:22] #6492 closed

[2022-11-08 19:23] #6516 closed

[2022-11-09 08:26] #7245 closed

[2022-11-09 13:52] nbartels commented on #3641
Thanks at @radicand - you saved my day! Maybe it should be possible to disable the Manager via an environment value like GOOGLE_CLOUD_DISABLED or something.

[2022-11-09 14:16] Dschoordsch commented on #3641
Failing to initialize the `GoogleLanguageManager` [here](https://github.com/ParabolInc/parabol/blob/dab03ac8125ed6a9b596c8e9e1cf26d404eb7914/packages/server/graphql/mutations/helpers/getReflectionEntities.ts#L29) can just fall back to create the new group title in some different way.

[2022-11-09 14:25] nbartels commented on #3641
I'm wondering what's the idea of this manager, I'm not that deep in TS, so it's a bit hard to understand. It's about getting the topic from a text?

[2022-11-09 15:04] nickoferrall opened #7413 "Remove templateLimit feature flag"
Before releasing the template limit restriction, we'll need to remove the feature flag. This will involve removing several viewer queries as we no longer need to check `featureFlags` in `makeTemplateDescription`, added in https://github.com/ParabolInc/parabol/pull/7405

### AC

- [ ] Remove template limit feature flag
- [ ] Remove viewer queries related to `makeTemplateDescription`

[2022-11-09 18:20] #7331 closed

[2022-11-09 19:04] rafaelromcar-parabol opened #7414 "Release test v6.82.0"
## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ] Verified invite via email works
- [ ] Added Slack, ver

[2022-11-09 19:57] MindEvo commented on #7414
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-11-09 20:07] #7328 closed

[2022-11-10 09:28] Dschoordsch commented on #7414
I also smoke tested the app for the svg icon change and for the Atlassian integration an both worked.

[2022-11-10 09:29] rafaelromcar-parabol commented on #7414
@MindEvo @Dschoordsch and myself tested the Atlassian integration and it worked for @Dschoordsch. Identified as safe to release.

Thank you all

[2022-11-10 09:29] #7414 closed

[2022-11-10 09:30] Dschoordsch commented on #6985
#6062 was closed and will be released this week.

[2022-11-10 09:30] #6985 closed

[2022-11-10 13:53] JimmyLv commented on #7290
Using the native WordPress HTML Block would enable the functionality, as the form code is below.
But since the HTML Block could not insert inside the existing Hero Layout on the home page, we currently need to create a whole new hero locally. ref: https://www.loom.com/share/2edb89a37d1844e6a60582c466ee50f9

cc @acressall

[code]

[2022-11-10 14:10] Dschoordsch commented on #5483
@jordanh I still see this single `User` read in the mentioned notebooks https://github.com/ParabolInc/parabol-data-notebooks/blob/44152c7e57bf4c4952b959f958ac818838be3d36/Marketing/Users%20Last%20Seen.ipynb Is this used?

[2022-11-10 15:26] #6869 closed

[2022-11-10 15:54] #7330 closed

[2022-11-10 16:11] tghanken commented on #5483
I don't believe anyone is using those notebooks anymore.  Everyone should now be reading from BigQuery instead.  If necessary, I can submit a fix on that notebook code to move the read to Postgres, but I don't think it should stop us from moving forward with this issue.

[2022-11-10 16:50] nickoferrall commented on #7235
Hopefully, their invoice in November clears out the queued-up invoices. I'll check their invoice on the 23rd of November to see if it's resolved & close this issue if it is

[2022-11-10 20:16] gcrickman commented on #6572
A [user](https://app.hubspot.com/contacts/3888472/contact/67465801) 🔒 asked if there was a way to delete open meetings without sending the summary email to everyone.

[2022-11-10 20:19] gcrickman commented on #5063
A [user](https://app.hubspot.com/contacts/3888472/contact/67465801) 🔒 asks if task cards could link back to the discussion for context.

[2022-11-10 22:03] enriquesanchez commented on #6768
[A user writes](https://app.hubspot.com/live-messages/3888472/inbox/3474057512#email) 🔒:

It'd be great to have a list of all people that want to vote and haven't yet.

[2022-11-10 22:47] enriquesanchez opened #7417 "Recurrence: Update recurrence settings from inside the meeting"
Part of [#7410](https://github.com/ParabolInc/parabol/issues/7410)

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-10 22:49] enriquesanchez opened #7418 "Recurrence: See a confirmation after enabling recurrence from the meeting view"
Part of https://github.com/ParabolInc/parabol/issues/7410

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-10 22:50] enriquesanchez opened #7419 "Recurrence: See clear indication that a meeting is recurring"
Part of https://github.com/ParabolInc/parabol/issues/7410

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-10 22:54] enriquesanchez opened #7420 "Recurrence: See information when the new meeting starts in the meeting view"
Part of https://github.com/ParabolInc/parabol/issues/7410

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-10 22:56] enriquesanchez opened #7421 "Recurrence: See information when the current meeting ends"
Part of https://github.com/ParabolInc/parabol/issues/7410

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-10 23:54] igorlesnenko opened #7422 "Implement usage stats for organizations without domain"
Currently, Usage Stats are shown only per each of the existing domains.

If a user has a gmail account and has created an organization, it is not possible to enable Usage Stats for the organization.
Just nothing will be shown, as we iterating domains and show stats for the whole domain, [see here](https://github.com/ParabolInc/parabol/blob/f49d713260b7297a8f74dd79978cf3f58430d3e4/packages/client/c

[2022-11-11 11:54] igorlesnenko commented on #5325
@mattkrick Yes, you are right, my assumption was incorrect.

I checked the PROD data and did some additional research:

- There is a real divergence exits right now
- It could be more users in DB than Stripe, but vice versa too. (We need to think how to fix invoices correctly)
- I tried to find the very first error occurrence for specific subscriptions, to see if some specific action triggered it.

[2022-11-14 05:14] #7165 closed

[2022-11-14 05:35] #7158 closed

[2022-11-14 09:41] mwermuth commented on #6589
@Dschoordsch @drewhousman1010 if we don't hear back. Can we start to mark this done for now? I don't think there have been any other reports so far, and we did ship some improvements to this. How do you feel about that?

[2022-11-14 12:15] Dschoordsch commented on #6484
Right now after someone deleted a team, the name is gone forever which might be very annoying for users because they cannot rename deleted teams anymore.
Team names don't need to be unique. We don't have this constraint and everything appears to work fine with duplicate names. The only reason we forbid duplicate team names is to not confuse the user.

[2022-11-14 12:25] Dschoordsch commented on #6564
Let's still do this to set a good example for the future.

[2022-11-14 17:28] enriquesanchez commented on #4413
[A user](https://app.hubspot.com/live-messages/3888472/inbox/3491421877#email) 🔒 wrote in:

[2022-11-14 17:49] #6424 closed

[2022-11-14 18:16] mattkrick commented on #5325
Yep! the trick is finding the first time that the DB count & the stripe count diverges, then seeing why. My guess would be that stripe took longer than 3 seconds to return? Ideally, we find a case where an organization just recently diverged within the last 14 days & then we can access all the webhooks sent from stripe's side, too.

[2022-11-14 18:18] mattkrick commented on #7235
Sounds like the bets course of action to me! Crazy how over the top that went...

[2022-11-14 20:16] igorlesnenko commented on #5325
@mattkrick Found one interesting case.
https://github.com/ParabolInc/action-devops/issues/101#issuecomment-1314322103

Will look into it more

[2022-11-14 22:51] enriquesanchez commented on #7213
A [customer](https://app.hubspot.com/live-messages/3888472/inbox/3495602538#live-chat) 🔒 wrote in:

[2022-11-15 07:36] mwermuth opened #7430 "JIRA Cloud auth seems broken"
It seems like JIRA auth is broken and we can't add credentials to it.

For context: https://parabol.slack.com/archives/C4JAUUZ9P/p1668470700946019

[2022-11-15 07:45] BartoszJarocki commented on #7430
the error I'm getting locally and on production is the following
[code]

[2022-11-15 08:57] Dschoordsch commented on #7308
See #7409

[2022-11-15 09:17] mwermuth commented on #7430
Looks like this was only related to billing issues to our Jira project. We have to renew the subscription.

[2022-11-15 09:33] #7308 closed

[2022-11-15 16:13] garethaledavies commented on #5420
A [user](https://www.g2.com/products/parabol/reviews/parabol-review-7357261) writes:

[2022-11-15 16:50] Dschoordsch commented on #7358
Let's only do one hard limit for now to get something over the finish line.
@acressall what do you think about this end card?
![Screenshot from 2022-11-15 17-48-16](https://user-images.githubusercontent.com/7331043/201978587-b5e8fac3-8a68-49a4-a86c-5b5580dd55a5.png)

[2022-11-15 18:30] drewhousman1010 commented on #5669
A [user](https://app.hubspot.com/contacts/3888472/contact/53157801) 🔒 writes:

[2022-11-15 19:12] acressall commented on #7358
I like this a lot @Dschoordsch ! The icon just feels a tiny bit too large. [Here's a similar card](https://www.figma.com/file/IKMfMmMmOxDUWrHfsVgxU740/Timeline-Discovery?node-id=171%3A21521&t=7eKCUfRIPuzoLz3g-4) with a large icon that we can use as a baseline.

@avivapinchas any feedback on copy?

[2022-11-15 19:26] avivapinchas commented on #7358
I'm into this!

Copy suggestion:

One Q on design: Is there any way to show (either real or dummy) timeline events that are blurred out? So you can kinda see a teaser of previous meeting events, similar to what we do in the Check-in Meeting phase with the agenda, before we reach that phase?

[2022-11-15 20:06] acressall commented on #4413
[A user](https://app.hubspot.com/contacts/3888472/contact/111150601) 🔒 writes:

[2022-11-15 20:29] #7430 closed

[2022-11-16 09:17] igorlesnenko commented on #5325
Looks like only 12 organizations affected
https://sentry.io/organizations/parabol/issues/2436725787/tags/stripeSubscriptionId/?project=107196

[2022-11-16 13:19] nickoferrall opened #7433 "Fix Jira Server icon positioning in Poker"
In master, in the Scoping phase of a Poker meeting, the Jira Server logo isn't aligned with the other logos:

![jira-server](https://user-images.githubusercontent.com/39854876/202191023-a1580166-1166-479d-9190-e33fbb485631.png)

### AC

- [ ] Jira Server logo is aligned with other logos

[2022-11-16 13:53] garethaledavies opened #7434 "Add seasonal retrospective templates to the product"
I've got a few more templates I'd like to add into the product:

---

**Holi retrospective**

**Colors**
_What color represents our recent work? Why?_

**Music**
_Are we all dancing to the same rhythm? Where were we in sync? When did we fall out of sync?_

**Dance**
_What big wins make us want to dance? What moves or actions should we try next?_

**Sweets**
_Who deserves something sweet, kudos, or

[2022-11-16 15:38] igorlesnenko opened #7435 "Teams limit: Add teamsLimit feature flag"
Add a feature flag to A/B test the teams limits restriction and to avoid releasing incomplete flow

AC
- [ ] Add `teamsLimit` to `UserFeatureFlags`

[2022-11-16 15:58] igorlesnenko opened #7436 "Teams limit: Exclude organizations and domains with active deal in progress"
We need to exclude deals we're actively working from getting the time-bound trigger.

This information is available in HubSpot.

There are 2 possible approaches that I see:

1) Dynamically query HubSpot API to check if the organization or domain should be excluded.
2) Setup HubSpot webhook that will update some flag on organization accordingly, for example (`has_active_deal`)

Second option  seems

[2022-11-16 20:23] avivapinchas opened #7437 "Tier names changed to 'starter' and 'team'"
## Issue - Enhancement

We[ adopted a proposal](https://www.notion.so/parabol/Tier-Names-65ae94996c214b80992cde6c240db737) to change the names of our tiers:
- `personal` will now be known as `starter`
- `pro` will now be known as `team`

### Acceptance Criteria (optional)
Users see the correct tier names everywhere in the interface. Including:
- In the dropdown menu from the profile icon - `upgrad

[2022-11-17 02:09] tianrunhe commented on #7434
Wooo I love a lunar new year theme template! My thoughts:
1. We stick with English translations for broader audience, so I'll replace "Hongbao" with "Red Envelope"
2. Lanterns are more of culture symbols for [Lantern Festival](https://en.wikipedia.org/wiki/Lantern_Festival) over Lunar new year. A more Lunar NY themed symbol would be [couplets](https://en.wikipedia.org/wiki/Antithetical_couplet). T

[2022-11-17 02:14] tianrunhe commented on #7437
Please tag the data team for this so we can update our data warehouse too

[2022-11-17 09:16] garethaledavies commented on #7434
On this one I've decided to leave "Hongbao" because I think it encourages people to Google it. Like with the international languages in the check-in round, I think it helps people learn more about another culture. I added the words "red envelope" into the prompt text to clarify.

Brilliant, thank you! I've added this in. There wasn't a great emoji for this. If you have a better emoji option, pleas

[2022-11-17 11:13] Dschoordsch opened #7439 "Release test v6.83.0"
- The basic checklist is required
- Adding tests from merged PRs is optional

## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an

[2022-11-17 11:14] Dschoordsch commented on #7439
@MindEvo could you please do the release test?

[2022-11-17 12:27] #7435 closed

[2022-11-17 13:14] nickoferrall commented on #7437
A few other places that we can update:

Pro badge in billing:
![pro](https://user-images.githubusercontent.com/39854876/202455347-9b554676-1434-4f36-a6c9-e5700b6aa1ec.png)

Pro badge in the org dropdown menu:
![org-badge](https://user-images.githubusercontent.com/39854876/202455407-2d8797a3-67b4-4658-b607-ee6e13f378c9.png)

Upgrade to Pro in the template restrictions:
![image](https://user-images.

[2022-11-17 17:29] MindEvo commented on #7439
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-11-17 19:59] avivapinchas opened #7443 "Experiment started for Template Limits (WIP)"
## Issue - Enhancement

We want to understand whether template limits will encourage upgrades.

### Acceptance Criteria (optional)
Experiment started:
- Running over 6 weeks
- Approx. 500 teams should see the variation.

We're assuming this timeframe will allow teams to see the prompt approx. 3 times on average. A risk is timing: we know the last 2 weeks of December and first week of January have

[2022-11-17 20:24] avivapinchas opened #7444 "Events added to track template picker behaviors"
## Issue - Enhancement

We want to better understand how users engage with the template picker.

[Context here. 🔒 ](https://app.slack.com/client/T08FL6336/C042E8PGPD4/1668715400.969029)

### Acceptance Criteria (optional)
Events added for:
- Opened the template picker, including a parameters for meeting type, sharing type (team, org or public)
- Viewing a specific template, including template type

[2022-11-17 23:13] mattkrick opened #7445 "Support OAuth2 across all PPMIs"
- Our integrations require using oauth2
- Many integrations only support a single callback url, e.g. action.parabol.co/auth/atlassian
- that single works for folks using prod, but not for dev, staging, PPMIs, etc.
- until now, we've worked around this by creating a brand new app (e.g. a new atlassian 3LO app) for each PPMI
- a better way is to have a single endpoint that redirects to the right ori

[2022-11-18 05:27] BartoszJarocki opened #7448 "TypeError: Cannot destructure property 'name' of '_' as it is undefined."
Happened 23 times for 24 users. First seen in 6.72.1

https://sentry.io/organizations/parabol/issues/3549412102/?referrer=github_plugin

[code]

[2022-11-18 05:28] BartoszJarocki opened #7449 "TypeError: Cannot read properties of null (reading 'getValue')"
Happened 20 times in the last 30 days. First seen in 6.78.1

https://sentry.io/organizations/parabol/issues/3669667896/?referrer=github_plugin

[code]

[2022-11-18 05:52] BartoszJarocki opened #7450 "Recurrence: introduce stable link to a meeting series"
Epic grouping work related to [Product brief: Recurrence - stable link](https://www.notion.so/parabol/Product-brief-Recurrence-stable-link-b5cd892d169d49e6a148e3cea92f3360) 🔒
[Initial Scope](https://www.notion.so/parabol/Scope-Definition-Recurrence-Stable-Link-v0-ec07677a12534f3c87212f70287bfeb7) 🔒

### Design tasks

- [x] #7481
- [x] #7482
- [x] #7483
- [x] #7484
- [x] https://github.com/ParabolI

[2022-11-18 08:34] Dschoordsch commented on #7307
Progress is tracked in #7375

[2022-11-18 08:34] #7307 closed

[2022-11-18 10:49] nickoferrall opened #7451 "Prevent cloning templates"
Now that we're restricting users in "Starter tiers" from creating new templates, we need to prevent cloning existing templates too.

### AC

- [ ] Users in the free Starter tier are unable to clone a template
- [ ] Users in the paying Team tier can

[2022-11-18 13:14] Dschoordsch opened #7453 "End meeting: Pressing end meeting CTA in check-in terminates the meeting instead"
During smoke test after releasing #7439 we found that when pressing the "End meeting" CTA at the end of a check-in would terminate the meeting instead of properly ending it.

# Expected behaviour
"End meeting" CTA behaves the same as "End meeting" button in action bar.

# Actual behaviour
Pressing the "End meeting" CTA did terminate the meeting
* meeting was terminated snack was shown
* no summary

[2022-11-18 13:15] Dschoordsch commented on #7453
The one time I could reproduce it locally I saw
[code]
This was on 6.70.0 and could be unrelated.

[2022-11-18 13:15] #7439 closed

[2022-11-18 15:28] #7344 closed

[2022-11-18 15:57] #7343 closed, assigned to nickoferrall

[2022-11-18 16:19] #7342 closed

[2022-11-18 18:20] nickoferrall opened #7455 "Change selected premium template for free teams"
If a free team's selected retro template is a premium template, we should change it to a free template.

### AC

- [ ] If a free team's selected template is a premium template and we add the `templateLimit` feature flag, the selected template should change to a free one

[2022-11-18 18:37] avivapinchas commented on #7358
I like that too! Basically anything that kind of teases what they are missing out on

[2022-11-18 19:00] enriquesanchez commented on #7412
![imagen](https://user-images.githubusercontent.com/3276087/202780649-9226a69e-797a-48ba-8b26-97e8f0ca525b.png)
![imagen](https://user-images.githubusercontent.com/3276087/202781796-4ad9984d-d865-4ead-93de-06b7cbdf49b1.png)
![imagen](https://user-images.githubusercontent.com/3276087/202780494-d7cb37d9-d6df-4595-b641-256698b57a23.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwm

[2022-11-18 19:02] enriquesanchez commented on #7412
@BartoszJarocki Let me know how this looks.

One thing I'm wondering is if we need to define the natural language version of the schedule for every possible combination ("On Fridays every other week"), or if whatever library or framework we may use will handle this?

[2022-11-18 19:05] tianrunhe commented on #6806
I quietly turned on analytics 2.0 and let it run for a while. It seems whatever issue we faced last time was auto fixed.

<img width="1142" alt="Screenshot 2022-11-18 at 11 04 41 AM" src="https://user-images.githubusercontent.com/1879975/202783022-2ecd6abf-c608-49f2-a830-c7b8db62a6f6.png">

[2022-11-18 19:05] #6806 closed

[2022-11-18 19:24] tianrunhe opened #7456 "There should be no scroll bar on task header"
<img width="1156" alt="Screenshot 2022-11-18 at 11 06 55 AM" src="https://user-images.githubusercontent.com/1879975/202785623-320d7fab-de43-405c-99e4-9231407489f2.png">

On mobile:
<img width="386" alt="Screenshot 2022-11-18 at 11 22 47 AM" src="https://user-images.githubusercontent.com/1879975/202785908-f56f5401-3a23-4f08-b4e3-af5cb6a0a6ee.png">

### Acceptance Criteria (optional)
- [ ] No scroll

[2022-11-18 22:08] enriquesanchez commented on #7417
![imagen](https://user-images.githubusercontent.com/3276087/202810557-1d9a5d57-08d1-483c-b051-08f4dea2e1e7.png)
![imagen](https://user-images.githubusercontent.com/3276087/202811157-8c327c42-3b16-4481-9d75-2216a44f74a1.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=164%3A16986&t=9oIuB2J89JlHnQQ9-4)

# Acceptance criteria
- Users can access a new menu op

[2022-11-18 22:08] enriquesanchez commented on #7417
@BartoszJarocki Let me know how this one looks 👍

[2022-11-18 22:10] enriquesanchez commented on #7418
![imagen](https://user-images.githubusercontent.com/3276087/202811361-09e0dd74-5ae8-486a-8a3d-4e5e9afb000c.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=164%3A26161&t=9oIuB2J89JlHnQQ9-4)

# Acceptance criteria:

- When recurrence is enabled, users will see a text label under the meeting title that described the current recurrence settings set for the a

[2022-11-18 22:11] enriquesanchez commented on #7418
@BartoszJarocki This one is also ready for you review

[2022-11-18 22:11] enriquesanchez commented on #7419
![imagen](https://user-images.githubusercontent.com/3276087/202811361-09e0dd74-5ae8-486a-8a3d-4e5e9afb000c.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=164%3A26161&t=9oIuB2J89JlHnQQ9-4)

# Acceptance criteria:

- When recurrence is enabled, users will see a text label under the meeting title that described the current recurrence settings set for the a

[2022-11-18 22:13] enriquesanchez commented on #7418
@BartoszJarocki also ready for your review

[2022-11-18 22:14] enriquesanchez commented on #7419
@BartoszJarocki also this one 😄

[2022-11-18 22:20] enriquesanchez commented on #7420
![imagen](https://user-images.githubusercontent.com/3276087/202812134-5ad3b05d-7f67-40ae-be6e-7b7a7aa01d72.png)
![imagen](https://user-images.githubusercontent.com/3276087/202812317-3eaa5594-771d-481b-8bd3-be0d09c763a6.png)
![imagen](https://user-images.githubusercontent.com/3276087/202812329-8770a4aa-a36d-40af-b7f8-128b732ef31f.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwm

[2022-11-18 22:27] enriquesanchez commented on #7420
@BartoszJarocki I'm still a little unsure if this design covers all the cases you had in mind around start and end times. The way I see it, if I see that the standup has 3 hours left, that means the new one starts in 3 hours. I'm however not sure for activities that are not daily (for example a fridayhip) if the next instance starts right after the current one ends, or if there will be some gap ti

[2022-11-18 22:28] enriquesanchez commented on #7421
![imagen](https://user-images.githubusercontent.com/3276087/202812134-5ad3b05d-7f67-40ae-be6e-7b7a7aa01d72.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=164%3A30795&t=9oIuB2J89JlHnQQ9-4)

# Acceptance criteria

- Every recurring standup will have a time-left indicator at the top of the meeting view
  - This pill-shaped indicator will show how much time

[2022-11-18 22:29] enriquesanchez commented on #7421
@BartoszJarocki I'm still a little unsure if this design covers all the cases you had in mind around start and end times. The way I see it, if I see that the standup has 3 hours left, that means the new one starts in 3 hours. I'm however not sure for activities that are not daily (for example a fridayhip) if the next instance starts right after the current one ends, or if there will be some gap ti

[2022-11-18 22:33] enriquesanchez commented on #7420
![imagen](https://user-images.githubusercontent.com/3276087/202813548-d5109f65-25c3-45f6-85ed-166b810ad588.png)

→ [Figma source](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=165%3A40323&t=9oIuB2J89JlHnQQ9-4)

# Acceptance criteria

- If users open a standup activity that has already ended or expoired, and the next one is yet to start (for example, standups that are not dai

[2022-11-18 22:35] enriquesanchez opened #7457 "Recurrence: Find your way to the current activity if the one you are looking at has expired"
Part of https://github.com/ParabolInc/parabol/issues/7410

→ [Figma explorations](https://www.figma.com/file/2tpJMKUScCyvSA9YJwmM0a/Recurrence?node-id=0%3A1)

[2022-11-18 22:38] enriquesanchez commented on #7457
This might be an edge case, but if I happen to open a standup that already ended (or say I left my browser tab open and the standup expired before I look back at it again), we should point users to the current one:

![imagen](https://user-images.githubusercontent.com/3276087/202813204-5456f629-20b1-4406-a08f-a02f356a2ec2.png)

# Acceptance criteria
- If a user opens an expired standup, and a new o

[2022-11-18 22:38] enriquesanchez commented on #7457
@BartoszJarocki also ready for your review 👍

[2022-11-18 23:05] tianrunhe opened #7458 "Clicking emoji will scroll down the screen in a stand up meeting"
![2022-11-18 15 06 11](https://user-images.githubusercontent.com/1879975/202817729-ea814a1d-a6b3-4013-8774-0bfba66531cd.gif)

### Acceptance Criteria (optional)
- [ ] Clicking emoji won't scroll down the screen in a stand up meeting

Triage is performed to find the root cause of the bug, timeboxed to ~1 hour.

**Estimated effort:** 1 hour to triage. More if root cause is already identified.

[2022-11-21 07:43] Dschoordsch commented on #6806
Awesome!

[2022-11-21 15:39] gcrickman opened #7459 "Automatically calculate average value in Sprint Poker"
Some users would like the average value automatically calculated in the estimate phase as the suggested value. I know I've heard this at least once before and another request came in recently from this [user](https://app.hubspot.com/contacts/3888472/contact/115996451) 🔒 :

For our team, the mean value is very exciting. We have very experienced programmers and beginners. The average (in our experie

[2022-11-21 15:56] acressall commented on #7383
@igorlesnenko here are the designs:

## Snackbar & profile nav
The snackbar can be closed by the user and will not come back. The link in the profile nav will be present for as long as usage stats are present
![Snackbar CTA - Usage stats](https://user-images.githubusercontent.com/18582225/203099966-8fa4fe61-8921-4eee-837b-5d54ac56c04c.png)

## Usage stats page
There is a notification for when the

[2022-11-21 15:59] acressall commented on #7370
@igorlesnenko will the emails come from mailgun/custom email templates or can we use HubSpot? Do we need an issue for triggering the initial "overage" email?

I can coordinate with marketing to get content for those

[2022-11-22 09:59] igorlesnenko opened #7462 "TypeError: Cannot read properties of null (reading 'getValue')"
https://sentry.io/organizations/parabol/issues/3677623754/?referrer=github_plugin

[code]

14 events 10 users

[2022-11-22 10:19] igorlesnenko opened #7463 "Error: NotFoundError: Failed to execute 'insertBefore' on 'Node': The node before which the new node is ..."
Error https://action.parabol.co/retrospective-demo/group

https://sentry.io/organizations/parabol/issues/1245488138/?referrer=github_plugin

[code]

140 events 14 users

[2022-11-22 10:21] igorlesnenko opened #7464 "TypeError: Load failed"
TypeError: https://action.parabol.co/meet/{...}/discuss/13

https://sentry.io/organizations/parabol/issues/2752872031/?referrer=github_plugin

[code]

69 events 18 users

[2022-11-22 10:31] igorlesnenko opened #7465 "TypeError: Cannot destructure property 'id' of 'l' as it is null."
https://sentry.io/organizations/parabol/issues/3693292974/?referrer=github_plugin

[code]

[2022-11-22 11:09] Dschoordsch commented on #7358
Updated with locked meetings:
![Screenshot from 2022-11-22 12-05-59](https://user-images.githubusercontent.com/7331043/203298970-19eb7747-da4c-4d8b-ab3e-cbceb4333272.png)
And here also a check-in:
![Screenshot from 2022-11-22 12-06-34](https://user-images.githubusercontent.com/7331043/203298983-00fc231e-65af-443d-91a0-56381f2d2871.png)

One thing I missed before is that a user can be in both paid

[2022-11-22 12:07] Dschoordsch commented on #7359
I propose showing the same message as in #7358 as a Dialog above the actual meeting which we blur just enough so no details are visible.

![Screenshot from 2022-11-22 13-04-04](https://user-images.githubusercontent.com/7331043/203309749-87c76e42-909a-460c-94d5-1939b5dd216a.png)

There is no link to the dashboard or similar because the locked meeting could only be reached by a direct link, most lik

[2022-11-22 12:08] Dschoordsch commented on #7359
@acressall, @avivapinchas could you please check the proposed design?

[2022-11-22 13:54] garethaledavies opened #7466 "Missing prompts on Starfish Retrospective"
The Starfish retrospective template is missing prompts. I know this has happened before for SaMoLo and perhaps some others. It would be great to get a fix for this, but also to understand how/why this keeps happening.

Here's the template with missing prompts:

<img width="903" alt="Screenshot 2022-11-22 at 14 50 14" src="https://user-images.githubusercontent.com/15236825/203330807-09b46d0b-c7e8-4

[2022-11-22 14:09] acressall commented on #7359
I like the design!

I wonder if we should still have a link to the timeline so they can view the meetings they _do_ have access to? Not a dealbreaker though

[2022-11-22 14:12] acressall commented on #7358
This is a nice iteration!

Should we specify in the upgrade card which org we're talking about? For both this and the modal version?

[2022-11-22 14:13] acressall commented on #7358
One other thought: maybe we make the icon the grape colour, like you did in the upgrade card? Right now I tend to skip over the icon and really have to read to see which ones are locked. A little bit of colour differentiation might help

[2022-11-22 15:25] BartoszJarocki commented on #7412
@enriquesanchez looks good! and yes, we can have a human-readable version of recurrence rules for example:
[code]

last question, how does the select/input for `Each instance starts at` work? is it just an input or dropdown with predefined set of values?

[2022-11-22 16:20] nickoferrall opened #7467 "AI Summary: track relevant events"
To understand whether the AI summary feature has been used and is useful, we'll want to track relevant events.

Speak with the data team to find out which events should be tracked and update the AC below.

### Proposed AC

- [ ] Track when the meeting summary has been viewed

[2022-11-22 16:21] nickoferrall opened #7468 "AI Summary: design: meeting summary includes GPT-3 summary"
For retrospective meetings, the meeting summary includes a GPT-3 generated summary of the whole meeting and a summary of each topic.

### AC

- [ ] Design approved for a whole meeting summary at the top of the meeting summary
- [ ] Design approved for a topic summary (i.e. the reflections shared in that topic) in the meeting summary
- [ ] Design approved for a discussion summary (i.e. the comments

[2022-11-22 16:21] nickoferrall opened #7469 "AI Summary: design: discussion thread includes summary of reflections"
In a retrospective meeting, the discussion thread includes a summary of the reflections added to that topic.

If Parabol is running on an air-gapped network, we won't reach out to the GPT-3 API. In that case, we won't show a summary in the discussion thread - we'll show the empty state that we currently have in production.

### AC

- [ ] Design approved of a comment in the discussion thread that s

[2022-11-22 16:22] nickoferrall opened #7470 "AI Summary: implement whole meeting summary in meeting summary"
In the meeting summary, include a GPT-3 generated ~2 sentence summary of all the reflections and comments that happened during the meeting.

### AC

- [ ] Add a `summary` field to the `NewMeeting` gql object and db
- [ ] Once a meeting has ended, use GPT-3 to generate a summary of all of the reflections and comments in the meeting
- [ ] Include that summary at the top of the meeting summary follow

[2022-11-22 16:30] nickoferrall opened #7471 "AI Summary: implement topic & discussion summary"
In the retrospective meeting summary, include a GPT-3 generated ~2 sentence summary of all the reflections in the topic and another summary sentence of all of the comments in the topic.

### AC

- [ ] Add a `topicSummary` field (this is a summary of the reflections in the topic) to the `Discuss` phase GraphQL object and db table
- [ ] Add a `discussionSummary` field (this is a summary of the comme

[2022-11-22 16:34] nickoferrall opened #7472 "AI Summary: implement summary of discuss stage reflections in discussion thread"
Predecessor: https://github.com/ParabolInc/parabol/issues/7471

### AC

- [ ] In each Discuss stage of a retro, include the `topicSummary` as a comment from Parabol
- [ ] The comment should look like the design in https://github.com/ParabolInc/parabol/issues/7469
- [ ] Make the GPT-3 API keys an optional environment variable. If the key doesn't exist, don't show the `topicSummary` and show the dis

[2022-11-22 16:35] #7309 closed

[2022-11-22 16:36] nickoferrall opened #7473 "AI Summary: add feature flag"
### AC

- [ ] Add AI summary feature flag

[2022-11-22 16:36] acressall commented on #7401
Closing as duplicate of #7309

[2022-11-22 16:40] nickoferrall opened #7474 "AI Summary: add live chatbot"
To get qualitative feedback from users, add the live chat bot to the AI summary feature.

Check with the Growth team to find out where the best place to include this is.

### Proposed AC

- [ ] Live chatbot added to meeting summary

[2022-11-22 16:43] nickoferrall opened #7475 "AI Summary: run A/B test"
We want to know whether the AI summary is a premium feature that users want.

Speak with the data & growth team to determine the experiment.

### AC

- [ ] For X time, run the experiment

[2022-11-22 16:47] acressall opened #7476 "New Checkout Flow"
## Related Issues

### Design
* [x] #6816
* [x] #7528
* [x] #7529
* [x] #7530
* [x] #7531
* [x] #7692
* [ ] #7693
* [ ] #7694
* [x] #7695
* [ ] #7696
* [x] #7697

[2022-11-22 16:52] nickoferrall opened #7477 "AI Summary: let users trial this premium feature"
We want the AI Summary feature to be a premium feature, but we also want users to be able to try before buying.

For example, we could share the GPT-3 generated summaries with users for their first three real retros (e.g. if 3 or more meeting members joined the meeting and there were more than 5 reflections).

@igorlesnenko is currently working on a cron job for the Teams Limit epic (see [Slack th

[2022-11-22 16:53] nickoferrall opened #7478 "AI Summary: invert feature flag"
If the A/B test (https://github.com/ParabolInc/parabol/issues/7475) has been successful, remove the feature flag.

### AC

- [ ] AI Summary feature flag has been removed
- [ ] Add feature flag to users who have opted out

[2022-11-22 16:55] #7302 closed

[2022-11-22 16:56] #6760 closed

[2022-11-22 17:16] nickoferrall commented on #6589
@mwermuth looks like @Dschoordsch and @drewhousman1010 agree with you. Happy for us to close this issue for now?

[2022-11-22 17:27] BartoszJarocki opened #7479 "Notifications: Introduce new notifications"
Introduce new notification types to drive engagement around in-app communication and collaboration
- [x] #7486
- [x] #7485

[2022-11-22 17:33] #7408 closed

[2022-11-22 17:33] #7287 closed

[2022-11-22 17:46] nickoferrall opened #7480 "AI Summary"
[Notion doc](https://www.notion.so/parabol/AI-summary-0db139fbccbe4a45a25c9b51437e4bda)

- [ ] https://github.com/ParabolInc/parabol/issues/7882
- [ ] https://github.com/ParabolInc/parabol/issues/7478
- [ ] https://github.com/ParabolInc/parabol/issues/7477
- [ ] https://github.com/ParabolInc/parabol/issues/7475
- [ ] https://github.com/ParabolInc/parabol/issues/7474
- [ ] https://github.com/Parabo

[2022-11-22 19:05] Dschoordsch commented on #7456
This probably happened when we switched from font to svg icons in #6062

[2022-11-22 19:11] jordanh commented on #7479
Scrubbed. I see this is fresh, but please update AC and EE :)

Just want you to know the walls have eyes

[2022-11-22 19:13] jordanh commented on #7472
Please update AC to account for what happens when Parabol is running without access to Open AI/AI model provider. We must gracefully degrade

[2022-11-22 19:14] jordanh commented on #7471
Please update AC for what happens when GPT-3 is unavailable (e.g. if Parabol is running on an air-gapped network)

[2022-11-22 19:14] jordanh commented on #7470
Please add AC for gracefully degrading experience when Parabol is running on an air-gapped network

[2022-11-22 19:15] jordanh commented on #7469
Pls make sure design AC includes what happens when Parabol is running as a private instance, on an air-gapped network without access to GPT-3

[2022-11-22 19:16] jordanh commented on #7466
Wow. Super interesting. I agree with p2 label here. Let's figure this out

[2022-11-22 19:19] jordanh commented on #7463
Looks Chrome Mobile-related, perhaps. First instance 3 years ago

[2022-11-22 19:21] jordanh commented on #7462
Because the back trace on this one is a bit odd (why is removeAgendaItem being called from `/meetings`)? I am going to label it a p3 v p4

[2022-11-22 19:22] jordanh commented on #7459
I'd like something similar...rather than the average I'd like the mode. I'd personally like this to save from having to reach for the keyboard if we are _almost_ at consensus.

[2022-11-22 19:23] jordanh commented on #7453
This bug has been haunting us _for years_. I wish we could figure it out.

[2022-11-22 19:25] jordanh commented on #7443
Scubbed. Noting needs completed AC and EE

[2022-11-22 19:26] jordanh commented on #7437
Will Segment events be updated too, or will we continue using the legacy names?

[2022-11-22 19:28] enriquesanchez commented on #7412
That's the idea, yes. It's similar to how you pick a time in gCal:

<img width="200" alt="Captura de pantalla 2022-11-22 a la(s) 1 26 53 p m" src="https://user-images.githubusercontent.com/3276087/203404061-669a7fd6-a460-4477-a82d-8c26a3914961.png">

The pre-defined values can be 30-mins apart (9:00, 9:30, 10:00, 10:30, etc...).

How does that sounds to you @BartoszJarocki ?

[2022-11-22 19:30] jordanh commented on #6564
Still the right thing to do

[2022-11-22 19:30] #6564 closed

[2022-11-22 19:30] #6562 closed

[2022-11-22 19:31] #6532 closed

[2022-11-22 19:31] #6531 closed

[2022-11-22 19:32] jordanh commented on #6474
@enriquesanchez iceboxing by policy. I hope we reopen this one with tension

[2022-11-22 19:32] #6474 closed

[2022-11-22 19:32] #6446 closed

[2022-11-22 19:32] #6443 closed

[2022-11-22 19:33] #6442 closed

[2022-11-22 19:33] #6430 closed

[2022-11-22 19:33] #6399 closed

[2022-11-22 19:34] #6346 closed

[2022-11-22 19:35] jordanh commented on #6320
Hey @MindEvo could you please try and reproduce this one to see if it is still an issue? If so, I will prioritize it a bit higher

[2022-11-22 19:35] #6315 closed

[2022-11-22 19:36] #6295 closed

[2022-11-22 19:36] #6294 closed

[2022-11-22 19:36] #6293 closed

[2022-11-22 19:49] Dschoordsch commented on #7306
The illustrations are not stored in the database, but are static content on the client side.
* put the graphic into [static/images/illustrations](https://github.com/ParabolInc/parabol/tree/master/static/images/illustrations)
* add the [import](https://github.com/ParabolInc/parabol/blob/22a0d9030d4323b415739eee8de019fbdf1c6573/packages/client/modules/meeting/components/ReflectTemplateDetails.tsx#L1

[2022-11-22 20:10] Dschoordsch commented on #7358
How about this:
![Screenshot from 2022-11-22 21-09-02](https://user-images.githubusercontent.com/7331043/203411428-54f9bcfd-66af-4cfe-aec8-17b5f5063544.png)

@ackernaut could you also check if this design is ok?

[2022-11-22 20:11] Dschoordsch commented on #7359
@ackernaut could you please review this design?

[2022-11-22 21:54] igorlesnenko commented on #7370
@acressall Initially, I was thinking about using MailGun and some default template like we use for Team invitation. For example:

<img width="1369" alt="image" src="https://user-images.githubusercontent.com/466991/203428479-442ef697-badc-41dd-a10d-a14ce54cbedf.png">

Do you think it is better to use HubSpot? What would be the difference?

I wrote this requirement here https://github.com/ParabolInc

[2022-11-22 22:05] enriquesanchez opened #7481 "Recurrence stable link: display meeting series on the meeting dashboard"
Part of #7450

[2022-11-22 22:05] enriquesanchez opened #7482 "Recurrence stable link: navigate to other meetings in the series (and return to current instance)"
Part of #7450

[2022-11-22 22:05] enriquesanchez opened #7483 "Recurrence stable link: see ended meeting series"
Part of #7450

[2022-11-22 22:05] enriquesanchez opened #7484 "Recurrence stable link: see a no active meetings view if the meeting series is active, but there are no active meetings"
Part of #7450

[2022-11-22 22:30] jmtaber129 opened #7485 "Notifications: Notify replies to standup response"
Implement an in-app and email notification for when a user replies to a standup response in the discussion thread.

AC:
- [ ] When a user replies to a standup response, the responder receives a notification both in-app and as part of their next notification batch
- [ ] The notification's message is `<User> replied to your response in <Meeting name>`
- [ ] The notification includes a link to the me

[2022-11-22 22:33] jmtaber129 opened #7486 "Notifications: Notify mentions in discussion threads"
When a user is at-mentioned in a discussion thread, they receive a notification.

Order of importance in meetings:
* Poker - discussions on tickets
* Standups - threads on responses
* Async retros - discussions on topics
* (action meetings usually happen sync, and don’t currently allow discussions to happen before the agenda stage is started, so this is less relevant)

AC:
- [ ] When a user at-men

[2022-11-23 04:10] tianrunhe commented on #7437
Segment should be updated. I can collaborate with whoever pick up this issue. Although there might be a long migration period when both of the legacy & new names will be present.

[2022-11-23 05:07] MindEvo commented on #6320
During my attempts to reproduce this bug I discovered that I was able to make it appear after making and creating a/the 5th Jira push (see video) during the Sprint Poker scoping. I tested this on both Brave, Chrome and Firefox however the latter would show the bug on the 3rd push.

Loading the Atlassian Project board and viewing the issues appeared to reset everything. After viewing I could push n

[2022-11-23 10:17] #7385 closed

[2022-11-23 11:04] #7240 closed

[2022-11-23 11:28] nickoferrall opened #7487 "Prevent cloning templates from the server"
See https://github.com/ParabolInc/parabol/pull/7452#pullrequestreview-1191459538

### AC

- [ ] `addReflectTemplate` mutation checks whether the user should be able to clone the template
- [ ] `addPokerTemplate` mutation checks whether the user should be able to clone the template

[2022-11-23 11:28] #7451 closed

[2022-11-23 11:29] #7444 closed

[2022-11-23 11:51] #7455 closed

[2022-11-23 11:59] nickoferrall opened #7488 "AI Summary: implement discussion summary in the meeting summary"
In the retrospective meeting summary, include a GPT-3 generated ~2 sentence summary of all of the comments in the discussion thread of the topic.

### AC

- [ ] Add a `discussionSummary` field (this is a summary of the comments in the topic) to the `Discuss` phase GraphQL object and db table
- [ ] When the meeting ends, use GPT-3 to generate the `discussionSummary`
- [ ] Include the `discussionSum

[2022-11-23 14:41] nickoferrall commented on #7472
@jordanh issue description updated 👍

[2022-11-23 14:41] nickoferrall commented on #7488
@jordanh issue description updated 👍

[2022-11-23 14:41] nickoferrall commented on #7471
@jordanh issue description updated 👍

[2022-11-23 14:41] nickoferrall commented on #7470
@jordanh issue description updated 👍

[2022-11-23 14:41] nickoferrall commented on #7469
@jordanh issue description updated 👍

[2022-11-23 14:42] nickoferrall commented on #7468
@jordanh issue description updated 👍

[2022-11-23 17:02] Ben-Bock commented on #6724
Hi @nbartels - could you share your docker-compose file here, since I'm running exactly into the same issues. Some help here would be great. Thx

[2022-11-23 18:29] nickoferrall opened #7490 "Handle missing env vars in GoogleLanguageManager"
If the `GoogleLanguageManager` env vars don't exist, such as for users with an air-gapped network, it should fail gracefully.

See [Slack thread](https://parabol.slack.com/archives/C042E8PGPD4/p1669225237985189?thread_ts=1669202025.457489&cid=C042E8PGPD4) for further context.

### AC

- [ ] If `GoogleLanguageManager` env vars don't exist, gracefully fail

[2022-11-23 19:06] nickoferrall commented on #7469
Hey @acressall, how do you feel about this design as the GPT-3 generated summary in the discussion thread? When the user proceeds to a Discuss stage of a retro, they would see the summary of the reflections in that topic:

![ai-summary](https://user-images.githubusercontent.com/39854876/203626894-db41fdbe-9328-4ce8-a13c-57372d5d86e2.png)

The one thing I'd change from the image above is the user n

[2022-11-23 19:25] nickoferrall commented on #7468
Hey @acressall, what do you think of this design for the topic and discussion summary in the meeting summary:

![topic-summary](https://user-images.githubusercontent.com/39854876/203627995-79e5fdee-fd7f-4c94-92f5-ebab0ec570de.png)

^ this would be during the feature trial. If they're a paying user, they wouldn't see the _AI generated summaries are a..._ bit.

And what do you think about this for t

[2022-11-23 20:04] acressall commented on #7468
A few clarifying questions:

1. Are we scoping this to just retros right now? Or do we need to design the discussion summaries for sprint poker too?
2. Would both the general "meeting summary" and the topic summaries appear in the same view?
3. Is there a way we can track the value add here?

Visually, I think the placement and hierarchy are good!

[2022-11-23 20:07] acressall commented on #7469
Clarifying questions:

1. Is this shown automatically, or do I need to make it happen? What would that look like?
2. Should there be some kind of feedback option for free users? ie. "Was this helpful? Yes/No"
3. How many are the "first few retros"?
4. Can I see a discussion summary here too? Or only at the end/in the meeting summary?

[2022-11-23 20:16] nickoferrall commented on #7468
Just the retros for now

In the meeting summary, we'd have the GPT-3 generated "whole meeting summary" (open to a better name...) at the top below "Export to CSV", and the "topic summary" below each topic, like the "Shaping Work / Feeling Starved" example above.

We've got this issue open to track events https://github.com/ParabolInc/parabol/issues/7467 and this one to get some qualitative feedbac

[2022-11-23 20:21] nickoferrall commented on #7469
It would happen automatically as the user proceeds to the DIscuss phase. They would arrive at the top votes Discussion topic and see the GPT-3 generated summary in the discussion thread

Yep, completely agree - we've got this issue open to get live feedback: https://github.com/ParabolInc/parabol/issues/7474

To be decided. We could run a couple of different tests, see Notion thread [here](https://

[2022-11-23 22:05] Dschoordsch commented on #7490
Duplicate of #3641

[2022-11-23 22:05] #7490 closed

[2022-11-24 13:19] notxcain commented on #5029
Upvoting this request! It would be very handy to transfer Parabol tasks to ClickUp after a session.

[2022-11-28 08:30] Dschoordsch commented on #3641
@nbartels the idea of the manager is to create a group name for reflections. Each time you add a card to a group, a group name is suggested based on the contents of all cards, unless you've chosen a custom title already.

[2022-11-28 12:48] nbartels commented on #6724
@Ben-Bock sure. But it was not that easy. Please check the commits on my personal branch: https://github.com/nbartels/parabol/commits/dev-2022

I modified the Dockerfile.prod and added two new docker-compose files, that are split versions of the original docker-compose file. Additionally, I added a commit from another branch, because I don't use the Google configuration in the env file.
BTW, I cha

[2022-11-28 18:08] #5852 closed

[2022-11-28 18:09] mattkrick commented on #5856
still a thing, iceboxing

[2022-11-28 18:09] #5856 closed

[2022-11-28 18:12] mattkrick commented on #6053
good idea, low priority, iceboxing

[2022-11-28 18:12] #6053 closed

[2022-11-28 18:13] #6149 closed

[2022-11-28 18:14] #6195 closed

[2022-11-28 18:15] mattkrick commented on #6208
Removing stale flag since this unlocks more usage with our github integration. We'll probably want to do this before we invest anything else into the github integration

[2022-11-28 18:16] mattkrick commented on #6245
Iceboxing this since the solution is to focus on #6208

[2022-11-28 19:20] #7445 closed

[2022-11-29 10:11] #7487 closed

[2022-11-29 11:29] nickoferrall commented on #7235
The most recent [invoice](https://dashboard.stripe.com/invoices/in_1M7HjjFLaFINmHnBtk3P2Uib) 🔒 cleared out all of the queued-up invoices from August & Sep 2021. There were only 831 line items in November instead of 2,000, which we were seeing for previous invoices.

[November's invoice](https://action.parabol.co/me/organizations/HdBa4q0t6S) isn't showing up in their billing page. I'll check in Dec

[2022-11-29 13:12] BartoszJarocki commented on #7419
Looks great!

[2022-11-29 13:13] BartoszJarocki opened #7495 "Recurrence: Add recurring meeting indicator in meeting view"

[2022-11-29 13:15] BartoszJarocki opened #7496 "Recurrence: Show confirmation snackbar after enabling recurrence from the meeting view"

[2022-11-29 13:16] BartoszJarocki commented on #7418
👌

[2022-11-29 13:17] BartoszJarocki commented on #7417
Looks great! what about mobile view @enriquesanchez ?

[2022-11-29 13:18] BartoszJarocki opened #7497 "Recurrence: Add an option to edit recurrence settings from the meeting view"
Design: https://github.com/ParabolInc/parabol/issues/7417

AC:
- [ ] when meeting is recurring, overflow options menu shows `Edit recurrence settings` item
- [ ] when meeting is _not_ recurring, overflow options menu shows `Enable recurrence` item
- [ ] clicking recurrence menu item shows recurrence settings modal
- [ ] updating the recurrence settings correctly updates/enables the recurrence

[2022-11-29 13:24] BartoszJarocki opened #7498 "Recurrence: Add information when the next meeting is going to start to the ended meeting view"
Design: https://github.com/ParabolInc/parabol/issues/7420

AC:
- if the meeting has already ended but recurrence is still active information when the next meeting is going to start is visible

[2022-11-29 13:25] BartoszJarocki commented on #7420
👌

[2022-11-29 13:27] BartoszJarocki opened #7499 "Recurrence: Add time left indicator to a recurring meeting"
Design: https://github.com/ParabolInc/parabol/issues/7421

AC:
- [ ] when meeting is recurring, time left indicator is visible

[2022-11-29 13:29] BartoszJarocki commented on #7421
Looks good! what if there's less than 1h left, should we show minutes?

[2022-11-29 13:31] BartoszJarocki opened #7500 "Recurrence: Show current activity link when browsing through already ended meetings in the series"
Design: https://github.com/ParabolInc/parabol/issues/7457

AC:
- [ ] when browsing through already ended meeting in the series a link to the currently active meeting is showing (if there's any)

[2022-11-29 15:38] nickoferrall opened #7501 "AI Summary: limit access to feature on the Starter plan"
We want to give free users access to the AI Summary feature so they can decide whether they'd like to upgrade to access it.

One option would be to show the summary for the first three "real" retros. A "real" retro could be a retro with three or more meeting members and five or more reflections. See discussion in Notion [here](https://www.notion.so/AI-summary-0db139fbccbe4a45a25c9b51437e4bda?d=b2d

[2022-11-29 15:57] #7473 closed

[2022-11-29 16:33] ackernaut commented on #7359
Hey @Dschoordsch
- If they upgrade can they see all meeting history? If so I’d like to edit the copy a little ‘Your plan includes 30 days of meeting history. Unlock all meeting history by upgrading.’
- I assume tapping that button takes them to the billing view?
- Are we planning to track interactions with this dialog?
- Small visual design details:
  - The lock icon is okay IMO. I wonder if there

[2022-11-29 16:43] ackernaut commented on #7358
Hey @Dschoordsch

I looked at this briefly then reviewed #7359 first. I see now how similar they are. Some details from [this review comment](https://github.com/ParabolInc/parabol/issues/7359#issuecomment-1330924571) still apply.
- I see you are using the lock icon in both places. The continuity makes sense. An illustration may feel a bit heavy in this view (as suggested in the other comment)
- On

[2022-11-29 17:18] #6589 closed

[2022-11-29 18:13] avivapinchas commented on #7443
@tghanken added deets from our convo - anything else you need from me here?

[2022-11-29 18:19] avivapinchas opened #7502 "Staggered roll-out for Meeting History Limit"
## Issue - Enhancement

Epic here: #7375

Since this is a new limit, we want to test this feature to determine if we see an impact, and hear concerns early before full release.

[Discussion here](https://parabol.slack.com/archives/C042E8PGPD4/p1668540172077129) 🔒

### Acceptance Criteria (optional)
Roll-out should be:
- First release: 50% of users should see the varition. If there's no meaningful

[2022-11-29 19:34] tghanken commented on #7443
@nickoferrall can you confirm `templateLimit` is the correct feature flag for this?  If so, I think we're good to go!

[2022-11-29 19:37] tghanken commented on #5387
Closing this as we now populate HubSpot from data-sanctum.

[2022-11-29 19:37] #5387 closed

[2022-11-29 20:04] #7419 closed

[2022-11-29 20:04] #7418 closed

[2022-11-29 20:08] #7420 closed

[2022-11-29 20:10] enriquesanchez commented on #7417
Thanks! On mobile the modal fits nicely in the center of the sceen, similar to how we handle the mobile view on #7412

![image](https://user-images.githubusercontent.com/3276087/204637224-9562ce60-97bc-487d-b2e2-3fb7360e810a.png)

[2022-11-29 20:10] #7417 closed

[2022-11-29 20:11] enriquesanchez commented on #7412
@BartoszJarocki Let me know if this one feels ready for implementation

[2022-11-29 20:12] enriquesanchez commented on #7421
@BartoszJarocki Yes, I think so. (`13 minutes left`, `3 minutes left`, etc)

[2022-11-29 20:12] #7421 closed

[2022-11-29 20:12] enriquesanchez commented on #7457
@BartoszJarocki Let me know if this one feels read y for implementation

[2022-11-29 22:44] adaniels-parabol opened #7503 "Jira integration broken when ip whitelisting is enabled"
### Pre-submission instructions (remove me before creating an issue)

## Issue - Bug
When a user is trying to integrate with Jira where IP whitelisting is enabled, the integration flow continues through as designed, but doesn't showed "Connected". When this happens if you go to a card in the task list, and click the integration arrow, click integrate with Jira here and follow the process, you get

[2022-11-29 22:51] adaniels-parabol commented on #7503
We should also include in the request, the server IP they need to add.

[2022-11-29 22:56] adaniels-parabol commented on #7503
Sentry log shows ```
SEND TO SENTRY Error: The IP address has been rejected because it is not on the allowedlist. See your admin for more information.
    at Object.resolve [as MutationaddAtlassianAuthResolver] (/parabol/dist/gqlExecutor.js:1:229435)
[code]

[2022-11-29 23:12] gcrickman commented on #5870
This [user](https://app.hubspot.com/contacts/3888472/contact/112525951) 🔒 is experiencing the same problem, no Slack notifications for the timers.

[2022-11-29 23:18] mattkrick commented on #7503
what version was this? it might be fixed by https://github.com/ParabolInc/parabol/pull/7432

[2022-11-29 23:20] adaniels-parabol commented on #7503
Parabol version is 6.82.0. We added the IP to https://admin.atlassian.com/ > Security > IP Whitelist of the requesting server to solve the issue, but we just didn't get a good error on the integrations page only on the card itself is where we got the error.

[2022-11-29 23:21] adaniels-parabol commented on #7503
TL/DR: friendly error when doing the integration from a card, but on the integration page, no error.

[2022-11-30 11:00] nickoferrall commented on #7443
@tghanken yep, `templateLimit` is the correct feature flag!

🥳 🥳 🥳

[2022-11-30 15:37] gcrickman opened #7504 "No timer notifications are send via slack and mattermost #5870"
This is not a customer

[2022-11-30 15:50] #7272 closed

[2022-11-30 17:21] nickoferrall commented on #7437
Hey @tianrunhe, how can I help with the segment events?

[2022-11-30 17:24] BartoszJarocki opened #7506 "Release test v6.84.0"
- The basic checklist is required
- Adding tests from merged PRs is optional

## The basics

Run through this list at least once at [staging](https://action-staging.parabol.co):

- [ ] Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ] Created an account
- [ ] Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an

[2022-11-30 19:08] mattkrick commented on #7503
fixed in 6.83.0

[2022-11-30 19:08] #7503 closed

[2022-11-30 19:22] MindEvo commented on #7506
## Summary
... Testing in progress ...
## Standard Checks

- [ ]  Smoke tested the [Demo](https://action-staging.parabol.co/retrospective-demo), unauthenticated
- [ ]  Created an account
- [ ]  Verified invite via mass link works (Team > Invite Button > Invite Link, visit URL in an incognito window)
- [ ]  Verified invite via email works
- [ ]  Added Slack, verified meeting notifications (use #t_p

[2022-11-30 20:15] Dschoordsch commented on #7358
@ackernaut thanks for checking. We will track the events. The link will go to the billing page. I also added the team name here as it might be ambiguous otherwise.
![Peek 2022-11-30 18-07](https://user-images.githubusercontent.com/7331043/204899055-0275e5ed-773b-4ee0-9b4c-9260d9ab8b95.gif)

[2022-11-30 20:22] gcrickman opened #7508 "Project not showing up when trying to push tasks"

[2022-11-30 20:27] ackernaut commented on #7358
I think it’s looking good! What happens if they are blocked on multiple teams? Is the copy conditional?

[2022-11-30 20:31] Dschoordsch commented on #7358
I think this is very rare. I've opted to show the message just before the first locked meeting with the team name of that meeting, i.e. the newest locked one.
If the timeline contains 3 teams, 1 is pro, 2 and 3 are locked, then the message might only mention team 2, but meetings of 2 and 3 will appear with a lock and clicking on those will lead to the appropriate team upgrade screen. We could show

[2022-11-30 20:34] ackernaut commented on #7358
Yeah, I can see how it’s rare. I think showing the CTA once is fine. That GIF does say ‘Unlock’ twice in that second sentence.

[2022-11-30 20:46] Dschoordsch commented on #7358
Thanks, will fix that.

[2022-11-30 22:23] tianrunhe commented on #7437
Your WIP PR looks pretty exhaustive and already covers a couple of places I was thinking. Tag me when it's ready!